/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Map Container
   ========================================================================== */

@import '../../../../app/variables';

.FullScreen {
  background-color: $white !important;
  color: #04121780;
  width: 28px !important;
  height: 28px !important;
  border: 1px solid #CDCDCD !important;

  &:hover {
    background-color: #ddd !important;
    svg {
      color: $black !important;
    }
  }

  svg {
	width: 16px !important;
	margin-left: -2px;
	margin-top: -2px;
  }
}