/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '28/04/2026'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   SDMX style
   ========================================================================== */

#Form .Data {
  .MuiButton-primary {
    margin: 1rem;
  }

  .form-label {
    opacity: 0;
  }
}

.SDMX-Indicator-Layer-Config {
  #Form {
    &.SDMX-Config {
      > .SDMX-Config {
        display: block !important;

        .Filter-Dimensions {
          display: none;
        }
      }
    }

    &.Filter-Dimensions {
      > .SDMX-Config {
        display: block !important;;

        .FormAttribute {
          display: none;
        }
      }
    }
  }

  .DimensionSection {
    > div {
      > label {
        display: none;
      }
    }

    .DimensionGrid {
      padding: 0;
      border: none;
      flex-direction: column;
      gap: 2rem;
    }
  }
}