.MapBoxStyleEditor {
  height: 100%;
  width: 100%;
  overflow-y: auto;

  .MuiPaper-root {
    box-shadow: unset !important;
    margin: 0 !important;
  }

  .MuiAccordionSummary-root {
    border: 1px solid #ddd;
    min-height: unset !important;
    padding: 0.5rem 1rem !important;
    background-color: #eee;
  }

  .MuiAccordionSummary-content {
    margin: 0 !important;

    svg {
      height: 1rem;
      width: 1rem;
    }
  }

  .MuiCollapse-root {
    border: 1px solid #ddd;
    border-top: unset;
  }

  & > div {
    .LayerId, .LayerDelete {
      background-color: #eee;
      padding: 3px 1rem;
      width: fit-content;
    }

    .LayerDelete {
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }

      svg {
        height: 1rem;
        width: 1rem;
      }
    }

    .LayerStyleForm {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      label {
        font-weight: 700;
      }
    }
  }

  .AdditonalStyleEditor {
    border: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    gap: 0.5rem;

    & > div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      border: 1px solid var(--black);
      padding: 0.5rem;
      border-radius: 0.5rem;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}