{% extends 'frontend/admin/base.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block style %}
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
          integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
          crossorigin=""/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
    <script type="text/javascript"
            src="{% static 'libs/xlsx/0.17.5/jszip.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'libs/xlsx/0.17.5/xlsx.js' %}"></script>
{% endblock %}
{% block render_bundle %}
    {% render_bundle 'DashboardForm' %}
{% endblock %}
{% block scripts %}
    <script>
      {# specified url for dashboard #}
      urls.dashboardData = '{% url 'dashboard-data-api' slug=dashboard.id %}' + (window.location.href.split('?')[1] ? '?' + window.location.href.split('?')[1] : '')
      urls.bookmarkCreate = '{% url 'dashboard-bookmarks-create' slug=dashboard.id %}'
      urls.bookmarkList = '{% url 'dashboard-bookmarks' slug=dashboard.id %}'
      urls.bookmarkDetail = '{% url 'dashboard-bookmarks-detail' slug=dashboard.id pk=0 %}'
      urls.drilldown = '{% url 'dashboard-entity-drilldown' slug=dashboard.id concept_uuid='concept_uuid' %}'

      {% if dashboard.id %}
        urls.embedDetail = '{% url 'dashboard-embed' slug=dashboard.id %}'
      {% endif %}

      const definition = {{ definition|safe }};
      const projectCategories = {{ categories|safe }};
      const batch = null
      let editMode = true;
      urls.api = {
        'detail': '{% url 'dashboard-detail-api' slug=dashboard.id %}',
        'basemapListAPI': '{% url 'basemap-list-api' %}',
        'indicatorListAPI': '{% url 'indicator-list-api' %}',
        'contextLayerListAPI': '{% url 'context-layer-list-api' %}',
        'relatedTableListAPI': '{% url 'related-table-list-api' %}?permission=read',

        'styles': '{% url 'style-list-api'%}',

        {# This is for specific urls #}
        'basemaps': {
          'create': '{% url 'admin-basemap-create-view' %}',
          'detail': '{% url 'basemap-detail-api' 0 %}',
        },
        'indicators': {
          'create': '{% url 'admin-indicator-create-view' %}',
          'detail': '{% url 'indicator-detail-api' 0 %}',
        },
        'context layers': {
          'create': '{% url 'admin-context-layer-create-view' %}',
          'detail': '{% url 'context-layer-detail-api' 0 %}',
        },
        'permissionAdmin': '{% url 'admin-data-access-view' %}',
        'form': '{% url 'admin-indicator-value-form-manager' 0 %}',
        'map': '{% url 'admin-indicator-value-mapview-manager' 0 %}',
        'values': '{% url 'admin-indicator-value-list-manager' 0 %}',
        'dataBrowser': '{% url 'admin-dataset-view' %}',
      }

      // Format code choices
      const codelists = {{ codelists|safe }};
      const types = {{ types|safe }};
      const styleTypes = {{ styleTypes|safe }};
      const dynamicClassification = {{ dynamicClassification|safe }};
    </script>
{% endblock %}