{% extends 'frontend/admin/base.html' %}
{% load render_bundle from webpack_loader %}

{% block extrastyle %}
{% endblock %}

{% block render_bundle %}
    {% render_bundle 'AdminDashboardList' %}
{% endblock %}

{% block scripts %}
    <script>
      urls.api = {
        'list': '{% url 'dashboard-list-api' %}',
        'map': '{% url 'dashboard-detail-view' 0 %}',
        'detail': '{% url 'dashboard-detail-api' 0 %}',
        'create': '{% url 'admin-dashboard-create-view' %}',
        'edit': '{% url 'admin-dashboard-edit-view' 0 %}',
        'users': '{% url 'user-list-api'%}',
        'groups': '{% url 'group-list-api'%}',

        {# dashboard specified url#}
        'permission': '{% url 'dashboard-permission-api' 0 %}',
      }
    </script>
{% endblock %}