{% extends 'frontend/admin/base.html' %}
{% load render_bundle from webpack_loader %}

{% block extrastyle %}
{% endblock %}

{% block render_bundle %}
    {% render_bundle 'AdminIndicatorList' %}
{% endblock %}

{% block scripts %}
    <script>
      urls.api = {
        'list': '{% url 'indicators-list' %}?fields=__all__',
        'create': '{% url 'admin-indicator-create-view' %}',
        'edit': '{% url 'admin-indicator-edit-view' 0 %}',
        'batch': '{% url 'admin-indicator-edit-batch-view' %}',
        'detail': '{% url 'indicators-detail' 0 %}',

        {# indicator specified url#}
        'form': '{% url 'admin-indicator-value-form-manager' 0 %}',
        'map': '{% url 'admin-indicator-value-mapview-manager' 0 %}',
        'dataBrowser': '{% url 'admin-dataset-view' %}',
        'permission': '{% url 'indicator-permission-api' 0 %}',
        'permissionAdmin': '{% url 'admin-data-access-view' %}',
        'styles': '{% url 'style-list-api'%}',
      }
    </script>
{% endblock %}