/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Context layers style
   ========================================================================== */

.mapboxgl-ctrl-legend {
  gap: 0;
  width: 100%;
  max-width: unset;
  margin-top: 1rem;

  summary {
    text-transform: capitalize;

    &.has-one-child {
      display: none;
    }
  }

  .list {
    margin: 0 var(--map-legend-margin);

    li {
      text-transform: unset;
      margin-left: 0 !important;
    }
  }

  .list--color {
    & li:before {
      height: 1rem;
      width: 1rem;
      border: var(--pane-border);
    }
  }

  .mapboxgl-ctrl-legend-pane {
    width: 100%;

    &.circle {
      & li:before {
        border-radius: 50%;
      }
    }

    &.line {
      & li:before {
        height: 2px;
      }
    }
  }

  .icon {
    margin-right: 3px;
  }

  br {
    display: none;
  }

  .list--color {
    li {
      margin-left: 0.5rem;
    }
  }
}