/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Context layers style
   ========================================================================== */

.mapboxgl-ctrl-legend {
  gap: 0;
  width: 100%;
  max-width: unset;

  summary {
    text-transform: capitalize;
  }

  .list li {
    text-transform: unset;
  }

  .mapboxgl-ctrl-legend-pane {
    border: 1px solid #eee;
    width: 100%;
    box-sizing: border-box;
  }

  br {
    display: none;
  }

  .list--color {
    li {
      margin-left: 0.5rem;
    }
  }
}