/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

.MultipleSelectWithSearch {

  .OtherOptions {
    color: #adb5bd !important;
    z-index: 1;

    button {
      padding: 0 !important;
    }

    svg {
      height: 11px;
      width: 11px;
    }
  }

  .MuiChip-label {
    font-size: 1rem !important;
  }

  &.Compact {
    .MuiChip-label {
      font-size: 0.9rem !important;
    }
  }

  .MuiAutocomplete-inputFocused {
    color: rgba(0, 0, 0, 0.87);
    background-color: unset !important;
  }

  .MuiAutocomplete-inputFocused {
    position: absolute;
    width: 100% !important;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }

  input {
    height: 100%;
    padding: 0 4px 0 12px !important;
    box-sizing: border-box;
  }

  &.SmallHeight {
    height: 35px !important;
  }
}

.SelectWithSearchInput {
  outline: 1px solid rgba(0, 0, 0, 0.23);
  outline-offset: -1px;
  display: flex;
  align-items: center;
  padding: 1px;
  box-sizing: border-box;

  .IconStart {
    margin-left: 1rem;
  }

  .MuiAutocomplete-root {
    flex-grow: 1;
    height: 100% !important;
  }

  &:hover {
    outline: 1px solid rgba(0, 0, 0, 0.87);
  }

  fieldset {
    border: unset !important;
  }
}


.SelectWithSearchInput,
.MultipleSelectWithSearch,
.SelectWithSearch {
  position: relative;
  height: var(--base-input-height);

  input {
    min-height: 34px;
  }

  .MuiFormControl-root {
    height: 100%;
  }

  .MuiInputBase-root {
    padding-right: 22px !important;
    min-width: 170px;
    height: 100%;

    & > .MuiButtonBase-root:not(:first-child) {
      display: none;
    }

    & > .MuiButtonBase-root {
      background-color: white;
      pointer-events: unset;

      span {
        padding: 0;
      }

      svg {
        display: none;
      }
    }

    input {
      height: 100%;
      box-sizing: border-box;
    }
  }

  .MuiAutocomplete-clearIndicator {
    display: none;
  }

  &.NoValue {
    .MuiAutocomplete-inputFocused {
      color: gray;
    }
  }

  &.MultipleValue {
    .MuiInputBase-root {
      & > .MuiButtonBase-root {
        span {
          display: none;
        }
      }
    }
  }

  &.FullWidth {
    .MuiInputBase-root {
      max-width: 100%;
    }
  }


  .MuiInputBase-root {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    input {
      padding-left: 0;
    }
  }

  &.ShowValues {
    .MuiInputBase-root {
      & > .MuiButtonBase-root {
        display: inline-flex !important;
        margin: 0;

        span {
          display: inline-flex !important;
        }
      }

      & > .MuiButtonBase-root:not(:first-child) {
        &:before {
          content: ',';
          margin-right: 4px;
        }
      }
    }

    input {
      color: rgba(0, 0, 0, 0);
    }
  }
}

.OptionMember {
  min-height: var(--base-input-height);
  padding: 0.5rem 0 !important;

  &.Compact {
    font-size: 0.9rem !important;
  }

  .MuiCheckbox-root {
    padding: 0 0 0 0.5rem !important;
  }
}