/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '26/12/2024'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Zonal Analysis tools
   ========================================================================== */

@import '../../app/variables';

.ZonalAnalysisToolConfiguration {
  .MuiForm-RadioGroup {
    border: unset !important;
  }

  display: flex;
  gap: 1rem;

  .MuiFormLabel-root {
    margin-bottom: 0.5rem !important;
    display: block;
  }

  input {
    padding-top: 10px;
    padding-bottom: 9px;
  }
}

.ZonalAnalysisTable {
  table {
    width: 100%;

    th, td {
      padding: 1px 3px;
      border: 1px solid $primary-color;
    }

    th {
      background-color: $primary-color;
      color: white;
      text-align: left;
    }
  }
}