/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '26/12/2024'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Zonal Analysis tools
   ========================================================================== */

@import '../../app/variables';

.ZonalAnalysisToolConfiguration {

  display: flex;
  gap: 1rem;

  .MuiForm-RadioGroup {
    align-items: center;
    display: flex !important;
    flex-direction: row;
    border: unset !important;
    padding-bottom: 0 !important;
  }

  .MuiFormLabel-root {
    display: block;
    margin-bottom: 0 !important;
    margin-right: 0.5rem;

    &.Mui-focused {
      color: rgba(0, 0, 0, 0.6) !important;
    }
  }

  .MuiFormGroup-root {
    display: flex;
    flex-direction: row;

    .MuiFormControlLabel-root {
      margin: 0 !important;
      margin-right: 0.5rem !important;
    }
  }

  input {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
  }

  .Buffer-Input {
    .MuiFormControl-root {
      width: 50%!important;
    }
  }
}

.ZonalAnalysisTable {
  max-height: 100px;
  overflow-y: scroll;

  table {
    width: 100%;

    th, td {
      padding: 1px 3px;
      border: 1px solid $primary-color;
    }

    th {
      background-color: $primary-color;
      color: white;
      text-align: left;
    }
  }
}

.ZonalAnalysisIcon {
  .PopupToolbarComponent {
    margin-left: -350px;
    width: 700px;
  }
}