/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/01/2025'
* __copyright__ = ('Copyright 2025, Unicef')
*/

.ResourceSelector {
  input {
    cursor: pointer;
  }
}

.ModalDataSelector {

  .AdminList {
    background-color: unset !important;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: var(--border-radius) !important;
    overflow: hidden;
  }

  .AdminTable {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: white;

    .AdminTableError {
      color: var(--error);
      margin: auto;
      width: 100%;
      height: 100%;
      text-align: center;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.5);
      padding-top: 200px;
      z-index: 9;
    }
  }

  .modal--box {
    width: 90%;
    max-width: 90%;

    .AdminContent {
      padding-top: 1rem;

      .AdminBaseInput {
        padding: 0 1rem 1rem 1rem;
      }
    }

    .AdminList {
      height: 500px;
      padding: 0;
    }
  }

  .ReferenceLayerSelector {
    &.localReferenceDatasetEnabled .DatasetSelector {
      margin-top: 1rem !important;
    }

    .RadioButtonControl {
      background-color: unset !important;

      .MuiRadioGroup-root {
        flex-direction: row;

        label {
          margin-left: 0;
        }
      }
    }
  }

  .DatasetLayerSelector {
    background: unset;
    padding: 0 1rem;

    .MuiFormControl-root {
      padding: 0 1rem 1rem 1rem;
    }

    .InputControl {
      padding: 0 0 1rem 0;
    }
  }
}

.ModalDataSelectorSelected {
  display: flex;
  flex-wrap: wrap;

  .ModalDataSelectorSelectedObject {
    border: 1px solid var(--gray-400);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    margin: 2px 2px 0 0;
    width: fit-content;
    display: flex;

    div {
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
      max-width: 12rem;
    }
  }
}

.PopoverFilterControl {
  .ReactSelect__control,
  .ReactSelect__value-container,
  .ReactSelect__input-container {
    height: unset !important;
  }
}

.ModalSelector {
  .MuiDataGrid-row {
    cursor: pointer;
  }
}