/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '12/02/2024'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   ReferenceLayerView Form style
   ========================================================================== */

@import '../../../../app/variables';

table {
  width: 100%;

  th, td {
    border: 1px solid $primary-color;
    padding: 0.5rem;

    &.isValue {
      padding: 0 !important;
    }
  }

  .AddNewLevel {
    align-items: center;
    cursor: pointer;
    display: flex;
    text-align: center;
    margin: auto;
    width: fit-content;

    &:hover {
      opacity: $base-hovered-opacity;
    }
  }
}