/**
 * TODO:
 *  This is working but broken when new indicators are being created with indicator.ts
 */
import { expect, test } from '@playwright/test';

const timeout = 2000;
const delay = ms => new Promise(resolve => setTimeout(resolve, ms))

const _url = '/admin/dataset/data-access#generals'

test.describe('Data access user admin', () => {
  test.beforeEach(async ({ page }) => {
    await page.goto(_url);
  });
  test('Test list functions', async ({ page }) => {
    await expect(page.getByRole('grid').first()).toContainText('Sample Indicator A');
    await expect(page.locator('.MuiTablePagination-displayedRows').first()).toContainText('1–4 of 4');
    await expect(page.locator('.MuiDataGrid-row .MuiSelect-nativeInput').nth(0)).toHaveValue('None');

    // Orders
    await page.reload();
    await page.getByLabel('Indicator').click();
    await expect(page.locator('.MuiDataGrid-row').nth(0).locator('.MuiDataGrid-cell').nth(1)).toContainText('Sample Indicator D');

    // Filters
    await page.reload();
    await page.getByRole('textbox').first().click();
    await page.getByRole('cell', { name: 'Select row' }).first().click();
    await page.getByRole('button', { name: 'Update Selection' }).click();
    await expect(page.locator('.MuiTablePagination-displayedRows').first()).toContainText('1–1 of 1');
    await expect(page.locator('.MuiDataGrid-row').nth(0).locator('.MuiDataGrid-cell').nth(1)).toContainText('Sample Indicator A');

    // Change role per row
    await page.reload();
    await page.locator('.MuiDataGrid-row').nth(0).getByRole('combobox').click();
    await page.getByRole('option', { name: 'Read' }).click();
    await page.locator('.MuiDataGrid-row').nth(1).getByRole('combobox').click();
    await page.getByRole('option', { name: 'Read' }).click();
    await page.reload();
    await expect(page.locator('.MuiDataGrid-row .MuiSelect-nativeInput').nth(0)).toHaveValue('Read');
    await expect(page.locator('.MuiDataGrid-row .MuiSelect-nativeInput').nth(1)).toHaveValue('Read');

    // Change role in batch
    await page.locator('.MuiDataGrid-cellCheckbox').first().click();
    await page.locator('div:nth-child(2) > .MuiDataGrid-cellCheckbox').click();
    await page.locator('div:nth-child(3) > .MuiDataGrid-cellCheckbox').click();
    await page.getByRole('button', { name: 'Change permission' }).click();
    await page.getByRole('combobox').click();
    await page.getByRole('option', { name: 'None' }).click();
    await page.getByRole('button', { name: 'Apply Changes' }).click();
    await page.reload();
    await expect(page.locator('.MuiDataGrid-row .MuiSelect-nativeInput').nth(0)).toHaveValue('None');
    await expect(page.locator('.MuiDataGrid-row .MuiSelect-nativeInput').nth(1)).toHaveValue('None');
    await expect(page.locator('.MuiDataGrid-row .MuiSelect-nativeInput').nth(2)).toHaveValue('None');
  });
})