/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Label Style
   ========================================================================== */

@import '../../../app/variables';

.PermissionFormModal {
  .modal--box {
    min-width: 90%;
    width: 90%;
  }

  .AdminContent {
    padding-top: 1rem;

    .BasicFormSection {
      margin: 0;
    }

    .MuiFormControl-root {
      padding: 0 !important;
    }

    .BasicForm {
      padding: 1rem;
    }
  }

  .BasicForm {
    padding: 0;
  }

  .Save-Button {
    margin-left: auto;
    padding: 0;
    width: fit-content;
  }
}

.PermissionForm {
  padding: 0;

  .form-label {
    font-weight: $base-font-regular;

    button {
      padding-right: 0.5rem !important;
      padding-left: 0.5rem !important;
      min-width: 0;

      svg {
        margin-right: 0;
      }
    }
  }

  .MuiFormGroup-root {
    display: flex;
    flex-direction: row;

    .MuiFormControlLabel-root {
      margin-left: 0;
      margin-right: 1rem;
      display: block;
      width: fit-content;

      .MuiTypography-root {
        font-weight: $base-font-weight;
        font-family: inherit;
      }
    }
  }


  .Mui-disabled {
    -webkit-text-fill-color: $base-black-color;
    color: $base-black-color;
    cursor: not-allowed;

    svg {
      display: none;
    }

    fieldset {
      border: none;
    }
  }

  .MuiDataGrid-root {
    .MuiButtonBase-root {
      width: 48px;

      &:hover {
        background-color: inherit !important;
      }

      svg {
        margin-right: 0;
      }
    }

    .Creator {
      .MuiCheckbox-root {
        display: none;
      }
    }

    .MuiDataGrid-selectedRowCount {
      color: white;
    }
  }

  & > .GeneralAccess,
  & > .Other {
    padding: 1rem;
  }

  & > .UserAccess, & > .GroupAccess, & > .GeneralAccess, & > .Other {
    border: 1px solid $primary-color;
  }

  .PermissionFormTableHeader {
    padding: 0.5rem;
    text-align: right;
    margin-bottom: 0.5rem;

    button {
      margin-left: 0.5rem;
    }
  }
}