/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/


.TableForm.Tools {
  .TableForm-Header {
    display: none;
  }

  li {
    div {
      .DraggableHandler {
        display: none !important;
      }
    }
  }

  .TreeItemCheckbox {
    display: none;
  }

  .AllToggleVisibility {
    min-width: unset;
    padding: 0;
    border-radius: 4px !important;

    svg {
      margin-right: 0 !important;
    }
  }

}

.ZonalAnalysisConfiguration {
  label {
    margin: 0;
  }

  .modal--box {
    max-width: 800px;
  }

  .modal--box,
  .modal--content {
    overflow: visible;
  }

  .modal--content {
    border-top: 1px solid var(--border-gray);
  }

  .MuiCheckbox-root {
    padding-top: 0;
    padding-bottom: 0;
  }

  .Creator {
    border: 1px solid var(--border-gray);
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
  }

  .LayerList {
    table {
      width: 100%;
      margin-bottom: 1rem;

      th, td {
        padding: 1px 3px;
        border: 1px solid var(--primary-color);
      }

      th {
        background-color: var(--primary-color);
        color: white;
        text-align: left;
      }

      .MuiButton-Error {
        padding: 0 !important;
        min-width: 1px;
      }
    }
  }
}