/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

.TreeView {
  form {
    padding: 0 !important;
    border-bottom: 1px solid #0412171A !important;
  }

  ul {
    padding-right: 0;
  }

  > ul {
    margin-left: 10px;

    li {
      margin-left: -10px;
    }

    > li {
      border-bottom: 1px solid #0412171A;

      .MuiTreeItem-content {
        flex-direction: row-reverse;
      }
    }
  }
}

.TreeItem {
  .Disabled,
  &.Disabled {
    .LayerName {
      opacity: 0.5;
    }

    .MuiTreeItem-content,
    .MuiTreeItem-label,
    .MuiFormControlLabel-root {
      cursor: not-allowed;
    }
  }

  &.Mui-selected {
    background-color: white !important;
    color: var(--primary-color);
  }

  .LayerInfoIcon {
    cursor: pointer;
  }

  .MuiTreeItem-content {
    align-items: start;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
  }

  label {
    align-items: flex-start;

    .InfoIcon {

      .MuiSvgIcon-fontSizeSmall {
        font-size: 1em;
        margin-left: 3px;
      }

      &.Error {
        color: red;
      }
    }

    .PanelInput {
      position: relative;
      padding-top: 5px;
      padding-right: 2px;

      .MuiCircularProgress-root {
        display: block;
        position: absolute;
        top: 3px;
        left: 0;
        height: 15px !important;
        width: 15px !important;
      }
    }

    .PanelCheckbox, .PanelRadio {
      padding: 0;
      padding-top: 0 !important;
      margin-top: -2px !important;
      padding-right: 0 !important;

      &.Mui-checked {
        color: var(--primary-color);
      }
    }

    .PanelCheckbox {
      margin-right: 2px;
      margin-left: -2px;
    }
  }
}

.MuiTreeItem-label {
  padding-left: 1rem !important;

  & > span {
    display: block;
  }

  label {
    margin-right: 0;

    .MuiTypography-root {
      margin-left: 3px;

      .LayerIcon {
        padding-top: 3px;
      }
    }
  }

  .MuiFormControlLabel-root {
    width: 100%;
    margin-left: 0 !important;
    display: flex;
    align-items: center;

    span {
      display: block;
    }

    .MuiTypography-root {
      display: block;
      overflow: hidden;

      & > span {
        display: flex;
        align-items: center;
        gap: 5px;

        & > .LayerName {
          display: block;
        }

        & > .LayerConfig {
          display: block;
        }
      }
    }
  }

  img {
    max-width: 100%;
  }

  .LayerName {
    width: 100%;

    &.Group {
      font-weight: 600;
    }

    span {
      display: inline !important;
    }

    &.Ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre;

      div {
        display: flex;
      }
    }

  }

  table {
    margin-left: 20px;
  }
}

.MuiTreeItem-content {
  align-items: flex-start;
  padding-right: 0 !important;
  padding-left: 0 !important;
  background-color: white !important;

  .MuiTreeItem-iconContainer {
    margin-right: 0;
    margin-top: 3px;
    width: auto !important;
  }

  &.Mui-selected {
    background-color: white !important;
  }

  &.Mui-disabled {
    opacity: 1 !important;
  }

  .GroupSelectable {
    .PanelCheckbox {
      margin-top: 3px !important;
    }
  }
}

.ContextLayersAccordion {
  .MuiTreeItem-group {
    .MuiTreeItem-content {
      padding-left: 11px !important;
    }
  }

  .MuiCircularProgress-root {
    left: -1px !important;
  }
}

.MuiTreeItem-group {
  margin-left: 0 !important;
  padding-left: 18px !important;
  box-sizing: border-box;
}

.PanelSearchBox {
  padding: 0.5rem !important;
  box-sizing: border-box;
  width: 100%;

  .MuiInputBase-root {
    width: 100%;
    background-color: #F4F4F4;

    input {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.ContextLayerMiddleConfig {
  box-sizing: border-box;
  max-width: 100%;
  transition: height 0.3s;
  z-index: 1;
  background-color: white;
  pointer-events: auto !important;

  .WhereConfigurationWrapper {
    width: 100%;
    max-width: 60vw;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 1rem;
  }

  .WhereConfiguration {
    height: 100%;
    padding: 0;
    display: flex;
  }

  .DateOperator {
    display: flex;
    border: unset !important;
    height: 26px !important;
    min-height: 26px !important;

    & > .WhereConfigurationOperatorType {
      margin-left: -1px;
    }
  }

  .WhereConfigurationQuery,
  .DateOperator {

    & > .MultipleSelectWithSearch,
    & > .SelectWithSearchInput,
    & > .WhereConfigurationOperatorValue,
    & > .WhereConfigurationOperatorText,
    & > .WhereConfigurationOperatorType,
    & > .SelectWithSearch,
    .DatePickerInput {
      height: 24px !important;
      min-height: 24px !important;
      background-color: white !important;
      border: var(--border);
      outline: unset !important;

      & > .SelectWithSearch {
        border: unset !important;
        height: 100%;
      }

      fieldset {
        border: unset !important;
      }

      .MuiInputBase-root {
        height: 23px !important;
        min-height: 23px !important;
      }

      input {
        min-height: 24px !important;
      }
    }

    & > .WhereConfigurationOperatorValue,
    & > .WhereConfigurationOperatorType {
      height: 25px !important;
      min-height: 25px !important;
    }

    .BetweenDash {
      color: white;
      width: 4px !important;
    }

    .DatePickerInput {
      padding-top: 1px;
      min-width: 170px;
    }

    & > .SelectWithSearchInput {
      height: 25px !important;
      min-height: 25px !important;
      padding: 0 !important;
    }

    & > .WhereConfigurationOperatorValue {
      width: 80px;
    }

    & > .WhereConfigurationOperatorText {
      display: block;
      border: unset !important;
      margin-right: 5px;
      margin-top: 3px;
    }

    &.IsDate {
      .SelectWithSearchInput {
        min-width: 190px;
      }
    }

    &.ShowOperator {
      .WhereConfigurationOperator {
        display: inline-block;
        height: fit-content;
        width: fit-content;
        min-width: unset;
        min-height: unset !important;

        div {
          background-color: white;
          width: fit-content;
          padding: 5px 0.5rem;
          display: inline-block;
        }

        fieldset,
        svg {
          display: none;
        }
      }
    }

    .DatePickerInput {
      display: inline-block !important;
    }
  }

  .top-bottom-toggle-button {
    position: absolute;
    bottom: -18px;
    left: 50%;
    height: fit-content;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  .WhereConfigurationResult {
    display: none;
  }

  .WhereConfigurationQueryGroup {
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: fit-content;
    padding: 0 0.5rem !important;

    .WhereConfigurationQuery {
      display: block;
      padding: 0 0.5rem;
      margin-bottom: 1rem;

      .MuiOutlinedInput-root {
        min-height: 40px;
        font-size: 0.9rem !important;
      }

      .MuiInputSliderWithInput {
        min-height: 40px;
      }
    }

    .WhereConfigurationOrAndWrapper {
      display: none;
    }

    .WhereConfigurationOperator {
      display: none;
    }

    .WhereConfigurationField {
      display: block;
      width: fit-content;
      padding-top: 5px;
      background-color: unset !important;
      color: var(--primary-color) !important;
      font-weight: 600;
      min-height: 25px !important;
      height: fit-content !important;

      fieldset {
        border: none !important;
      }

      svg {
        display: none;
      }

      .MuiSelect-select {
        color: var(--primary-color) !important;
        background-color: white;
        padding: 0;
        font-size: 0.9rem !important;
        cursor: default !important;
        width: fit-content;
        text-shadow: -0.5px -0.5px 0 white, 0.5px -0.5px 0 white, -0.5px 0.5px 0 white, 0.5px 0.5px 0 white;
      }

      div {
        background-color: unset !important;
      }
    }

    .FilterInput {
      .MuiInputBase-root {
        flex-wrap: nowrap;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }

      .MuiChip-root,
      .MuiInput-root {
        background-color: unset !important;
      }

      .MuiInputBase-root {
        font-size: 0.9rem !important;
        background-color: white !important;
      }
    }
  }

  .MuiInputSlider {
    height: 34px;
    padding: 4px 20px 0 20px !important;
  }

  .MuiInputSliderWithInput {
    overflow: visible !important;
    position: relative;
    border: unset !important;
    background-color: unset !important;

    input {
      height: 100%;
    }

    .MuiInputSlider {
      position: absolute;
      box-sizing: border-box;
      top: 25px;
      left: 0;
      width: 100%;
      border: unset !important;
      padding: 0 8px !important;
      min-width: unset !important;

      .MuiSlider-root {
        height: 1px;
      }

      .MuiSlider-thumb {
        height: 10px;
        width: 10px;
      }

      .MuiSlider-rail {
        border: 1px solid currentColor;
      }
    }

    .MuiInputBase-root {
      height: 25px;
      border: var(--border) !important;
      margin-right: 5px;
      padding: 0 !important;

      input {
        text-align: center;
      }

      &.Mui-disabled {
        display: block !important;

        input {
          margin-top: 1px;
        }
      }
    }

    &.Single {
      .MinValue {
        display: none !important;
      }
    }
  }

  .MuiAutocomplete-input {
    min-width: 0;
  }

  .MuiAutocomplete-popper {

    div,
    ul,
    li {
      min-width: fit-content;
      padding-left: 10px;
    }

    li {
      text-wrap: none;
    }
  }
}