/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

.StatusSection {
  position: relative;

  div {
    white-space: nowrap;
  }

  .BoxText {
    position: absolute;
    overflow: hidden;
  }

  .WhiteText {
    padding: 8px;
    overflow: hidden;
    top: 0;
    left: 0;
  }
}

.DetailSection {
  overflow-x: hidden;
  overflow-y: auto;

  > div {
    opacity: 0.8;
  }

  > div:first-child {
    opacity: 1;
    font-weight: 600 !important;
  }

  .warning {
    background-color: #f57c00 !important;
    color: white !important;
    padding: 5px;
    width: fit-content;
  }
}