/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Dashboard Form style
   ========================================================================== */

@import '../../../../app/variables';

main {
  display: block;
}

.dashboard {
  .MuiSnackbar-root {
    display: none;
  }
}

.FormMode {
  .Admin {
    display: flex;
  }
}

.PreviewMode {
  .Admin {
    display: none;
  }

  // For navbar
  .DashboardMiddlePanel {
    .MapNavbar {
      margin-right: 160px;
      transition: margin-right 0.3s;
    }

    &.RightExpanded {
      .MapNavbar {
        margin-right: 0;
      }
    }
  }

  .Toolbar-Right {
    margin-right: 130px;
  }
}

.BackToForm {
  position: absolute;
  top: 10px;
  right: 11px;
  z-index: 9999;

  button {
    height: 28px;
  }
}

.Admin {
  min-height: 0;
  width: 100%;
  display: flex;

  & > div {
    height: 100%;
    overflow: hidden;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }

  .MuiSnackbar-root {
    margin-top: 0;
  }
}

.UndoRedo {
  padding: 0.5rem !important;
  min-width: 1rem !important;
}

.DashboardFormWrapper {
  flex-grow: 1;
  min-height: 0;
  padding: 0 !important;
  background-color: unset !important;
}

.DashboardForm {
  display: flex;
  height: 100%;
  width: 100%;

  .DashboardFormContent {
    background-color: white;
    flex-grow: 1;
    min-height: 0;
    padding: 1rem;
    overflow-y: auto;
    position: relative;

    .AdminForm {
      flex-direction: column;
      overflow: visible;
    }

    & > div {
      display: none;
    }

    .MuiInput-root {
      border: 1px solid #ccc !important;
      background: white;
      border-radius: 0.2rem;
      box-sizing: border-box;
      font-family: inherit;
      font-size: inherit;
      font-weight: 300;
      padding: 0.5rem;
      width: 100%;
    }

    .IconInput {
      .MuiInputLabel-root {
        position: unset;
      }

      .IconInputPreview {
        display: flex;
        margin-bottom: 2rem;

        .MuiInput-root {
          height: fit-content;
          margin-top: auto;
          margin-right: 10px;
          position: relative;
          border-bottom: 1px solid rgba(0, 0, 0, 0.42);

          input {
            opacity: 0;
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
          }
        }

        img {
          height: 100px;
        }
      }
    }
  }

  &.DashboardForm {
    &.Summary {
      .Summary {
        display: block;
      }
    }

    &.Overview {
      .Overview {
        display: block;
      }
    }

    &.Basemaps {
      .Basemaps {
        display: block;
      }
    }

    &.Indicators {
      .Indicators {
        display: flex;
      }
    }

    &.IndicatorLayers {
      .IndicatorLayers {
        display: block;
      }
    }

    &.ContextLayers {
      .ContextLayers {
        display: block;
      }
    }

    &.Widgets {
      .Widgets {
        display: block;
      }
    }

    &.Filters {
      .Filters {
        display: block;
      }
    }

    .Share {
      display: block;
      height: 0;
      overflow: hidden;
    }

    &.Share {
      .Share {
        height: auto;
        overflow: unset;
      }
    }

    &.RelatedTables {
      .RelatedTables {
        display: block;
      }
    }

    .DashboardFormLoading {
      display: block;
      flex-grow: 1;

      .DashboardFormLoadingSection {
        height: fit-content;
        width: fit-content;
        margin: auto;
        display: flex;
        margin-top: 200px;

        div {
          margin-left: 1rem;
          padding-top: 0.5rem;
        }
      }
    }

    // SPECIFIED FOR FILTERS
    .Filters {
      .MuiPaper-root {
        box-shadow: none;
      }

      .FilterInputWrapper {

        .MuiInputSlider {
          min-width: 80%;
        }

        .MuiInput-root {
          border-radius: 0 !important;
          border-top: none !important;
          border-right: none;
          border-bottom: none !important;
          border-left: 1px solid var(--primary-color);
          padding: 5px 3px 0 3px;
          width: 50px;
          font-size: 0.8rem;
        }
      }
    }
  }


  .BasicForm {
    padding: 1rem;
  }
}

.AdminSelectDataForm {
  .Save-Button {
    margin: 1rem 1rem 1rem auto;
    padding: 0;
  }
}

.SaveButton {
  &.Submitted {
    cursor: progress !important;
  }
}

.SaveAsModal {
  .modal--wrapper--box {
    padding-top: 7rem;
  }
}