/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Table style
   ========================================================================== */

@import '../../../../app/variables';

.AdminList {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;

  .MoreActionIcon {
    width: 20px;
    height: 20px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .AdminTable {
    height: 100%;
    width: 100%;
    position: relative;

    .AdminTableError {
      color: $error;
      margin: auto;
      width: 100%;
      height: 100%;
      text-align: center;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.5);
      padding-top: 200px;
      z-index: 9;
    }
  }

  .AdminTableDelete {
    color: $error;
  }

  .AdminTable-Loading {
    padding: 1rem;
  }

  .CellLink {
    color: $primary-color !important;
  }

  .CellError {
    color: white;
    background-color: $error;
  }

  .FlexCell {
    display: flex;

    div {
      margin-right: 2px;
    }
  }
}
