{% extends 'frontend/admin/base.html' %}
{% load render_bundle from webpack_loader %}

{% block extrastyle %}
{% endblock %}

{% block render_bundle %}
    {% render_bundle 'AdminAccessRequestList' %}
{% endblock %}

{% block scripts %}
    <script>
      urls.api = {
        'permission': {
          'detail': '{% url 'admin-access-request-permission-detail-view' pk=0%}',
          'list': '{% url 'access-request-list-api' request_type='permission'%}',
        },
        'user': {
          'list': '{% url 'access-request-list-api' request_type='user'%}',
          'detail': '{% url 'admin-access-request-user-detail-view' pk=0%}'
        }
      }
    </script>
{% endblock %}