/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Map COnfig style
   ========================================================================== */

@import '../../../../../app/variables';

.ExtentConfig {
  .ExtentInput {
    width: 100%;
    display: flex;

    .ExtentManualInput {
      width: 20%;
      padding: 1rem;
      box-sizing: border-box;
    }

    #MapConfig {
      width: 80%;
      height: 500px;

      .leaflet-draw {
        span {
          display: none;
        }
      }
    }
  }
}

.BasicForm {
  padding: 0 !important;

  .ReferenceDatasetSection {
    display: flex;

    .MuiFormControl-root {
      flex-grow: 1;
    }

    .MuiFormGroup-root {
      width: 350px;
      margin-left: 1rem;
    }
  }

  .MuiAutocomplete-root {
    .MuiInputBase-root {
      width: 100%;
    }
  }
}

.DescriptionInput {
  padding: 0 1px;

  textarea {
    border-radius: 0;
    border: none;

    &:hover,
    &:focus,
    &:focus-within {
      border: none;
    }
  }
}