/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* -------------------------------------------------------------------
   MODALS
  ------------------------------------------------------------------- */

@import '../../app/variables';

.MuiModal-root {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.modal--wrapper--box {
  padding: 1.75rem 0;

  &:focus-visible {
    outline: none;
  }

  form {
    overflow: visible !important;
  }

  .Indicator-Search {
    padding: 1rem 2rem;
  }

  .Save-Button {
    margin: 0 0 0 auto;
    padding: 1rem;
    background-color: unset;
  }
}

.modal--box {
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .3rem;
  height: fit-content;
  margin: 0 auto;
  max-width: 500px;
  min-width: 40rem;
  overflow: hidden;
  position: relative;
  transform: translate(0, 0);
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  width: auto;

  &:focus-visible {
    outline: none;
  }

  @include media(xsmall-only) {
    max-width: unset;
  }
}

.modal--header {
  font-weight: 500;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  background-color: white;

  .modal--header--title {
    flex-grow: 1;
    padding-top: 3px;
  }

  .helptext {
    font-weight: $base-font-light;
    margin-top: 0.5rem;
  }
}

.modal--content {
  padding: 20px;
  overflow-x: auto;

  &.Gray {
    background-color: $base-to-white-color;
    padding: 0;
    padding-top: 1rem;

    & > .Section {
      background-color: white;
      padding: 1rem;
    }
  }

  .Header {
    text-align: right;
  }

  & > .Section {
    border-radius: 0.2rem;
    margin: 0 1rem 1rem 1rem;
  }
}

.modal--footer {
  overflow-x: auto;
  padding: 1rem;
  background-color: $base-to-white-color;
}

.ModalSelection {
  .modal--content {
    background-color: #eee;
  }

  .ModalSelection-Option {
    background-color: white;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;

    &:hover {
      opacity: 0.7;
    }
  }
}


.MuiBox-Large {
  .modal--box {
    max-width: 90%;
  }
}

.modal--header--close {
  padding-top: 3px;

  svg {
    height: 16px;
    width: 16px;
  }
}