/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Left-side panel
   ========================================================================== */

@import '../../../../app/variables';

.ReferenceLayerLevelSelector {
  margin-right: 1rem;
  box-sizing: border-box;
  opacity: 0.8;
  text-align: center;
  cursor: pointer;
  height: 100%;

  &:hover {
    opacity: 1;
  }

  .ReferenceLayerLevelOption {
    cursor: pointer;

    &:hover {
      opacity: 0.8;
      background-color: #eee;
    }
  }

  .ReferenceLayerLevelOptions {
    height: 0;
    opacity: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }

  &:hover {
    .ReferenceLayerLevelOptions {
      height: fit-content;
      opacity: 1;
    }
  }

  .ReferenceLayerLevelOption {
    padding: 0.5rem 1rem;

  }

  .ReferenceLayerLevelSelected {
    background-color: $primary-color;
    color: $anti-primary-color;
    border-radius: $border-radius;
    font-weight: 400;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;

    div {
      flex-grow: 1;
    }
  }
}