/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Project Overview
   ========================================================================== */

.ProjectOverview {

  .modal--content {
    padding-top: 0;
  }

  .modal--footer {
    display: flex;
    text-align: center;

    .MuiFormControl-root {
      flex-grow: 1;
      padding-left: 0.5rem;

      .MuiInputBase-root {
        width: 100%;

        .InfoIcon {
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  th, td {
    padding: 6px;
    border: 1px solid var(--border-gray);
  }

  .ProjectDescription {

    table {
      width: 100%;
    }

    strong {
      font-weight: bold;
    }

    u {
      text-decoration: underline;
    }
  }
}