/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Users Form style
   ========================================================================== */

@import '../../../../../app/variables';

.ApiKeySection {

  .InputInLine {
    margin-top: 0.5rem;
  }
}

div[data-field-name='is_staff'] {
  opacity: 0;
  height: 0;
  margin-block-end: 0 !important;
}

.GeorepoApiKeyInput {
  fieldset {
    border: 2px solid red !important;
  }
}

.ApiKeyUser {
  .Detail {
    border: 1px solid $primary-color;
    margin-top: 1rem;
    padding: 1rem;

    .MuiTextField-root {
      margin-bottom: 1rem;
      cursor: default !important;

      input {
        background-color: white !important;
        color: black !important;
        cursor: default !important;
      }
    }
  }
}