/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '11/07/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   COLOR SELECTOR
   ========================================================================== */

@import '../../../app/variables';


.Color-Palette-Input {
  padding-top: 0 !important;

  .Color-Palette-Option {
    display: flex;
    width: fit-content;

    div {
      width: 24px;
      height: 24px;
    }
  }
}
