/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '14/08/2025'
* __copyright__ = ('Copyright 2023, Unicef')
*/

.MobileBottomNav {
  z-index: 999999;
  align-items: center;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.08);

  .Item {
    flex: 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s, border-left 0.2s;
    height: var(--mobile-bottom-nav-height);
    color: var(--primary-color);
    background: var(--anti-primary-color);
    border-left: 1px solid var(--gray-200);

    &.Active {
      background: var(--primary-color);
      color: var(--anti-primary-color);
      border-left: 1px solid var(--primary-color);
    }
  }
}