{% extends 'frontend/admin/base_form.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load frontend %}
{% block style %}
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
          integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
          crossorigin=""/>
{% endblock %}

{% block render_bundle %}
    {% render_bundle 'AdminContextLayerForm' %}
{% endblock %}

{% block scripts %}
    <script>
      const initialData = {{ form|get_data|safe }};
      const permission = {{ permission|safe }};
      const dynamicClassification = {{ dynamicClassification|safe }};
      const permissionFormData = {% if form.permission_data %}{{ form.permission_data|safe }}{% else %}null{% endif %};

      // Urls api
      urls.api = {
        'styles': '{% url 'style-list-api'%}',
        'users': '{% url 'user-list-api'%}',
        'detail': '{% url 'context-layer-detail-api' 0 %}',
      }

      if (permission.share) {
        {% if id %}
          urls.api.permission = '{% url 'context-layer-permission-api' id %}'

          {# Cloud native gis urls #}
          {% if 'cloud_native_gis' in plugins %}
            urls.api.cloudNativeGISUploadFile = '{% url 'cloud-native-gis-layer-upload-list' 0 %}'.replace('0', initialData.cloud_native_gis_layer_id)
          {% endif %}

        {% else %}
          urls.api.permission = '{% url 'context-layer-permission-api' 0 %}'

          {# Cloud native gis urls #}
          {% if 'cloud_native_gis' in plugins %}
            urls.api.cloudNativeGISUploadFile = '{% url 'cloud-native-gis-upload-create' %}'
            urls.api.cloudNativeGISUploadFileMain = '{% url 'cloud-native-gis-layer-upload-list' 0 %}'
          {% endif %}

        {% endif %}
      }

      {# Cloud native gis urls #}
      {% if 'cloud_native_gis' in plugins %}
        urls.api.cloudNativeGISImportHistory = '{% url 'cloud-native-gis-layer-upload-list' 0 %}?page_size=1'
      {% endif %}

      // If in batch or not
      const batch = {% if batch %}true{% else %}null{% endif %};
    </script>
{% endblock %}