/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Filter style
   ========================================================================== */

@import '../../../../app/variables';

.FilterAccordion {
  height: 100%;

  .MuiAccordionDetails-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.dashboard__filter {
  margin-bottom: 1rem;

  .MuiSvgIcon-root {
    cursor: pointer;
  }

  .info__button {
    height: 25px;
    width: 25px;

    .MuiSvgIcon-root {
      height: 100%;
      width: 100%;
    }
  }
}

.dashboard__filter__content {
  padding-left: 1rem;
}

/* ==========================================================================
   FILTERS CONTROL COMPONENT
   ========================================================================== */
.FilterControl {
  padding: 0.5rem;
  font-size: 0.8rem;
  flex-grow: 1;
  overflow-y: auto;

  .FilterControlInfo {
    font-weight: $base-font-medium;
    font-size: 12px;
    color: #7E7E7E;
  }

  // GROUP SWITCHER
  .GroupSwitcher {
    .Mui-checked {
      .MuiSwitch-thumb {
        background-color: $secondary-color;
      }
    }
  }

  // OPERATOR SWITCHER
  .OperatorSwitcher {
    margin-left: -1px;

    .MuiSwitch-root {
      height: 24px;
      width: 73px;
      padding: 4px;
    }

    .MuiButtonBase-root {
      padding: 4px;
      align-items: flex-start;

      &.Mui-checked {
        -webkit-transform: translateX(34px);
        -moz-transform: translateX(34px);
        -ms-transform: translateX(34px);
        transform: translateX(34px);

        .MuiSwitch-thumb {
          border-radius: 0;
          border-bottom-right-radius: $border-radius;
          border-top-right-radius: $border-radius;
        }
      }
    }

    .MuiSwitch-thumb {
      box-shadow: none;
      background-color: $secondary-color;
      border-radius: 0;
      border-bottom-left-radius: $border-radius;
      border-top-left-radius: $border-radius;
      width: 32px;
      height: 16px;
    }

    .MuiSwitch-track {
      background-color: $anti-primary-color !important;
      border-radius: $border-radius;
      opacity: 1 !important;

      &:before, &:after {
        content: '""';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 19px;
      }

      &:before {
        content: 'AND';
        left: 9px;
        color: $primary-color;
      }

      &:after {
        content: 'OR';
        right: 13px;
        color: $primary-color;
      }
    }
  }

  .MuiAccordionSummary-content {
    color: $base-black-color !important;
    font-size: 0.8rem !important;
  }

  .FilterGroup {
    //border: 1px solid $primary-color;
    margin-top: 20px;
    padding: 20px 8px 10px 8px;
    position: relative;
    border-radius: $border-radius;
    background-color: #F8F9F9;

    & > .MuiPaper-root {
      margin-top: 5px !important;
      margin-bottom: 0 !important;

      & > .MuiButtonBase-root {
        align-items: unset !important;

        .MuiAccordionSummary-expandIconWrapper {
          padding: 3px 0;
          height: 0.8rem;
          width: 0.8rem;
        }

        .FilterEdit {
          color: $tab-inactive-color;
          width: 12px;
          margin-right: 5px;
        }

        .FilterDelete {
          color: $tab-inactive-color;
          width: 9px;
        }
      }
    }

    &.Hidden {
      display: none;
    }

    .FilterGroupHeader {
      box-sizing: border-box;
      height: 18px;
      left: 0;
      padding: 0 0.5rem;
      position: absolute;
      top: -10px;
      width: 100%;

      .FilterGroupOption {
        background-color: $primary-color;
        border-radius: $border-radius;
        color: $anti-primary-color;
        display: flex;
        padding: 0 7px;

        .FilterGroupName {
          flex-grow: 1;
        }

        .FilterGroupEnd {
          width: 5px;
        }

        .OperatorIdentifier {
          padding: 10px 0 0 5px;
        }

        .MuiButtonLike {
          color: white;
          background: $primary-color;
          height: 16px;
          margin-top: 0.2rem;
          margin-left: 0.2rem;
          width: 18px;

          &:hover {
            opacity: 0.8;
          }
        }

        .FilterOperatorToggler {
          color: white;
          padding: 2px 10px;
          margin-left: 10px;
          font-size: 12px;
          background: $primary-color;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }

  .FilterNote {
    color: $base-black-color;
    font-style: italic;
    opacity: $base-hovered-opacity;
  }

  .MuiPaper-root {
    .MuiCollapse-vertical {
      height: auto !important;
    }

    &::before {
      display: none;
    }
  }

  .FilterExpression {
    background-color: #FFFFFF;

    &.Disabled {
      cursor: not-allowed;

      .FilterExpressionName {
        opacity: 0.5;
      }
    }

    .FilterInfo {
      padding-top: 2px;
      margin-right: 4px;

      svg {
        margin: 0;
      }
    }

    .FilterExpressionName {
      flex-grow: 1;
      display: flex;

      div {
        margin-top: 2px;
      }
    }

    .FilterExpressionDescription {
      margin-top: 0.5rem;
      font-style: italic;
    }

    .MuiAccordionSummary-root {
      padding: 5px !important;
      border: 1px solid #ddd;
      margin-top: -1px;

      &.Mui-focusVisible {
        background: #ddd !important;
      }

      .MuiCheckbox-root {
        padding: 0;
        margin-right: 5px;

        svg {
          background-color: white;
          border: 1px solid #ddd;
        }
      }

      .MuiSwitch-root {
        margin-top: -3px;
        margin-right: 3px;
      }

      .FilterEdit,
      .FilterDelete {
        margin-top: 2px;
      }

      .FilterDelete {
        color: $error;
        margin-right: 5px;
      }

      .MuiSvgIcon-root {
        height: 0.8rem;
        width: 0.8rem;
      }
    }

    .MuiAccordionDetails-root {
      border: 1px solid #ddd;
      padding: 10px;
      margin-top: -1px;
    }
  }

  .FilterInputWrapperChanged {
    .MuiSvgIcon-root {
      color: green !important;
    }
  }

  .FilterInputWrapper {
    display: flex;
    margin-top: 5px;
    width: 100%;
    border: 1px solid $primary-color;

    .MuiSvgIcon-root {
      color: #ddd;
      margin: 7px 3px;
      width: 16px;
    }

    .MuiOutlinedInput-root {
      .MuiSelect-select {
        padding: 0;
      }

      fieldset {
        display: none;
      }

      .MuiSvgIcon-root {
        margin: 0;
      }
    }
  }

  .FilterInput {
    padding: 2px 5px;
    flex-grow: 1;

    &::before,
    &::after {
      display: none;
    }
  }

  .MuiInputSliderWithInput {
    display: flex;
    width: 100%;

    .MuiInputSlider {
      flex-grow: 1;
      padding: 0 14px;
    }

    .MuiSlider-root {
      display: block;
    }

    .MuiInput-root {
      border-left: 1px solid $primary-color;
      padding: 5px 3px 0 3px;
      width: 50px;
      font-size: 0.8rem;

      input {
        -moz-appearance: textfield;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &::before,
      &::after {
        display: none;
      }
    }

    .MuiInputBase-root:first-child {
      border-left: unset !important;
      border-right: 1px solid $primary-color !important;
    }
  }
}

.FilterEditModal {
  .modal--box {
    overflow: visible;
    width: 50%;
    max-width: unset;
  }

  .MuiFormControl-root {
    margin-top: 0 !important;
  }

  .MuiInput-root {
    margin-bottom: 2rem;
    width: 100%;
  }

  .FilterEditModalQuery {
    display: flex;
    background: $base-alpha-color;
    padding: 10px;

    .FilterEditModalQueryField {
      max-width: 40%;
    }

    .MuiOutlinedInput-root {
      background-color: white;
    }

    .MuiInput-root {
      background-color: white;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.23);
      padding: 5px 14px;
      margin-bottom: 0 !important;

      &::before {
        display: none;
      }
    }

    .MuiAutocomplete-root {
      flex-grow: 1;

      .MuiOutlinedInput-root {
        min-height: 56px;
      }
    }

    .MuiInputSliderWithInput {
      flex-grow: 1;
      display: flex;
      border-radius: 4px;
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.23);
      overflow: hidden;

      .MuiInputSlider {
        flex-grow: 1;
        padding: 12px 20px 0 20px;
        border-left: 1px solid rgba(0, 0, 0, 0.23);
      }

      .MuiInput-root {
        padding: 5px;
        width: 100px;
        border-radius: 0;
        border: none;
        border-left: 1px solid rgba(0, 0, 0, 0.23);

        input {
          -moz-appearance: textfield;
          padding: 5px 0;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }

  .MuiButton-root {
    margin-top: 20px;
    width: 100%;
  }
}

/* ==========================================================================
   FILTERS CONTROL SUMMARY
   ========================================================================== */
.FilterControlSummary {
  margin-top: 20px;
  max-height: 5rem;
  border-top: 1px solid #DDD;
  overflow: auto;
  font-size: 0.8rem;
  padding: 10px;

  .FilterControlSummaryContent {
    border: 1px solid $primary-color;
  }
}

.FilterDatePickerInput {
  padding: 0 !important;
  min-height: 2rem;

  .react-datepicker-wrapper,
  .react-datepicker__input-container {
    height: 100%;
    width: 100%;
  }

  input {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    padding: 0 14px;

    &:hover,
    &:focus,
    &:focus-within {
      outline: none;
    }
  }
}