/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

.FilterAccordion {
  height: 100%;

  .MuiAccordionDetails-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.dashboard__filter {
  margin-bottom: 1rem;

  .MuiSvgIcon-root {
    cursor: pointer;
  }

  .info__button {
    height: 25px;
    width: 25px;

    .MuiSvgIcon-root {
      height: 100%;
      width: 100%;
    }
  }
}

.dashboard__filter__content {
  padding-left: 1rem;
}

/* ==========================================================================
   FILTERS CONTROL COMPONENT
   ========================================================================== */
.FilterControl {
  padding: 0.5rem;
  font-size: 0.8rem;
  flex-grow: 1;
  overflow-y: auto;

  .FilterControlInfo {
    font-weight: var(--base-font-medium);
    font-size: 12px;
    color: #7E7E7E;
  }

  // GROUP SWITCHER
  .GroupSwitcher {
    margin-left: -.5rem;
    margin-right: -.5rem;

    .Mui-checked {
      .MuiSwitch-thumb {
        background-color: var(--secondary-color);
      }
    }
  }

  .OperatorIdentifier {
    padding: 0.5rem;
  }

  .ReactSelect__control {
    background-color: #ADE0FF;
    border-color: #ADE0FF;
  }

  // OPERATOR SWITCHER
  .OperatorSwitcher {
    margin-left: -1px;

    .MuiSwitch-root {
      height: 24px;
      width: 73px;
      padding: 4px;
    }

    .MuiButtonBase-root {
      padding: 4px;
      align-items: flex-start;

      &.Mui-checked {
        -webkit-transform: translateX(34px);
        -moz-transform: translateX(34px);
        -ms-transform: translateX(34px);
        transform: translateX(34px);

        .MuiSwitch-thumb {
          border-radius: 0 var(--border-radius) var(--border-radius) 0;
        }
      }
    }

    .MuiSwitch-thumb {
      box-shadow: none;
      background-color: var(--secondary-color);
      border-radius: var(--border-radius) 0 0 var(--border-radius);
      width: 32px;
      height: 16px;
    }

    .MuiSwitch-track {
      background-color: var(--anti-primary-color) !important;
      border-radius: var(--border-radius);
      opacity: 1 !important;

      &:before, &:after {
        content: '""';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 19px;
      }

      &:before {
        content: 'AND';
        left: 9px;
        color: var(--primary-color);
      }

      &:after {
        content: 'OR';
        right: 13px;
        color: var(--primary-color);
      }
    }
  }

  .MuiAccordionSummary-content {
    color: var(--base-black-color) !important;
    font-size: 0.8rem !important;
  }

  .FilterGroup {
    padding: 10px 8px 10px 8px;
    position: relative;
    border-radius: var(--border-radius);
    background-color: rgba(0, 0, 0, 0.03);

    & > .MuiPaper-root {
      margin-top: 5px !important;
      margin-bottom: 0 !important;

      & > .MuiButtonBase-root {
        align-items: center !important;
        height: 30px;
        min-height: 30px;

        .MuiAccordionSummary-content {
          margin: 0 !important;
          height: 100%;
          align-items: center;
        }

        .FilterEdit {
          color: var(--tab-active-color);
          width: 12px;
          margin-right: 5px;
        }

        .FilterDelete {
          color: var(--tab-active-color);
          width: 9px;
        }
      }
    }

    &.Hidden {
      display: none;
    }

    .FilterGroupHeader {
      box-sizing: border-box;
      left: 0;
      width: 100%;
      align-items: center;

      .FilterGroupOption {
        background-color: #F8F9F9;
        border-radius: var(--border-radius);
        display: flex;
        align-items: center;
        min-height: 30px;
        padding-left: 8px;

        .MuiButtonBase-root {
          margin-top: -3px;
        }

        .FilterGroupName {
          flex-grow: 1;
        }

        .FilterGroupEnd {
          width: 5px;
        }

        .MuiButtonLike {
          color: white;
          background: var(--primary-color);
          height: 16px;
          margin-top: 0.2rem;
          margin-left: 0.2rem;
          width: 18px;

          &:hover {
            opacity: 0.8;
          }
        }

        .FilterOperatorToggler {
          color: white;
          padding: 2px 10px;
          margin-left: 10px;
          font-size: 12px;
          background: var(--primary-color);
          border-radius: 5px;
          cursor: pointer;
        }

        .FilterGroupAddExpression,
        .FilterGroupAdd,
        .FilterGroupDelete {
          background-color: rgba(0, 0, 0, 0);
          color: var(--primary-color);
        }

        div.MuiInputBase-root {
          height: 20px !important;
          background-color: #ADE0FF;
          margin-left: 0.5rem;

          .MuiSelect-select {
            min-height: unset;
            height: 100%;
            padding-bottom: 0;
            padding-top: 4px;
          }

          &.Mui-disabled {
            svg {
              display: none;
            }
          }

          svg {
            color: var(--primary-color);
          }
        }
      }
    }
  }

  .FilterNote {
    color: var(--base-black-color);
    font-style: italic;
    opacity: var(--base-hovered-opacity);
    padding: 1rem;
  }

  .MuiPaper-root {
    &::before {
      display: none;
    }
  }

  .FilterExpression {
    background-color: #FFFFFF;

    &.Disabled {
      cursor: not-allowed;

      .FilterExpressionName {
        opacity: 0.5;
      }
    }

    .FilterInfo {
      padding-top: 2px;
      margin-right: 4px;

      svg {
        margin: 0;
      }
    }

    .FilterExpressionName {
      flex-grow: 1;
      display: flex;
      position: relative;

      .Throbber {
        position: absolute;
        left: 5px;
        top: -2px;
      }

      div {
        margin-top: 2px;
      }
    }

    .FilterExpressionDescription {
      margin-top: 0.5rem;
      font-style: italic;
    }

    .MuiAccordionSummary-root {
      padding: 5px !important;
      border: 1px solid #ddd;
      margin-top: -1px;

      &.Mui-focusVisible {
        background: #ddd !important;
      }

      .MuiCheckbox-root {
        padding: 0;
        margin-right: 5px;

        svg {
          background-color: white;
        }
      }

      .MuiSwitch-root {
        margin-top: -3px;
        margin-right: 3px;
      }

      .FilterDelete {
        color: var(--error);
        margin-right: 5px;
      }
    }

    .MuiAccordionDetails-root {
      & > div {
        border: 1px solid #ddd;
        padding: 1rem !important;
        border-top: unset !important;
      }

      input {
        padding: 1rem 0.5rem;
      }

      .MuiInputSlider {
        padding-top: 3px;
      }
    }
  }

  .FilterInputWrapperChanged {
    .MuiSvgIcon-root {
      color: green !important;
    }
  }

  .FilterInputWrapper {
    display: flex;
    margin-top: 5px;
    width: 100%;
    border: 1px solid var(--primary-color);

    .SelectWithSearchInput,
    .MuiAutocomplete-root {
      border: unset !important;
      outline: unset !important;
      width: 100%;
    }

    .MuiSvgIcon-root {
      color: #ddd;
      margin: 7px 3px;
      width: 16px;
    }

    .MuiOutlinedInput-root {
      .MuiSelect-select {
        padding: 0;
      }

      fieldset {
        display: none;
      }

      .MuiSvgIcon-root {
        margin: 0;
      }
    }


    .SelectWithSearchInput,
    .MultipleSelectWithSearch,
    .SelectWithSearch {

      .MuiInputBase-root {
        padding-right: 22px !important;
        min-width: 170px;
        max-width: 100%;
        height: 100%;
      }
    }
  }

  .MuiInputSliderWithInput {
    display: flex;
    width: 100%;

    .MuiInputSlider {
      flex-grow: 1;
      padding: 0 14px;
    }

    .MuiSlider-root {
      display: block;
    }

    .MuiInput-root {
      border-left: 1px solid var(--primary-color);
      padding: 5px 3px 0 3px;
      width: 50px;
      font-size: 0.8rem;

      input {
        -moz-appearance: textfield;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &::before,
      &::after {
        display: none;
      }
    }

    .MuiInputBase-root:first-child {
      border-left: unset !important;
      border-right: 1px solid var(--primary-color) !important;
    }
  }
}

.FilterEditModal {
  .modal--box {
    overflow: visible;
    width: 50%;
    max-width: unset;
  }

  .MuiInputLabel-root {
    color: black;
  }

  .MuiFormControl-root {
    margin-top: 0 !important;
  }

  .MuiInput-root {
    margin-bottom: 2rem;
    width: 100%;
  }

  .FilterEditModalQuery {
    display: flex;
    background: var(--base-alpha-color);
    padding: 10px;

    .WhereConfigurationOperatorValue {
      padding: 0 !important;

      input {
        border: unset !important;
        height: 100%;
      }
    }

    .SelectWithSearchInput,
    .MuiAutocomplete-root {
      height: 56px;
      background-color: white;
    }

    .FilterEditModalQueryField {
      max-width: 40%;
    }

    .DatePickerInput {
      input {
        height: 50px;
        width: 100%;
        min-width: 500px;
      }
    }

    .MuiOutlinedInput-root {
      background-color: white;
    }

    .MuiInput-root {
      background-color: white;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.23);
      padding: 5px 14px;
      margin-bottom: 0 !important;

      &::before {
        display: none;
      }
    }

    .MuiAutocomplete-root {
      flex-grow: 1;
    }

    .MuiInputSliderWithInput {
      flex-grow: 1;
      display: flex;
      border-radius: 4px;
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.23);
      overflow: hidden;
      min-width: 300px;

      input {
        border: unset;
      }

      .MuiInputSlider {
        flex-grow: 1;
        padding: 12px 20px 0 20px;
        border-left: 1px solid rgba(0, 0, 0, 0.23);
        min-width: 100px;
      }

      .MuiInput-root {
        padding: 0;
        width: 100px;
        border-radius: 0;
        border: none;
        border-left: 1px solid rgba(0, 0, 0, 0.23);

        input {
          -moz-appearance: textfield;
          padding: 10px 5px;
          height: 100%;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }

  div.button-div {
    display: flex;
    flex-direction: row-reverse;

    .MuiButton-root {
      width: 15%;
    }
  }
}

/* ==========================================================================
   FILTERS CONTROL SUMMARY
   ========================================================================== */
.FilterControlSummary {
  margin-top: 20px;
  max-height: 5rem;
  border-top: 1px solid #DDD;
  overflow: auto;
  font-size: 0.8rem;
  padding: 10px;

  .FilterControlSummaryContent {
    border: 1px solid var(--primary-color);
  }
}

.FilterDatePickerInput {
  padding: 0 !important;
  min-height: 2rem;

  .react-datepicker-wrapper,
  .react-datepicker__input-container {
    height: 100%;
    width: 100%;
  }

  input {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    padding: 0 14px;

    &:hover,
    &:focus,
    &:focus-within {
      outline: none;
    }
  }
}