/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Left-side panel
   ========================================================================== */

@use '../../../app/variables' as *;

.dashboard__left_side {
  position: relative;
  transition: margin-left 0.3s;
  border-right: 1px solid var(--border-gray);
  width: 20%;

  &.HideLayer {
    .layers-tab {
      display: none;
    }

    .MuiTabs-root {
      .filters-tab {
        width: 100%;
      }
    }
  }

  &.HideFilter {
    .filters-tab {
      display: none;
    }

    .MuiTabs-root {
      .layers-tab {
        width: 100%;
      }
    }
  }

  &.right {
    margin-left: -20%;
  }

  .dashboard__content-wrapper {
    display: flex;
    flex-direction: column;
    font-family: var(--base-font-family) !important;
    font-weight: var(--base-font-regular) !important;
    color: var(--tab-inactive-color);
    background-color: var(--white);

    .MuiTabs-root {
      min-height: 49px;
      height: 49px;
      box-sizing: border-box;
    }

    &.Layers .filter-wrapper {
      display: none !important;
    }

    &.Layers svg {
      margin-right: 5px;
    }

    &.Filters .dataset-wrapper {
      display: none !important;
    }
  }


  .dashboard__content-wrapper {
    height: 100% !important;
  }

  .dashboard__left_side__bottom {
    position: absolute;
    bottom: 1rem;
    left: 100%;
  }

  .dashboard__left_side__bottom {
    position: fixed;
    bottom: 5px;
    left: 0;
    margin-left: 1rem;

    .dashboard__left_side__bottom_inner {
      display: flex;
      align-items: flex-end;
      width: 100vw;
      height: 0;
    }
  }

  .dashboard__content-wrapper Layers {
    display: flex;
    flex-direction: column;
  }

  // For accordion
  .dashboard__content-wrapper {
    background-color: #eee;
    flex-grow: 1;
    display: block;
    min-height: 0;

    .layers-tab-container {
      width: 100%;
      margin-left: 0;
    }

    & > .MuiBox-root {
      height: 100%;
      display: flex;
      flex-direction: column;

      .sidepanel-tab {
        flex-grow: 1;
        overflow: hidden;
        width: 100%;

        &.layers-panel {
          & > .TabPanelContent {
            & > .MuiPaper-root {
              height: 100%;
              width: 100%;

              & > .MuiAccordionDetails-root {
                height: 100%;
                width: 100%;

                .TreeView {
                  height: 100%;
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  & > ul {
                    flex-grow: 1;
                    overflow-y: auto;
                  }
                }
              }
            }
          }
        }
      }
    }

    .MuiAccordionSummary-title-desc {
      color: var(--base-black-color);
      font-weight: var(--base-font-light);
    }

    > div.Mui-expanded {
      flex-grow: 1;
    }

    > .MuiPaper-root {
      margin: 0.2rem 0;
      border-radius: var(--border-radius);

      &.Mui-expanded {
        margin: 0.2rem 0;
      }

      &:before {
        display: none;
      }

      .MuiAccordionSummary-content {
        margin: 0 !important;
        font-weight: var(--base-font-medium);
        font-size: 1rem;
        color: var(--primary-color);
        display: flex;

        .Name {
          flex-grow: 1;
        }
      }
    }

    > .MuiPaper-root > .MuiCollapse-root {
      flex-grow: 1 !important;
      overflow: auto;
      height: 0 !important;
    }

    .MuiPaper-root {
      box-shadow: unset !important;
      display: flex;
      flex-direction: column;

      &:before {
        opacity: 1 !important;
      }
    }

    .MuiCollapse-hidden {
      height: 0 !important;
    }

    .MuiAccordionSummary-root {
      min-height: 0 !important;
      height: fit-content !important;
      padding: 0.5rem 1rem 0.5rem 1rem;
    }

    .MuiAccordionSummary-root.Mui-expanded {
      padding: 0.5rem 1rem 0.3rem 1rem;
    }
  }

  .LayerGroup {
    border: 1px solid #ddd;
    margin: -1px;

    .dashboard__left_side__row {
      padding-right: 10px;

      .title {
        margin-left: 5px;
        padding-top: 3px;
      }

      .IndicatorLegendRow-Color {
        height: 1rem;
        width: 1rem;
        margin-right: 0.5rem;
      }

      .MuiRadio-root {
        height: 24px;
        margin-top: 3px;
      }
    }

    &.Empty {
      border: none;

      & > .LayerGroupName {
        display: none;
      }

      & > .LayerGroupList {
        padding: 0;
      }
    }

    .LayerGroupName {
      background-color: var(--base-to-white-color);
      padding: 5px 10px;
      cursor: pointer;

      .CollapseButton {
        padding: 0 !important;
        display: inline-block;
        width: 30px;
        min-height: 0;
        min-width: 0;
        margin-right: 5px;

        .MuiButton-startIcon {
          margin-right: 0;
          margin-left: 0;
          padding-top: 3px;
        }
      }
    }

    .LayerGroupList {
      padding: 0 10px 0 10px;
    }
  }
}

.MuiAccordionSummary-content {
  .MuiSvgIcon-root {
    margin-left: 5px;
  }

  .MuiButtonLike:hover {
    opacity: 0.5;
  }
}

/** -----------------------------------------------
  ROWS
 ----------------------------------------------- **/
.dashboard__left_side__row {
  width: 100%;

  & > tbody {
    & > tr {
      & > td {
        &:first-child {
          width: 25px;
        }

        &:last-child {
          width: 12px;
        }
      }
    }
  }

  .dashboard__left_side__row__title {
    cursor: pointer;

    td {
      padding: 5px 0;
    }

    .InfoIcon {
      height: 20px;
      width: 20px;
      margin: 5px 0.5rem 0 0.5rem;

      svg {
        height: 100%;
        width: 100%;
      }

      &.Error {
        color: red;
      }
    }

    .RadioButtonSection {
      position: relative;

      .MuiCircularProgress-root {
        position: absolute;
        width: 24px !important;
        height: 24px !important;
        top: 3px;
        left: 0;
      }
    }
  }

  .MuiCheckbox-root {
    align-items: baseline;
    padding: 0 5px 0 0;
  }

  .title {
    flex-grow: 1;
  }

  &.disabled {
    cursor: not-allowed;

    .text {
      opacity: 0.6;
    }
  }

  .legend {
    display: none;

    &.showLegend {
      display: table-row;
    }

    & > td {
      &:nth-child(2) {
        > div {
          margin-bottom: 0.5rem;
        }
      }
    }

    table {
      tr {
        td:first-child {
          padding-right: 0.3rem;
        }
      }
    }

    img {
      max-width: 100%;
    }
  }

  .toggler {
    cursor: pointer;
    font-size: 28px;

    > div {
      height: 20px;
      width: 10px;
      margin-top: -9px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.dashboard__editor {
  .MuiAccordionSummary-content {
    display: block;
  }

  .MuiPaper-root {
    margin: 0 !important;
    overflow-x: auto;

    &.error {
      .MuiAccordionSummary-content {
        color: var(--error);

        .setting__helper {
          color: var(--error);
        }
      }
    }
  }
}

.modal__setting {
  .title {
    b {
      font-weight: var(--base-font-medium);
    }
  }
}

.setting__helper {
  color: #111;
  font-style: italic;
  font-weight: 300;
}

.MuiTabs-flexContainer {
  height: 100%;

  button {
    text-transform: none;
    width: 50%;
    height: 100%;
    padding: 0 !important;
    min-height: unset !important;
  }
}

.dashboard__content-wrapper__inner {
  background-color: #FFFFFF !important;
}

.sidepanel-tab {
  .TabPanelContent {
    height: 100%;
    width: 100%;

    & > .MuiBox-root {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  .MuiAccordionDetails-root {
    padding: 0 !important;

    .MuiInputBase-root {
      padding: 0;
    }
  }
}

.TreeView {
  .NoData {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    opacity: 0.5;
  }
}