/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Left-side panel
   ========================================================================== */

@use '../../../app/variables' as *;

.dashboard__left_side {
  position: relative;
  transition: margin-left 0.3s;
  border-right: 1px solid var(--border-gray);
  width: 20%;

  &.HideLayer {
    .layers-tab {
      display: none;
    }

    .MuiTabs-root {
      .filters-tab {
        width: 100%;
      }
    }
  }

  &.HideFilter {
    .filters-tab {
      display: none;
    }

    .MuiTabs-root {
      .layers-tab {
        width: 100%;
      }
    }
  }

  &.right {
    margin-left: -20%;
  }

  .dashboard__content-wrapper {
    display: flex;
    flex-direction: column;
    font-family: var(--base-font-family) !important;
    font-weight: var(--base-font-regular) !important;
    color: var(--tab-inactive-color);
    background-color: var(--white);

    .MuiTabs-root {
      min-height: 49px;
      height: 49px;
      box-sizing: border-box;
    }

    &.Layers .filter-wrapper {
      display: none !important;
    }

    &.Layers svg {
      margin-right: 5px;
    }

    &.Filters .dataset-wrapper {
      display: none !important;
    }
  }


  .dashboard__content-wrapper {
    height: 100% !important;
  }

  .dashboard__left_side__bottom {
    position: absolute;
    bottom: 1rem;
    left: 100%;
  }

  .dashboard__left_side__bottom {
    position: fixed;
    bottom: 5px;
    left: 0;
    margin-left: 1rem;

    .dashboard__left_side__bottom_inner {
      display: flex;
      align-items: flex-end;
      width: 100vw;
      height: 0;
    }
  }

  .dashboard__content-wrapper Layers {
    display: flex;
    flex-direction: column;
  }

  // For accordion
  .dashboard__content-wrapper {
    background-color: #eee;
    flex-grow: 1;
    display: block;
    min-height: 0;

    .layers-tab-container {
      width: 100%;
      margin-left: 0;
    }

    & > .MuiBox-root {
      height: 100%;
      display: flex;
      flex-direction: column;

      .sidepanel-tab {
        flex-grow: 1;
        overflow: hidden;
        width: 100%;

        &.layers-panel {
          & > .TabPanelContent {
            & > .MuiPaper-root {
              height: 100%;
              width: 100%;

              & > .MuiAccordionDetails-root {
                height: 100%;
                width: 100%;

                .TreeView {
                  height: 100%;
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  & > ul {
                    flex-grow: 1;
                    overflow-y: auto;
                  }
                }
              }
            }
          }
        }
      }
    }

    .MuiAccordionSummary-title-desc {
      color: var(--base-black-color);
      font-weight: var(--base-font-light);
    }

    > div.Mui-expanded {
      flex-grow: 1;
    }

    > .MuiPaper-root {
      margin: 0.2rem 0;
      border-radius: var(--border-radius);

      &.Mui-expanded {
        margin: 0.2rem 0;
      }

      &:before {
        display: none;
      }

      .MuiAccordionSummary-content {
        margin: 0 !important;
        font-weight: var(--base-font-medium);
        font-size: 1rem;
        color: var(--primary-color);
        display: flex;

        .Name {
          flex-grow: 1;
        }
      }
    }

    > .MuiPaper-root > .MuiCollapse-root {
      flex-grow: 1 !important;
      overflow: auto;
      height: 0 !important;
    }

    .MuiPaper-root {
      box-shadow: unset !important;
      display: flex;
      flex-direction: column;

      &:before {
        opacity: 1 !important;
      }
    }

    .MuiCollapse-hidden {
      height: 0 !important;
    }

    .MuiAccordionSummary-root {
      min-height: 0 !important;
      height: fit-content !important;
      padding: 0.5rem 1rem 0.5rem 1rem;
    }

    .MuiAccordionSummary-root.Mui-expanded {
      padding: 0.5rem 1rem 0.3rem 1rem;
    }
  }

  .LayerGroup {
    border: 1px solid #ddd;
    margin: -1px;

    .dashboard__left_side__row {
      padding-right: 10px;

      .title {
        margin-left: 5px;
        padding-top: 3px;
      }

      .IndicatorLegendRow-Color {
        height: 1rem;
        width: 1rem;
        margin-right: 0.5rem;
      }

      .MuiRadio-root {
        height: 24px;
        margin-top: 3px;
      }
    }

    &.Empty {
      border: none;

      & > .LayerGroupName {
        display: none;
      }

      & > .LayerGroupList {
        padding: 0;
      }
    }

    .LayerGroupName {
      background-color: var(--base-to-white-color);
      padding: 5px 10px;
      cursor: pointer;

      .CollapseButton {
        padding: 0 !important;
        display: inline-block;
        width: 30px;
        min-height: 0;
        min-width: 0;
        margin-right: 5px;

        .MuiButton-startIcon {
          margin-right: 0;
          margin-left: 0;
          padding-top: 3px;
        }
      }
    }

    .LayerGroupList {
      padding: 0 10px 0 10px;
    }
  }

  .LayerLegend {
    color: var(--map-legend-label-color);
    font-size: var(--map-legend-label-size);
    margin-left: 0;
  }

  .mapboxgl-ctrl-legend {
    .list {
      margin: 0 1rem 0 0;
    }
  }
}

.MuiAccordionSummary-content {
  .MuiSvgIcon-root {
    margin-left: 5px;
  }

  .MuiButtonLike:hover {
    opacity: 0.5;
  }
}

/** -----------------------------------------------
  ROWS
 ----------------------------------------------- **/
.dashboard__left_side__row {
  width: 100%;

  & > tbody {
    & > tr {
      & > td {
        &:first-child {
          width: 25px;
        }

        &:last-child {
          width: 12px;
        }
      }
    }
  }

  .dashboard__left_side__row__title {
    cursor: pointer;

    td {
      padding: 5px 0;
    }

    .InfoIcon {
      height: 20px;
      width: 20px;
      margin: 5px 0.5rem 0 0.5rem;

      svg {
        height: 100%;
        width: 100%;
      }

      &.Error {
        color: red;
      }
    }

    .RadioButtonSection {
      position: relative;

      .MuiCircularProgress-root {
        position: absolute;
        width: 24px !important;
        height: 24px !important;
        top: 3px;
        left: 0;
      }
    }
  }

  .MuiCheckbox-root {
    align-items: baseline;
    padding: 0 5px 0 0;
  }

  .title {
    flex-grow: 1;
  }

  &.disabled {
    cursor: not-allowed;

    .text {
      opacity: 0.6;
    }
  }

  .legend {
    display: none;

    &.showLegend {
      display: table-row;
    }

    & > td {
      &:nth-child(2) {
        > div {
          margin-bottom: 0.5rem;
        }
      }
    }

    table {
      tr {
        td:first-child {
          padding-right: 0.3rem;
        }
      }
    }

    img {
      max-width: 100%;
    }
  }

  .toggler {
    cursor: pointer;
    font-size: 28px;

    > div {
      height: 20px;
      width: 10px;
      margin-top: -9px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.dashboard__editor {
  .MuiAccordionSummary-content {
    display: block;
  }

  .MuiPaper-root {
    margin: 0 !important;
    overflow-x: auto;

    &.error {
      .MuiAccordionSummary-content {
        color: var(--error);

        .setting__helper {
          color: var(--error);
        }
      }
    }
  }
}

.modal__setting {
  .title {
    b {
      font-weight: var(--base-font-medium);
    }
  }
}

.setting__helper {
  color: #111;
  font-style: italic;
  font-weight: 300;
}

.MuiTabs-flexContainer {
  height: 100%;

  button {
    text-transform: none;
    width: 50%;
    height: 100%;
    padding: 0 !important;
    min-height: unset !important;
  }
}

.dashboard__content-wrapper__inner {
  background-color: #FFFFFF !important;
}

.sidepanel-tab {
  .TabPanelContent {
    height: 100%;
    width: 100%;

    & > .MuiBox-root {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  .MuiAccordionDetails-root {
    padding: 0 !important;

    .MuiInputBase-root {
      padding: 0;
    }
  }

  .TreeView {
    .NoData {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      opacity: 0.5;
    }
  }

  .TreeView > ul > li {
    border-bottom: unset;
  }

  .TreeView {
    .MuiTreeItem-group {
      margin-left: 0 !important;
      padding-left: 15px !important;
      box-sizing: border-box;

      & > div {
        border-left: 1px solid #ccc;
        padding-left: 10px;
        box-sizing: border-box;
      }
    }

    .MuiTreeItem-label {
      padding-left: 0;

      .Group {
        & > .MuiCheckbox-root {
          margin-left: 1px;
        }
      }

      > div {
        position: relative;
        padding-left: 1rem !important;
        padding-right: 1rem !important;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 8px;
          width: 8px;
          height: 1px;
          background-color: #ccc;
        }
      }
    }

    .MuiTypography-root {
      flex-grow: 1;
    }
  }

  .MuiTreeItem-iconContainer {
    width: auto !important;
    margin-right: 0 !important;

    svg {
      margin-left: 7px;
    }
  }

  .MuiTreeItem-content {
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
  }

  .PanelInput {
    position: relative;
    padding-top: 2px !important;
    height: 16px;
  }

  .LayerIcon {
    height: 16px;
  }

  .item-tree-layer-content {
    padding: 0.5rem;
    padding-left: 1rem;
    margin-top: 0.5rem;
    margin-left: 4px;
    border-left: 1px solid #ccc;


    .mapboxgl-ctrl-legend {
      margin-top: unset;
    }

    .WhereConfigurationQueryGroup,
    .WhereConfigurationQuery {
      padding: 0 !important;
      width: 100%;
    }

    .WhereConfigurationField div {
      color: var(--base-black) !important;
      text-shadow: none !important;
      -webkit-text-fill-color: unset !important;
    }

    .ContextLayerMiddleConfig {
      box-sizing: border-box;
      max-width: 100%;
      transition: height 0.3s;
      z-index: 1;
      pointer-events: auto !important;

      .WhereConfigurationWrapper {
        width: 100%;
        max-width: 60vw;
        overflow-x: auto;
        overflow-y: hidden;
        margin-top: 0.5rem;
      }

      .WhereConfiguration {
        height: 100%;
        padding: 0;
        display: flex;
      }

      .DateOperator {
        display: flex;
        border: unset !important;
        height: 26px !important;
        min-height: 26px !important;

        & > .WhereConfigurationOperatorType {
          margin-left: -1px;
        }
      }

      .WhereConfigurationQuery,
      .DateOperator {

        & > .MultipleSelectWithSearch,
        & > .SelectWithSearchInput,
        & > .WhereConfigurationOperatorValue,
        & > .WhereConfigurationOperatorText,
        & > .WhereConfigurationOperatorType,
        & > .SelectWithSearch,
        .DatePickerInput {
          height: 24px !important;
          min-height: 24px !important;
          background-color: white !important;
          border: var(--border);
          outline: unset !important;

          & > .SelectWithSearch {
            border: unset !important;
            height: 100%;
          }

          fieldset {
            border: unset !important;
          }

          .MuiInputBase-root {
            height: 23px !important;
            min-height: 23px !important;
          }

          input {
            min-height: 24px !important;
          }
        }

        & > .WhereConfigurationOperatorValue,
        & > .WhereConfigurationOperatorType {
          height: 25px !important;
          min-height: 25px !important;
        }

        .BetweenDash {
          color: white;
          width: 4px !important;
        }

        .DatePickerInput {
          padding-top: 1px;
          min-width: 170px;
        }

        & > .SelectWithSearchInput {
          height: 25px !important;
          min-height: 25px !important;
          padding: 0 !important;
        }

        & > .WhereConfigurationOperatorValue {
          width: 80px;
        }

        & > .WhereConfigurationOperatorText {
          display: block;
          border: unset !important;
          margin-right: 5px;
          margin-top: 3px;
        }

        &.IsDate {
          .SelectWithSearchInput {
            min-width: 190px;
          }
        }

        &.ShowOperator {
          .WhereConfigurationOperator {
            display: inline-block;
            height: fit-content;
            width: fit-content;
            min-width: unset;
            min-height: unset !important;

            div {
              background-color: white;
              width: fit-content;
              padding: 5px 0.5rem;
              display: inline-block;
            }

            fieldset,
            svg {
              display: none;
            }
          }
        }

        .DatePickerInput {
          display: inline-block !important;
        }
      }

      .top-bottom-toggle-button {
        position: absolute;
        bottom: -18px;
        left: 50%;
        height: fit-content;
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
      }

      .WhereConfigurationResult {
        display: none;
      }

      .WhereConfigurationQueryGroup {
        border: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: fit-content;

        .WhereConfigurationQuery {
          display: block;
          padding: 0 0.5rem;
          margin-bottom: 1rem;

          .MuiOutlinedInput-root {
            min-height: 40px;
            font-size: 0.9rem !important;
          }

          .MuiInputSliderWithInput {
            min-height: 40px;
          }
        }

        .WhereConfigurationOrAndWrapper {
          display: none;
        }

        .WhereConfigurationOperator {
          display: none;
        }

        .WhereConfigurationField {
          display: block;
          width: fit-content;
          padding-top: 5px;
          background-color: unset !important;
          font-weight: 600;
          min-height: 25px !important;
          height: fit-content !important;

          fieldset {
            border: none !important;
          }

          svg {
            display: none;
          }

          .MuiSelect-select {
            background-color: white;
            padding: 0;
            font-size: 0.9rem !important;
            cursor: default !important;
            width: fit-content;
            text-shadow: -0.5px -0.5px 0 white, 0.5px -0.5px 0 white, -0.5px 0.5px 0 white, 0.5px 0.5px 0 white;
          }

          div {
            background-color: unset !important;
          }
        }

        .FilterInput {
          .MuiInputBase-root {
            flex-wrap: nowrap;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
          }

          .MuiChip-root,
          .MuiInput-root {
            background-color: unset !important;
          }

          .MuiInputBase-root {
            font-size: 0.9rem !important;
            background-color: white !important;
          }
        }
      }

      .MuiInputSlider {
        height: 34px;
        padding: 4px 20px 0 20px !important;
      }

      .MuiInputSliderWithInput {
        overflow: visible !important;
        position: relative;
        border: unset !important;
        background-color: unset !important;

        input {
          height: 100%;
        }

        .MuiInputSlider {
          position: absolute;
          box-sizing: border-box;
          top: 25px;
          left: 0;
          width: 100%;
          border: unset !important;
          padding: 0 8px !important;
          min-width: unset !important;

          .MuiSlider-root {
            height: 1px;
          }

          .MuiSlider-thumb {
            height: 10px;
            width: 10px;
          }

          .MuiSlider-rail {
            border: 1px solid currentColor;
          }
        }

        .MuiInputBase-root {
          height: 25px;
          border: var(--border) !important;
          margin-right: 5px;
          padding: 0 !important;

          input {
            text-align: center;
          }

          &.Mui-disabled {
            display: block !important;

            input {
              margin-top: 1px;
            }
          }
        }

        &.Single {
          .MinValue {
            display: none !important;
          }
        }
      }

      .MuiAutocomplete-input {
        min-width: 0;
      }

      .MuiAutocomplete-popper {

        div,
        ul,
        li {
          min-width: fit-content;
          padding-left: 10px;
        }

        li {
          text-wrap: none;
        }
      }
    }
  }
}