/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   DESCRIPTION
   ========================================================================== */

@import '../../../app/variables';

.LayerInfoPopover {
  padding: 0.5rem;
  font-size: 0.8rem;
  max-width: 200px;

  .title {
    color: $primary-color;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .Loading {
    text-align: center;
  }
}