/**
 * GeoSight is UNICEF's geospatial web-based business intelligence platform.
 *
 * Contact : geosight-no-reply@unicef.org
 *
 * .. note:: This program is free software; you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation; either version 3 of the License, or
 *     (at your option) any later version.
 *
 * __author__ = 'danang@kartoza.com'
 * __date__ = '26/06/2023'
 * __copyright__ = ('Copyright 2023, Unicef')
 */

@import '../../app/variables';

.GeorepoAuthorization {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1002;
  background-color: $white-transparent !important;
  color: $error;
  box-sizing: border-box;
  margin: 0 !important;

  .wrapper {
    background-color: white;
    padding: 1rem;
    width: fit-content;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    text-align: center;
    margin: auto;
    margin-top: 5rem;
  }
}