/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '12/02/2024'
* __copyright__ = ('Copyright 2023, Unicef')
*/

table {
  width: 100%;

  th, td {
    border: 1px solid var(--primary-color);
    padding: 0.5rem;

    &.level-column {
      text-align: center;
      width: 40px;
    }

    &.isValue {
      padding: 0 !important;

      .Mui-focused,
      &:hover {
        fieldset {
          border: 1px solid var(--primary-color);
          border-width: 1px !important;
          border-color: var(--primary-color) !important;
        }
      }

      fieldset {
        border: none;
      }
    }
  }

  .error {
    width: 10px;

    svg {
      cursor: pointer;
      height: 1rem;
      width: 1rem;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .AddNewLevel {
    align-items: center;
    cursor: pointer;
    display: flex;
    text-align: left;
    width: fit-content;

    &:hover {
      opacity: var(--base-hovered-opacity);
    }
  }
}