{% extends 'frontend/admin/base_form.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load frontend %}

{% block render_bundle %}
    {% render_bundle 'AdminStyleForm' %}
{% endblock %}
{% block pre_scripts %}
    <script>
      document.querySelector('p[data-field-name="value_type"]').remove()
      document.querySelector('p[data-field-name="style_config"]').remove()
      document.querySelector('p[data-field-name="style_type"]').remove()
    </script>
{% endblock %}
{% block scripts %}
    <script>
      const initialData = {{ form|get_data|safe }};
      const permissionFormData = {% if form.permission_data %}{{ form.permission_data|safe }}{% else %}null{% endif %};
      const style = {{ form.instance_data|safe }};
      const currentRules = {{ rules|safe }};
      const types = {{ types|safe }};
      const styleTypes = {{ styleTypes|safe }};
      const dynamicClassification = {{ dynamicClassification|safe }};
      const codelists = {{ codelists|safe }};

      const permission = {{ permission|safe }};
      // Urls api
      urls.api = {
        'styles': '{% url 'style-list-api'%}',
        'users': '{% url 'user-list-api'%}',
        'detail': '{% url 'style-detail-api' 0 %}',
      }

      if (permission.share) {
        {% if id %}
          urls.api.permission = '{% url 'style-permission-api' id %}'
        {% else %}
          urls.api.permission = '{% url 'style-permission-api' 0 %}'
        {% endif %}
      }

      // If in batch or not
      const batch = {% if batch %}true{% else %}null{% endif %};
    </script>
{% endblock %}