{% extends 'frontend/admin/base.html' %}
{% load render_bundle from webpack_loader %}

{% block extrastyle %}
{% endblock %}

{% block render_bundle %}
    {% render_bundle 'AdminStyleList' %}
{% endblock %}

{% block scripts %}
    <script>
      urls.api = {
        'list': '{% url 'styles-list' %}?fields=__all__',
        'create': '{% url 'admin-style-create-view' %}',
        'edit': '{% url 'admin-style-edit-view' 0 %}',
        'batch': '{% url 'admin-style-edit-batch-view' %}',
        'detail': '{% url 'styles-detail' 0 %}',

        {# permissions #}
        'permission': '{% url 'style-permission-api' 0 %}',
      }
    </script>
{% endblock %}