/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

.AdminForm {
  background-color: white;
  flex-grow: 1;
  min-height: 0;
  overflow: auto;

  .BasicForm {
    padding: 0;
  }

  .AdminFormLoading {
    display: block;
    flex-grow: 1;

    .AdminFormLoadingSection {
      height: fit-content;
      width: fit-content;
      display: flex;
      margin: 200px auto auto;

      div {
        margin-left: 1rem;
        padding-top: 0.5rem;
      }
    }
  }

  // Tab form
  .TabForm {
    margin-top: 2rem;
    display: flex;
    flex-direction: row-reverse;

    .Separator {
      flex-grow: 1;
      background: none !important;
      cursor: default !important;

      &:after {
        border: none !important;
      }
    }

    div {
      background: var(--gray-100);
      position: relative;
      width: fit-content;
      padding: var(--base-input-padding);
      padding-left: 1.5rem;
      cursor: pointer;

      &:last-child {
        padding-left: 1rem;
      }

      &:hover {
        background: var(--gray-200);
        color: var(--primary-color);

        &:after {
          border-left-color: var(--gray-200);
        }
      }

      &.Disabled {
        background: var(--gray-100);
        color: var(--gray-500);
        cursor: not-allowed;

        &:after {
          border-left-color: var(--gray-100);
        }
      }


      &:after {
        position: absolute;
        top: 0;
        left: 100%;
        content: '';
        border-left: 10px solid var(--gray-100);
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
      }

      &.Selected {
        background: var(--primary-color);
        color: var(--anti-primary-color);

        &:after {
          border-left-color: var(--primary-color);
        }
      }
    }
  }
}