{% extends 'frontend/admin/base.html' %}
{% load render_bundle from webpack_loader %}

{% block extrastyle %}
{% endblock %}

{% block render_bundle %}
    {% render_bundle 'AdminDataImporterList' %}
{% endblock %}

{% block scripts %}
    <script>
      urls.api = {
        'list': '{% url 'data-importer-list-api' %}',
        'detail': '{% url 'data-importer-detail-api' 0 %}',
        'edit': '{% url 'data-importer-detail-view' 0 %}',
        'meta_ingestor_wide_format': '{{ meta_ingestor_wide_format }}',
        'meta_ingestor_long_format': '{{ meta_ingestor_long_format }}',
        'users': '{% url 'user-list-api'%}',

        {# harvester specified url#}
        'permission': '{% url 'harvester-permission-api' 0 %}',
      }
    </script>
{% endblock %}