/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Date selection
   ========================================================================== */

@import '../../../../../app/variables';


.GlobalDatePlaysControl {
  text-align: center;
  background: white;
  padding: 3px;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  height: 30px;
  box-sizing: border-box;
  display: flex;

  .GlobalDatePlaysSpeedControl {
    display: flex;
    border: 1px solid $secondary-color;
    width: 156px;
    position: absolute;
    right: -1.5rem;
    top: 0;
    padding: 5px 1.5rem 5px 1rem;
    border-radius: $border-radius;

    .GlobalDatePlaysSpeedControlText {
      margin-right: 1rem;
      padding-top: 2px;
    }

    .MuiSlider-thumb {
      color: $secondary-color;
    }

    .MuiSlider-root {
      color: $secondary-color;
    }
  }

  button {
    margin: 0 0.2rem;
  }

  .MuiButtonBase-root {
    padding: 0 !important;
    border: none !important;

    &.Mui-disabled {
      padding: 0 !important;
      border: none !important;
    }
  }

  .GlobalDateSelectionIcon {
    margin-left: 1rem;
    padding: 2px 0 !important;

    svg {
      height: 20px;
      width: 20px;
    }
  }
}