{% extends 'frontend/admin/base_form.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load frontend %}

{% block render_bundle %}
    {% render_bundle 'AdminCloudNativeGISLayerEdit' %}
{% endblock %}
{% block scripts %}
    <script>
      const initialData = {{ form|get_data|safe }};
      const permission = {{ permission|safe }};

      // Urls api
      urls.api = {
        'users': '{% url 'user-list-api'%}',
        'groups': '{% url 'group-list-api'%}',
        'detail': '{% url 'cloud-native-gis-layer-detail' 0 %}',
      }

      if (permission.share) {
        {% if id %}
          urls.api.permission = '{% url 'cloud-native-gis-layer-permission-api' id %}'
        {% else %}
          urls.api.permission = '{% url 'cloud-native-gis-layer-permission-api' 0 %}'
        {% endif %}
      }
      // If in batch or not
      const batch = {% if batch %}true{% else %}null{% endif %};
    </script>
{% endblock %}