{% extends 'frontend/admin/base.html' %}
{% load render_bundle from webpack_loader %}

{% block extrastyle %}
{% endblock %}

{% block render_bundle %}
    {% render_bundle 'AdminCloudNativeGISLayerList' %}
{% endblock %}

{% block scripts %}
    <script>
      urls.api = {
        'list': '{% url 'cloud-native-gis-layer-list' %}',
        'edit': '{% url 'admin-cloud-native-gis-layer-edit-view' 0 %}',
        'users': '{% url 'user-list-api'%}',
        'groups': '{% url 'group-list-api'%}',
        'detail': '{% url 'cloud-native-gis-layer-detail' 0 %}',

        {# basemap specified url#}
        'permission': '{% url 'cloud-native-gis-layer-permission-api' 0 %}',
      }
    </script>
{% endblock %}