/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

header {
  background-color: var(--navbar-background-color);

  .MiddleSection {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -1rem;
    pointer-events: none;
  }

  .NavHeader {
    align-items: center;
    display: flex;
    height: var(--nav-header-height);
    padding: 5px 1rem;
    position: relative;
    width: 100%;
    z-index: 1001;
    box-sizing: border-box;
    color: var(--anti-primary-color);

    &.Nav-Staging {
      background-color: #FF0000;
    }
    &.Nav-Production {
      background-color: var(--primary-color);
    }

    a {
      display: block;
      color: var(--anti-primary-color);
      text-underline: none;
      font-size: 20px;
    }

    .LinkButton {
      height: 100%;

      button {
        font-size: 10px !important;
        height: 100%;
        padding-left: 5px !important;
        padding-right: 5px !important;
        border-radius: 0;
      }

      a {
        height: 100%;
      }

      svg {
        height: 10px;
        width: 10px;
        margin-right: 5px !important;

      }
    }

    .HelpButton {
      margin-right: 10px;
    }


    .SvgButton {
      color: var(--anti-primary-color);
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }

    .NavHeaderLink {
      margin-left: 0.5rem;
      border-left: 1px solid white;
      padding-left: 0.5rem;
    }

    .NavHeaderLogo {
      box-sizing: border-box;
      height: 80%;

      a {
        height: 100%;
      }

      img {
        height: 22px;
        vertical-align: unset !important;
        margin-top: 2px;
      }
    }
  }
}

.NavbarAccount-Wrapper {
  .NavbarAccount {
    background-color: white;
    border-radius: 50%;
    color: var(--base-black-color);
    cursor: pointer;
    height: 24px;
    text-transform: capitalize;
    width: 24px;
    text-align: center;
    font-size: 16px;

    &:hover {
      opacity: var(--base-hovered-opacity);
    }
  }

  &.Detail {
    display: flex;
    align-items: center;

    .NavbarAccount {
      background-color: var(--primary-color);
      color: white;
      font-size: 22px;
      height: 33px;
      width: 33px;
      margin-right: 0.5rem;
    }

    .NavbarAccount-Username {
      font-size: 10px;
    }

    .NavbarAccount-FullName {
      font-size: 8px;
      opacity: 0.3;
    }
  }
}

.AdminLinkButton {
  position: relative;
  display: flex;
  align-items: center;

  .NotificationBadge {
    margin-right: 10px;
    border: 1px solid white;
    background: white;
    color: var(--primary-color);
    position: relative;
    height: 12px;
  }
}

.EditProjectLinkButton {
  a {
    display: flex !important;
    align-items: center;
  }

  svg {
    height: 14px !important;
    width: 14px !important;
  }
}

.MenuItem-Header {
  padding: 0 !important;

  &.Description {
    cursor: default;
    background-color: unset !important;
    display: block;
    padding: 6px 16px !important;
    border-bottom: 1px solid var(--primary-color);
    width: 100%;
  }

  &.MenuItem-Button {
    text-align: center;
    padding: 1rem !important;
  }
}

.Embed {
  &.DjangoAdmin {
    display: none;
  }
}

.MuiButton-root {
  &.GeorepoApiKeyBtn {
    margin-right: 1rem !important;
    padding: 8px 1rem !important;

    a {
      font-size: 1rem
    }
  }
}