/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Navbar : Deprecated, reusing css from admin dashboard
   ========================================================================== */

@import '../../app/variables';

header {
  background-color: $navbar-background-color;

  .NavHeader {
    align-items: center;
    display: flex;
    height: $nav-header-height;
    padding: 5px 1rem;
    position: relative;
    width: 100%;
    z-index: 1001;
    box-sizing: border-box;
    color: var(--anti-primary-color);

    a {
      display: block;
      color: var(--anti-primary-color);
      text-underline: none;
      font-size: 20px;
    }

    .LinkButton {
      height: 100%;

      button {
        font-size: 10px !important;
        height: 100%;
        padding-left: 5px !important;
        padding-right: 5px !important;
        border-radius: 0;
      }

      a {
        height: 100%;
      }

      svg {
        height: 10px;
        width: 10px;
        margin-right: 5px !important;

      }
    }

    .HelpButton {
      margin-right: 10px;
    }


    .SvgButton {
      color: var(--anti-primary-color);
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }

    .NavHeaderLink {
      margin-left: 0.5rem;
      border-left: 1px solid white;
      padding-left: 0.5rem;
    }

    .NavHeaderLogo {
      box-sizing: border-box;
      height: 80%;

      a {
        height: 100%;
      }

      img {
        height: 22px;
        vertical-align: unset !important;
        margin-top: 2px;
      }
    }
  }
}

.NavbarAccount-Wrapper {
  .NavbarAccount {
    background-color: white;
    border-radius: 50%;
    color: $base-black-color;
    cursor: pointer;
    height: 24px;
    text-transform: capitalize;
    width: 24px;
    text-align: center;
    font-size: 16px;

    &:hover {
      opacity: $base-hovered-opacity;
    }
  }

  &.Detail {
    display: flex;
    align-items: center;

    .NavbarAccount {
      background-color: $primary-color;
      color: white;
      font-size: 22px;
      height: 33px;
      width: 33px;
      margin-right: 0.5rem;
    }

    .NavbarAccount-Username {
      font-size: 10px;
    }

    .NavbarAccount-FullName {
      font-size: 8px;
      opacity: 0.3;
    }
  }
}

.MenuItem-Header {
  padding: 0 !important;

  &.Description {
    cursor: default;
    background-color: unset !important;
    display: block;
    padding: 6px 16px !important;
    border-bottom: 1px solid $primary-color;
    width: 100%;
  }

  &.MenuItem-Button {
    text-align: center;
    padding: 1rem !important;
  }
}

.Embed {
  &.DjangoAdmin {
    display: none;
  }
}