/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Navbar : Deprecated, reusing css from admin dashboard
   ========================================================================== */

@import '../../app/variables';

header {
  background-color: $navbar-background-color;

  .NavHeader {
    height: 3rem;
    width: 100%;
    z-index: 1001;
    position: relative;

    li {
      padding: ($global-spacing * 0.7) ($global-spacing * 0.5);
      z-index: 1;

      &:first-child {
        padding-left: $global-spacing;
      }

      &:last-child {
        padding-right: $global-spacing*2;
      }
    }

    &.Menu {
      color: var(--primary-color);
      display: flex;
      flex: 1;
      height: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;

      a {
        color: var(--anti-primary-color);
        text-underline: none;
        display: block;
        height: 100%;

        &:hover {
          opacity: 1;
        }
      }
    }

    button {
      border: unset;
      color: white;
      font-weight: 300;
      margin-top: -0.2rem;
      padding: 0;
      background: unset;
      letter-spacing: 0.02857em;
      cursor: pointer;

      &:active,
      &:focus-visible,
      &:focus,
      &:hover {
        background: none;
        border: unset;
        box-shadow: unset;
        outline: none !important;
      }

      a {
        font-weight: 500;
      }

      svg {
        height: 1.8rem;
        width: 1.8rem;
      }
    }

    .NavHeaderTitle {
      margin: 0 auto 0 0;
      padding-left: 0 !important;
      font-family: 'Arial';

      button {
        min-width: unset;
        border-radius: 0;
      }

      .NavHeaderVersion {
        display: inline-block;
        margin-left: 4px;
        color: white;
        font-size: 0.8rem;
      }
    }

    .NavHeaderLogo {
      height: 2rem;
      box-sizing: border-box;
      padding: 2px 2px 1px 0;
      margin-top: 8px;
      margin-right: 8px;
      width: 120px;
      border-right: 1px solid white;


      a {
        height: 80% !important;
      }

      .NavHeaderLink {
        width: 85px;
      }

      img {
        height: 100%;
        vertical-align: unset !important;
      }
    }

    .NavHeaderRight {
      background-color: $tertiary-color;

      &.First {
        padding-left: 3rem;
      }
    }

    .HeaderTitle {
      background: $primary-color;
      color: $anti-primary-color;
      font-weight: $base-font-regular;
      position: absolute;
      width: 100%;
      text-align: center;
      background-color: unset;
      font-size: 1.2rem;
      margin-top: -3px;
      padding-right: 0.5rem;
      box-sizing: border-box;
      z-index: 0;
    }

    .LoginButton {
      white-space: nowrap;
    }
  }
}

.MenuItem-Header {
  padding: 0 !important;

  &.Description {
    cursor: default;
    background-color: unset !important;
    display: block;
    padding: 6px 16px !important;
    border-bottom: 1px solid $primary-color;
    width: 100%;
  }

  &.MenuItem-Button {
    text-align: center;
    padding: 1rem !important;
  }
}

.Embed {
  &.DjangoAdmin {
    display: none;
  }
}