/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Basic Page Content
   ========================================================================== */
@import '../../app/variables';

.Home {
  ::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;;
  }

  main {
    padding: 0;
    flex-grow: 1;
    min-height: 0;
  }

  banner {
    height: 420px;
    position: relative;
    transition: height 0.5s;
    width: 100%;

    &.Hide {
      height: 0;

      .ShowBanner {
        display: inline-flex;
      }

      .HideBanner {
        display: none;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
      opacity: .6;
      height: 100%;
      width: 100%;
    }

    .BannerContent {
      box-sizing: border-box;
      color: white;
      display: flex;
      flex-direction: column;
      height: 420px;
      margin: auto;
      padding: 3rem;
      padding-right: 11rem;

      .wmde-markdown {
        color: white;
      }
    }

    .ShowBanner {
      background-color: white;
      bottom: -2.5rem;
      border: 1px solid $base-black-color;
      border-radius: 0;
      display: none;
      opacity: 0.2;
      z-index: 1;

      &:hover {
        opacity: 0.6;
      }
    }

    .HideBanner {
      bottom: 2rem;
    }

    .HideBanner,
    .ShowBanner {
      right: 2rem;
      position: absolute;
      font-size: 10px !important;

      svg {
        margin-right: 0 !important;
        margin-left: 3px;
        height: 16px;
        width: 16px;
      }
    }
  }

  .wmde-markdown {
    background-color: unset;
  }
}

.BannerContent,
.HomePageContent {
  max-width: 100%;
  width: 1300px;
  position: relative;
}

.PageContent {
  background-color: unset !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 !important;
  overflow-y: auto;
  padding: 0 !important;
  width: 100% !important;

  .HomePageContent {
    box-sizing: border-box;
    flex-grow: 1;
    padding: 3rem;
    margin: auto;
    background-color: white;

    .PageContent-Title {
      font-size: 26px;
      font-weight: 500;
      margin-bottom: 2rem;
      color: inherit;
      display: flex;
      align-items: center;

      .SearchInput {
        width: 40%;

        .MuiInputBase-root {
          width: 100%;
        }
      }
    }

    .PageContent-Content {
      display: flex;
      flex-wrap: wrap;
    }

    .MuiGrid-root {
      &:hover {
        z-index: 1;
      }
    }

    .ProjectGrid {
      background-color: $base-to-white-color;
      cursor: pointer;
      height: 360px;
      transition: margin 0.2s;
      overflow: hidden;

      &:hover {
        margin-top: -0.5rem;
        overflow: visible;

        a {
          opacity: 1;
        }

        .ProjectGridDescription {
          max-height: 300px;
          overflow: auto;
        }
      }

      a {
        color: inherit;
        display: flex;
        flex-direction: column;
        height: 100%;

        &:hover {
          .ProjectGridDescription {
            overflow-y: auto;
          }
        }
      }

      .ProjectGridIcon {
        background-color: $primary-color;
        border: 1px solid $base-to-white-color;
        height: 180px;
        width: 100%;

        img {
          height: 180px;
          object-fit: cover;
          width: 100%;
        }

        svg {
          display: block;
          font-size: 5rem;
          color: $base-to-white-color;
          margin: auto;
          margin-top: 5rem;
        }
      }

      .ProjectGridName,
      .ProjectGridDescription {
        padding: 0 1rem;
      }

      .ProjectGridName {
        font-size: 18px;
        font-weight: 400;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: capitalize;
        line-height: 21px;
      }

      .ProjectGridTags {
        display: flex;
        padding: 0.5rem 1rem 1rem 1rem;
        background-color: $base-to-white-color;

        div {
          background-color: white;
          margin-right: 5px;
          padding: 3px;
          color: $primary-color;
        }
      }

      .ProjectGridDescription {
        flex-grow: 1;
        font-size: 14px;
        font-weight: 300;
        padding-bottom: 1rem;
        overflow: hidden;
        max-height: 300px;
        background-color: $base-to-white-color;
        line-height: 17px;
        color: $gray-600;

        .wmde-markdown {
          line-height: 17px;
          color: $gray-600;
        }
      }
    }

    .CategorySelector {
      &.MultipleValue {
        .MuiInputBase-root {
          & > .MuiButtonBase-root {
            &:after {
              content: 'Categories selected';
            }
          }
        }
      }

      &.AllSelected {
        .MuiInputBase-root {
          & > .MuiButtonBase-root {
            &:after {
              content: 'All categories';
            }
          }
        }
      }
    }

    .IconStart {
      svg {
        width: 18px;
        height: 16px;
        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  .SelectWithSearchInput,
  .MultipleSelectWithSearch,
  .SelectWithSearch {
    position: relative;
    height: 56px;

    input {
      min-height: 54px;
      height: 54px;
    }
  }
}
