/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Basic Page Content
   ========================================================================== */
@import '../../app/variables';

.Home {
  main {
    padding: 0;
    flex-grow: 1;
    min-height: 0;
  }
}

.PageContent {
  background-color: unset !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 !important;
  overflow-y: auto;
  padding: 0 !important;
  width: 100% !important;

  .HomePageContent {
    box-sizing: border-box;
    flex-grow: 1;
    margin: 2rem auto;
    max-width: 100%;
    width: 1300px;
    padding: 0 2rem;

    .PageContent-Title {
      font-size: 26px;
      font-weight: 500;
      margin-bottom: 2rem;
      color: inherit;
      display: flex;
      align-items: center;

      .SearchInput {
        width: 40%;

        .MuiInputBase-root {
          width: 100%;
        }
      }
    }

    .PageContent-Content {
      display: flex;
      flex-wrap: wrap;
    }

    .MuiGrid-root {
      &:hover {
        z-index: 1;
      }
    }

    .ProjectGrid {
      background-color: #F4F4F4;
      cursor: pointer;
      height: 360px;
      transition: margin 0.2s;
      overflow: hidden;

      &:hover {
        margin-top: -0.5rem;
        overflow: visible;

        a {
          opacity: 1;
        }

        .ProjectGridDescription {
          max-height: 300px;
          overflow: auto;
        }
      }

      a {
        color: inherit;
      }

      .ProjectGridIcon {
        background-color: white;
        border: 1px solid #F4F4F4;
        height: 180px;
        width: 100%;

        img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }

        svg {
          display: block;
          font-size: 5rem;
          color: #F4F4F4;
          margin: auto;
          margin-top: 3rem;
        }
      }

      .ProjectGridName,
      .ProjectGridDescription {
        padding: 0 1rem;
      }

      .ProjectGridName {
        font-size: 18px;
        font-weight: 400;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: capitalize;
        line-height: 21px;
      }

      .ProjectGridDescription {
        flex-grow: 1;
        font-size: 14px;
        font-weight: 300;
        padding-bottom: 1rem;
        overflow-y: auto;
        background-color: #F4F4F4;

        .wmde-markdown {
          background-color: unset;
          line-height: 17px;
          color: $gray-600;
        }
      }
    }

    .CategorySelector {
      &.MultipleValue {
        .MuiInputBase-root {
          & > .MuiButtonBase-root {
            &:after {
              content: 'Categories selected';
            }
          }
        }
      }

      &.AllSelected {
        .MuiInputBase-root {
          & > .MuiButtonBase-root {
            &:after {
              content: 'All categories';
            }
          }
        }
      }
    }

    .SortSelectorInput {
      svg {
        width: 18px;
        height: 16px;
        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
