/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Basic Page Content
   ========================================================================== */
@import '../../app/variables';

.Home {
  main {
    padding: 0;
  }
}

.PageContent {
  margin: 0 !important;
  background-color: unset !important;
  width: 100% !important;
  height: 100%;
  overflow-y: auto;
  padding: 2rem 0 !important;
  box-sizing: border-box;
}

.HomePageContent {
  background-color: rgba(250, 250, 250, 0.9);
  padding: 1rem 1rem 2rem 2rem !important;
  box-sizing: border-box;
  width: 1325px;
  margin: auto;
  margin-bottom: 4rem;

  .PageContent-Title {
    padding-right: 1rem;
  }

  .PageContent-Content {
    display: flex;
    flex-wrap: wrap;
  }

  .DashboardCard {
    margin-top: 1rem;
    margin-right: 1rem;
    width: 196px;
    height: 250px;

    .DashboardCard-Wrapper {
      cursor: pointer;
      transition: margin 0.2s;
      background-color: white;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;

      a {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      &:hover {
        margin-top: -5px;
      }

      .DashboardCard-Edit {
        position: absolute;
        top: 0;
        right: 0;
        padding: 2px;
        font-size: 0.5rem;
        background: white;
        display: block;
        color: $secondary-color;
        height: 15px;
        width: 15px;
        border-bottom-left-radius: 5px;

        svg {
          height: 100%;
          width: 100%;
        }
      }
    }

    img {
      height: 100px;
      width: 100%;
      object-fit: cover;
    }

    .DashboardCard-Name,
    .DashboardCard-Description {
      padding: 0 1rem;
    }

    .DashboardCard-Name {
      padding-top: 1rem;
      color: $secondary-color;
      font-weight: $base-font-medium;
      padding-bottom: 0.3rem;
    }

    .DashboardCard-Description {
      padding-bottom: 1rem;
      font-size: 0.8rem;
      overflow-y: auto;
      color: $base-black-color;
      flex-grow: 1;
    }
  }
}