/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

.AdminTable {
  .MuiDataGrid-cellCheckbox {
    .Mui-disabled {
      display: none;
    }
  }

  .MuiDataGrid-cell {
    &.Updated {
      background-color: var(--base-alpha-color);
    }

    .MuiOutlinedInput-root {
      height: 28px;
    }
  }

  .SelectionOnClick {
    .MuiDataGrid-row {
      cursor: pointer;
    }
  }
}

.AdminListHeader {
  display: flex;
  background-color: white;
  align-items: center;
  padding: 0 20px;
  font-size: 12px !important;

  .Separator {
    height: var(--base-height);
  }

  .AdminListHeader-Count {
    &.Empty {
      color: var(--gray-400);
    }
  }

  button {
    height: 24px;
    font-size: 12px !important;
    min-width: 80px !important;
    margin-left: 5px;

    svg {
      height: 10px;
      width: 10px;
    }
  }
}