{% extends 'frontend/admin/base_form.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load frontend %}

{% block render_bundle %}
    {% render_bundle 'AdminRelatedTableForm' %}
{% endblock %}
{% block scripts %}
    <script>
      const initialData = {{ form|get_data|safe }};
      const permission = {{ permission|safe }};

      // Urls api
      urls.api = {
        'styles': '{% url 'style-list-api'%}',
        'dataView': '{% url 'admin-related-table-data-view' 0 %}'
      }
      {% if id %}
          urls.api.detail = '{% url 'related-table-detail-api' id %}'
      {% endif %}

      if (permission.read_data) {
        {% if id %}
          urls.api.data = '{% url 'related_tables_data-list' id %}'
        {% endif %}
      }
      if (permission.share) {
        {% if id %}
          urls.api.permission = '{% url 'related-table-permission-api' id %}'
        {% else %}
          urls.api.permission = '{% url 'related-table-permission-api' 0 %}'
        {% endif %}
      }
    </script>
{% endblock %}