{% extends 'frontend/admin/base.html' %}
{% load render_bundle from webpack_loader %}

{% block extrastyle %}
{% endblock %}

{% block render_bundle %}
    {% render_bundle 'AdminRelatedTableList' %}
{% endblock %}

{% block scripts %}
    <script>
      urls.api = {
        'list': '{% url 'related_tables-list' %}?fields=__all__',
        'edit': '{% url 'admin-related-table-edit-view' 0 %}',
        'batch': '{% url 'admin-related-table-edit-batch-view' %}',
        'detail': '{% url 'related_tables-detail' 0 %}',
        'dataView': '{% url 'admin-related-table-data-view' 0 %}',

        'permission': '{% url 'related-table-permission-api' 0 %}',
      }
    </script>
{% endblock %}