/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Bookmarks
   ========================================================================== */

.BookmarkComponent {
  padding: 0.5rem;

  .Header {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ddd;
    text-align: right;

    button {
      padding: 0 !important;
      text-align: right;
    }
  }

  .Body {
    max-height: 20rem;
    overflow-y: auto;
  }

  .Bookmark {
    color: var(--primary-color);
    cursor: pointer;

    div {
      min-height: 2rem;
      display: flex;
      align-items: center;
    }

    td {
      padding-right: 0.3rem;
      color: var(--base-black-color);
    }

    svg {
      height: 14px;
      width: 14px;
      margin-right: 5px;
    }

    .StarIcon {
      display: none;
      margin-top: -2px;
    }

    .EditIcon, .DeleteIcon {
      color: var(--base-black-color);

      &:hover {
        cursor: pointer;
        opacity: var(--base-hovered-opacity);
      }
    }

    .DeleteIcon {
      color: var(--error);
    }

    &.Selected {
      font-weight: var(--base-font-medium);

      td {
        color: var(--primary-color);
      }

      .StarIcon {
        display: block;
      }
    }

    &:hover {
      opacity: var(--base-hovered-opacity);
      background-color: var(--base-to-white-color);
    }

    .Creator {
      font-size: 0.7rem;
      color: #555 !important;
    }
  }
}