/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Context Layer Style Config
   ========================================================================== */

@import '../../../../app/variables';


.ContextLayerConfig-Wrapper {
  text-align: center;
  width: 100%;

  #ContextLayerConfig {
    padding: 1rem;
    flex-grow: 1;
  }

  .AdminForm {
    width: 100%;
  }

  .form-helptext {
    margin-bottom: 1rem;
  }

  .error {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  &.Map {
    .Map {
      display: flex !important;
    }
  }

  &.Fields {
    .Fields {
      display: block !important;
    }
  }

  &.Label {
    .Label {
      display: block !important;
    }
  }

  &.Style {
    .Style {
      display: block !important;
    }
  }
}

.modal--wrapper--box {
  #ContextLayerConfig {
    .ArcgisConfig {
      .Classification {
        padding: 1rem;
      }
    }
  }
}

#ContextLayerConfig {
  text-align: left;

  & > div {
    display: none;
  }

  .RevertStyleButton {
    margin-left: auto;
    margin-bottom: 1rem;
    display: block;
  }

  .ArcgisConfig {

    .Classification {
      border: 1px solid $primary-color;
      padding: 0 0 1rem 0;
      margin-bottom: -1px;

      .ClassificationLabel {
        background-color: $primary-color;
        color: $anti-primary-color;
        padding: 1rem 2rem;
        margin-bottom: 1rem;
      }

      .ClassificationValue {
        padding: 0 2rem;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;

        > div {
          white-space: nowrap;
        }
      }

      b {
        display: block;
        width: 100%;
        text-align: center;
        color: $primary-color;
      }

      img {
        height: 50px;
        margin-bottom: 0.5rem;
      }
    }
  }

  .DragDropItem-Drag {
    svg {
      &:focus {
        outline: none;
      }
    }
  }

  .ArcgisConfigLabel {
    margin-bottom: 2rem;
  }

  .ContextLayerConfig-IconSize {
    display: flex;

    .ContextLayerConfig-IconSize-X {
      padding: 7px 1rem;
    }

    input {
      width: 100px;
    }
  }
}

.MapWrapper {
  display: flex;
  height: 500px;

  .legend {
    width: 200px;
    max-height: 100%;
    overflow-y: auto;
    padding: 0.5rem;

    .title {
      text-align: center;
    }
  }

  #StyleMapConfig {
    flex-grow: 1;
    height: 100%;
  }
}