/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Context Layer Style Config
   ========================================================================== */

@import '../../../../app/variables';


.BasicForm.Preview {
  height: 100%;
  box-sizing: border-box;
  padding: 0 !important;

  .Preview {
    height: 100%;
  }

  .error,
  .form-helptext {
    padding: 2rem;
    position: absolute;
    text-align: center;
    padding-right: 40rem !important;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
  }

  .ShowStyle {
    .error,
    .form-helptext {
      padding-right: 40rem !important;
    }

  }
}

.ContextLayerConfig-Wrapper {
  text-align: center;
  width: 100%;
  position: relative;

  &.Preview {
    height: fit-content;

    #ContextLayerConfig {
      padding: 1rem !important;
      position: relative;

      &.ShowStyle {
        padding-right: 40rem !important;
      }

      .Style {
        background-color: white;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        padding: 1rem;
        overflow-y: auto;
        width: 40rem;
        box-sizing: border-box;
      }
    }
  }

  #ContextLayerConfig {
    flex-grow: 1;
    margin: 0 !important;
  }

  .ContextLayerConfigInput {
    padding: 0;
  }

  .AdminForm {
    width: 100%;
  }

  .form-helptext {
    margin-bottom: 1rem;
  }

  .error {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  &.Preview {
    .AdminForm {
      height: 100%;
    }

    .Preview {
      display: flex !important;
    }

    .Style {
      display: block !important;
    }
  }

  &.Fields {
    .Fields {
      display: block !important;
    }
  }

  &.Label {
    .Label {
      display: block !important;
    }
  }

  &.General_Override {
    .General_Override {
      display: block !important;
    }
  }
}


#ContextLayerConfig {
  text-align: left;

  & > div {
    display: none;
  }

  .RevertStyleButton {
    margin-left: auto;
    margin-bottom: 1rem;
    display: flex;
  }

  .ArcgisConfig {

    .Classification {
      border: 1px solid $primary-color;
      padding: 0;
      margin-bottom: -1px;

      .ContextLayerConfigInput {
        padding: 1rem 1rem 0 1rem;
      }

      .BasicFormSectionInline {
        display: flex;
        justify-content: space-between;

        & > div {
          flex: 1 1 0;
        }
      }

      .ColorConfig {
        height: 36px;
        border: unset;

        .ColorConfigPreview {
          outline: 1px solid #DDDDDD;
          height: 36px;
        }
      }

      .ClassificationLabel {
        background-color: $primary-color;
        color: $anti-primary-color;
        margin-bottom: 1rem;

        input {
          background-color: unset;
          color: $anti-primary-color;
          border: 1px solid $primary-color;

          &:hover {
            border: 1px solid $secondary-color;
          }
        }
      }

      .ClassificationValue {
        padding: 0 2rem;
        display: flex;
        align-items: center;

        > div {
          white-space: nowrap;
        }
      }

      b {
        display: block;
        width: 100%;
        text-align: center;
        color: $primary-color;
      }

      img {
        height: 50px;
        margin-bottom: 0.5rem;
      }
    }
  }

  .DragDropItem-Drag {
    svg {
      &:focus {
        outline: none;
      }
    }
  }

  .ArcgisConfigLabel {
    margin-bottom: 2rem;
  }

  .ContextLayerConfig-IconSize {
    display: flex;

    .ContextLayerConfig-IconSize-X {
      padding: 7px 1rem;
    }

    input {
      width: 100px;
    }
  }
}

.PreviewWrapper {
  display: flex;
  height: 100%;
  position: relative;

  .legend {
    left: 0;
    height: fit-content;
    max-height: 60%;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    width: 200px;
    z-index: 1;
    background-color: white;
    border-radius: 0.5rem;
    margin: 0.5rem;
    overflow-y: auto;

    .title {
      text-align: center;
    }

    img {
      max-width: 100%;
    }
  }

  #StyleMapConfig {
    flex-grow: 1;
    height: 100%;
  }
}

.EditorButton {
  background-color: $primary-color;
  color: $anti-primary-color;
  cursor: pointer;
  padding: 3px 6px;
  width: fit-content;
}