/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Context Layer Style Config
   ========================================================================== */

@import '../../../../app/variables';


.ContextLayerConfig-Wrapper {
  text-align: center;

  .form-helptext {
    margin-bottom: 1rem;
  }

  .error {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  &.Map {
    .Map {
      display: flex !important;
    }
  }

  &.Fields {
    .Fields {
      display: block !important;
    }
  }

  &.Label {
    .Label {
      display: block !important;
    }
  }

  &.Style {
    .Style {
      display: block !important;
    }
  }
}

#ContextLayerConfig {
  text-align: left;

  & > div {
    display: none;
  }


  .ArcgisConfig {
    padding: 1rem;

    .Classification {
      border: 1px solid $secondary-color;
      padding: 0.5rem;

      b {
        display: block;
        width: 100%;
        text-align: center;
        color: $secondary-color;
      }
    }
  }

  .DragDropItem-Drag {
    svg {
      &:focus {
        outline: none;
      }
    }
  }

  .ArcgisConfigLabel {
    margin-bottom: 2rem;
  }
}

.MapWrapper {
  display: flex;
  height: 500px;

  .legend {
    width: 200px;
    max-height: 100%;
    overflow-y: auto;
    padding: 0.5rem;

    .title {
      text-align: center;
    }
  }

  #StyleMapConfig {
    flex-grow: 1;
    height: 100%;
  }
}