COMPOSE_PROJECT_NAME=geosight
NGINX_TAG=0.0.1
DJANGO_TAG=0.4.0

# Environments
DJANGO_SETTINGS_MODULE=core.settings.prod
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
ADMIN_EMAIL=admin@example.com
INITIAL_FIXTURES=True
HTTP_PORT=80
SENTRY_DSN=
SENTRY_ENVIRONMENT=staging
REDIS_HOST=redis
REDIS_PASSWORD=redis_password

# Database Environment
DATABASE_NAME=django
DATABASE_USERNAME=docker
DATABASE_PASSWORD=docker
DATABASE_HOST=db
RABBITMQ_HOST=rabbitmq

# Onedrive
PUID=1000
PGID=1000

# Azure configuration
AZURE_B2C_CLIENT_ID=
AZURE_B2C_CLIENT_SECRET=
AZURE_B2C_TENANT_NAME=
AZURE_B2C_POLICY_NAME=

# Azure b2c georepo configs
GEOREPO_AZURE_REDIRECT_URL=