/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '14/08/2025'
* __copyright__ = ('Copyright 2023, Unicef')
*/
:root {
  --mobile-bottom-nav-height: 24px;
}

@media (min-width: 1300px) {
  .DashboardMap {
    .Toolbar {
      .Toolbar-Middle {
        position: absolute;
        left: 50%;
        margin-left: -100px;
        top: 9px;
        width: 200px;
      }
    }
  }
}

@media (max-width: 1300px) {
  .DashboardMap {
    .Toolbar {
      .Toolbar-Middle {
        position: unset;
      }
    }

    .CurrentDate {
      display: none;
    }

    .SearchEntityOption {
      width: 175px;
    }
  }
}

@media (min-width: 1000px) {
  .MobileBottomNav {
    display: none;
  }
  .Mobile {
    display: none !important;
  }
}

@media (max-width: 1000px) {
  .MuiPopover-root .MuiMenuItem-root {
    min-height: unset;
  }
  .Fullscreen {
    display: none !important;;
  }
  .MobileBottomNav {
    display: flex;
  }
  .DashboardMiddlePanel,
  .dashboard__left_side {
    padding-bottom: var(--mobile-bottom-nav-height);
  }
  .dashboard__left_side {
    width: 0 !important;
  }
  .LeftExpanded .Toolbar {
    padding-left: 0 !important;
  }
  .layers-tab {
    #simple-tabpanel-0,
    #simple-tabpanel-1 {
      display: block;
      position: fixed;
      left: 100vw;
      top: 0;
      height: 100vh;
      padding-top: var(--nav-header-height);
      padding-bottom: var(--mobile-bottom-nav-height);
      width: 100vw;
      transition: left 0.2s;
    }
  }

  html {
    &.Mobile_Indicators {
      .layers-tab {
        #simple-tabpanel-0 {
          left: 0;
        }
      }
    }

    &.Mobile_Context_Layers {
      .layers-tab {
        #simple-tabpanel-1 {
          left: 0;
        }
      }
    }
  }
}