/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '14/08/2025'
* __copyright__ = ('Copyright 2023, Unicef')
*/
:root {
  --mobile-bottom-nav-height: 24px;
}

@media (min-width: 1300px) {
  .DashboardMap {
    .Toolbar {
      .Toolbar-Middle {
        position: absolute;
        left: 50%;
        margin-left: -100px;
        top: 9px;
        width: 200px;
      }
    }
  }
}

@media (max-width: 1300px) {
  .DashboardMap {
    .Toolbar {
      .Toolbar-Middle {
        position: unset;
      }
    }
  }
}

@media (min-width: 1000px) {
  .MobileBottomNav {
    display: none;
  }
}

@media (max-width: 1000px) {
  .MobileBottomNav {
    display: flex;
  }
  .DashboardMiddlePanel,
  .dashboard__left_side {
    padding-bottom: var(--mobile-bottom-nav-height);
  }
}