/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* -------------------------------------------------------------------
   Used for APP element
  ------------------------------------------------------------------- */

/* --------------------------------- */
/* SCROLL */
/* --------------------------------- */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}


::placeholder {
  color: var(--base-black) !important;;
  opacity: 0.6 !important;;
}

::-ms-input-placeholder {
  color: var(--base-black) !important;;
  opacity: 0.6 !important;;
}

:-ms-input-placeholder {
  color: var(--base-black) !important;;
  opacity: 0.6 !important;;
}

::-webkit-file-upload-button {
  cursor: pointer;
}

/* --------------------------------- */
html, body {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

html {
  font-size: var(--root-font-size);
}


body {
  margin: 0;
  color: var(--base-black);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-family: var(--base-font-family) !important;
  font-weight: var(--base-font-weight);
  font-style: var(--base-font-style);
}


button {
  background: var(--primary-color);
  border: unset;
  color: var(--anti-primary-color);
  font-size: var(--base-font-size) !important;
  line-height: var(--base-line-height) !important;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a:hover {
  opacity: var(--base-hovered-opacity);
}

b.light {
  font-weight: 600 !important;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

textarea {
  box-sizing: border-box;
  border: 1px solid var(--primary-color);
  padding: 5px 10px;
  width: 100%;

  &:focus-visible {
    outline: none;
  }

  &.error {
    border: 1px solid var(--error);
  }
}

header {
  z-index: 1;
}

// --------------------------------------------------------------------------
// OTHER CLASS
// --------------------------------------------------------------------------

.error {
  color: #e35f5f !important;

  svg {
    path {
      fill: #e35f5f;
    }
  }
}

.success {
  color: #006b1b !important;

  svg {
    path {
      fill: #006b1b;
    }
  }
}

.warning {
  color: #f57c00 !important;
}


.maplibregl-popup {
  max-width: 400px !important;
  z-index: 1 !important;

  & > .maplibregl-popup-tip {
    display: none;
  }

  .maplibregl-popup-tip {
    margin-left: auto;
    margin-right: auto;
  }

  &.mapboxgl-popup-anchor-top {
    .mapboxgl-popup-content {
      position: relative;

      .maplibregl-popup-content-wrapper {
        margin-top: 10px;
      }

      .maplibregl-popup-close-button {
        top: 10px
      }

      .mapboxgl-popup-tip {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -10px;
      }
    }
  }
}

.maplibregl-popup-content-wrapper {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);

  .header {
    background-color: #eee;
  }

  .copy-context {
    padding: 0.5rem;
    text-align: center;
    display: none;

    &.HasContent {
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    svg {
      width: 12px;
    }
  }

  .loading {
    min-width: 200px;
    padding: 1rem;
    animation: blinker 1s steps(5, start) infinite;
    text-align: center;
  }

  .popup-content {
    max-height: 200px;
    overflow-y: auto;
  }
}

.preview,
.maplibregl-popup-content {
  border-radius: 5px;
  padding: 0 !important;
  margin: 0;
  background: unset !important;
  box-shadow: unset !important;
  min-width: 150px;

  .header {
    padding: 5px 25px;
    text-align: center;
  }

  .content {
    max-height: 400px;
    overflow-y: auto;

    table {
      margin: 0;
      padding: 0;
      border-spacing: 0;


      td:first-child {
        padding: 5px 5px 5px 10px;
        text-align: right;
      }

      td:last-child {
        padding: 5px 10px 5px 5px;
      }
    }
  }

  .maplibregl-popup-close-button {
    color: #757575;
    font-size: 19px !important;
  }

  canvas {
    cursor: grab;
  }

  .maplibregl-popup-content-raw-data {
    display: none;

    table {
      display: none;
      margin-right: 1rem;

      &.selected {
        display: table;
      }
    }

    .pagination {
      display: flex;
      justify-content: space-between;
      display: flex;
      padding: 0.5rem 1rem;
      border-top: 1px solid #eee;

      svg {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
      }

      div {
        &.disabled {
          opacity: 0.3;

          svg {
            cursor: not-allowed;
          }
        }
      }
    }
  }

  .maplibregl-popup-content-tabs {
    position: absolute;
    top: -2rem;
    left: 0;
    display: flex;
    font-size: 10px;
    border-bottom: 1px solid var(--border-gray);

    .maplibregl-popup-content-tab {
      padding: 2px 1rem;
      cursor: pointer;
      background-color: white;

      &.selected {
        background-color: var(--primary-color);
        color: var(--anti-primary-color);
      }
    }
  }
}

.wmde-markdown {
  .anchor {
    display: none;
  }
}

.circle {
  border-radius: 50%;
}

.react-datepicker-popper {
  .react-datepicker__navigation {
    width: 1rem;
  }

  .react-datepicker__navigation--next {
    margin-left: 0 !important;
    margin-right: 0.5rem;
  }
}

.Separator {
  flex: unset !important;
  flex-grow: 1 !important;
  background-color: unset !important;
  pointer-events: none !important;
  border: none !important;
  cursor: default !important;
}

.MuiFormLabel-root {
  z-index: 1 !important;
  margin-bottom: 0 !important;
}

#app {
  height: 100%;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.AddButton {
  color: green;
}

.RemoveButton {
  color: var(--error);
}

.DeleteButton {
  color: var(--error);
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.ThemeButton {
  svg {
    margin-right: 0.5rem !important;
    height: 14px;
    width: 14px;
  }


  .MuiCircularProgress-root {
    margin-right: 5px;
    height: 10px !important;
    width: 10px !important;

    svg {
      height: 10px !important;
      width: 10px !important;
    }
  }
}


.TabPrimary {
  display: flex;
  background-color: unset !important;
  padding: 0;
  border-bottom: 1px solid var(--border-gray);

  div {
    background-color: unset;
    border: unset;
    padding: 0.5rem;
    cursor: pointer;
    margin-right: -1px;
    min-width: 8rem;
    text-align: center;

    &:hover {
      color: var(--primary-color);
      background-color: unset !important;
    }

    &.Selected {
      background-color: unset !important;
      color: var(--primary-color);
      border-bottom: 3px solid var(--primary-color);
    }

    &.Disabled {
      background-color: unset !important;
      color: var(--gray-500);
      cursor: not-allowed;
    }
  }

  button {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
  }
}


.Popover-Submit {
  padding: 0.5rem;

  .FormError {
    color: var(--error);
  }

  .FormOk {
    color: var(--ok);
  }
}

.FlexScrollableSection {
  flex-grow: 1;
  min-height: 0;
  overflow: auto;
  padding: 1rem;
}

.CenteredFlex {
  display: flex;
  align-items: center;
}

.Hidden {
  display: none !important;
}

.LoadingElement {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  padding-bottom: 1rem;
  gap: 0.5rem;

  .Throbber {
    color: var(--primary-color);
    text-align: center;
  }
}


.ListAdminFilters {
  padding: 0.5rem !important;
  display: flex;
  flex-flow: row wrap;
  margin: 0 1rem !important;
  background-color: unset !important;

  &::before {
    display: block;
    flex-grow: 1;
    content: "";
  }


  & > div {
    margin-right: 0.5rem;
  }

  .MuiFormControl-root {
    background-color: white;

    .MuiFormLabel-root {
      top: -6px;
      background-color: unset;
    }
  }

  .MuiInputBase-root {
    width: 150px;

    input, .MuiSelect-select {
      padding: 10px;
      padding-right: 0 !important;
    }
  }

  .MuiSelect-icon {
    transform: rotate(0deg) !important;
  }

  .ModalDataSelectorSelected {
    display: none;
  }
}

.maplibregl-popup-content {
  .pins {
    display: flex;
    background-color: white;
    box-shadow: var(--box-shadow);
    padding: 3px;
    padding-right: 0;
    opacity: 0.8;
    align-items: center;

    .pin {
      border-radius: 50%;
      margin-right: 3px;

      &.empty {
        width: 4px;
        height: 4px;
        background: black;
      }
    }
  }
}

// ------------------------------------
// REACT SELECT
// ------------------------------------
.ReactSelect {
  position: relative;
  height: var(--base-input-height);

  .ReactSelect__control,
  .ReactSelect__value-container,
  .ReactSelect__input-container {
    height: var(--base-input-height);
  }

  &.Dynamic {
    height: unset !important;
    min-height: var(--base-input-height) !important;

    .ReactSelect__control,
    .ReactSelect__value-container,
    .ReactSelect__input-container {
      height: unset !important;
      min-height: var(--base-input-height) !important;
    }

    .ReactSelect__multi-value {
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }

  .ReactSelect__value-container {
    padding: 0 8px;
  }

  .ReactSelect__input-container {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
}

// ------------------------------------
// HELP CENTER
// ------------------------------------

.help-text {
  color: #121212 !important;;
  opacity: 0.6 !important;
  font-size: 10px;
  display: block;
}

.HelpCenter {
  margin-top: var(--nav-header-height);
  padding-bottom: var(--nav-header-height);
}

.Admin {
  .HelpCenter {
    box-sizing: border-box;
    margin-top: 0;
    padding-bottom: 0;
    top: 0;
    z-index: 999999;
  }
}

.TextLinkButton {
  align-items: center;
  color: var(--primary-color);
  display: inline-block;
  cursor: pointer;

  &:hover {
    opacity: var(--base-hovered-opacity);
  }
}

// ---------------------------------------------------
// ICON BUTTONS
// ---------------------------------------------------

.InfoIconButton {
  color: var(--primary-color);
  cursor: pointer;

  &:hover {
    opacity: var(--base-hovered-opacity);
  }
}

.MainTable {
  width: 100%;

  th, td {
    border: 1px solid var(--primary-color);
    padding: 0.2rem 0.5rem;
  }

  thead {
    th {
      background: var(--primary-color);
      color: var(--anti-primary-color);

      .form-helptext {
        color: var(--anti-primary-color);
      }
    }
  }
}