/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* -------------------------------------------------------------------
   Used for APP element
  ------------------------------------------------------------------- */

@import './variables.scss';

/* --------------------------------- */
/* SCROLL */
/* --------------------------------- */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary-color;
}

:root {
  font-size: $root-font-size;
}

/* --------------------------------- */
html, body {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

html {
  font-size: $root-font-size;
}


body {
  margin: 0;
  color: $base-black-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family !important;
  font-weight: $base-font-weight;
  font-style: $base-font-style;
}


button {
  background: $primary-color;
  border: unset;
  color: $anti-primary-color;
  font-size: $base-font-size !important;
  line-height: $base-line-height !important;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a:hover {
  opacity: $base-hovered-opacity;
}

b.light {
  font-weight: 600 !important;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

textarea {
  box-sizing: border-box;
  border: 1px solid $primary-color;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;

  &:focus-visible {
    outline: none;
  }

  &.error {
    border: 1px solid $error;
  }
}

header {
  z-index: 1;
}

// --------------------------------------------------------------------------
// OTHER CLASS
// --------------------------------------------------------------------------

.error {
  color: red !important;

  svg {
    path {
      fill: red;
    }
  }
}

.warning {
  color: #f57c00 !important;
}


.maplibregl-popup {
  max-width: 400px !important;

  & > .maplibregl-popup-tip {
    display: none;
  }

  .maplibregl-popup-tip {
    margin-left: auto;
    margin-right: auto;
  }

  &.mapboxgl-popup-anchor-top {
    .mapboxgl-popup-content {
      position: relative;

      .maplibregl-popup-content-wrapper {
        margin-top: 10px;
      }

      .maplibregl-popup-close-button {
        top: 10px
      }

      .mapboxgl-popup-tip {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -10px;
      }
    }
  }
}

.maplibregl-popup-content-wrapper {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);

  .header {
    background-color: #eee;
  }

  .copy-context {
    padding: 0.5rem;
    text-align: center;

    &.HasContent {
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    svg {
      width: 12px;
    }
  }

  .loading {
    min-width: 200px;
    padding: 1rem;
    animation: blinker 1s steps(5, start) infinite;
    text-align: center;
  }

  .popup-content {
    max-height: 200px;
    overflow-y: auto;
  }
}

.maplibregl-popup-content {
  border-radius: 5px;
  overflow: hidden;
  padding: 0 !important;
  margin: 0;
  background: unset !important;
  box-shadow: unset !important;

  .header {
    padding: 5px 25px;
    text-align: center;
  }

  .content {
    max-height: 200px;
    overflow-y: auto;

    table {
      margin: 0;
      padding: 0;
      border-spacing: 0;


      td:first-child {
        padding: 5px 5px 5px 10px;
        text-align: right;
      }

      td:last-child {
        padding: 5px 10px 5px 5px;
      }
    }
  }

  .maplibregl-popup-close-button {
    color: #757575;
    font-size: 19px !important;
  }

  canvas {
    cursor: grab;
  }
}

.wmde-markdown {
  .anchor {
    display: none;
  }
}

.circle {
  border-radius: 50%;
}

.react-datepicker-popper {
  .react-datepicker__navigation {
    width: 1rem;
  }

  .react-datepicker__navigation--next {
    margin-left: 0 !important;
    margin-right: 0.5rem;
  }
}

.Separator {
  flex: unset !important;
  flex-grow: 1 !important;
  background-color: unset !important;
  pointer-events: none !important;
  border: none !important;
  cursor: default !important;
}

.FilterControl {
  .MuiFormLabel-root {
    z-index: 1 !important;
  }
}

#app {
  height: 100%;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.AddButton {
  color: green;
}

.RemoveButton {
  color: $error;
}

.DeleteButton {
  color: $error;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.ThemeButton {
  svg {
    margin-right: 0.5rem !important;
  }
}


.TabPrimary {
  display: flex;
  background-color: unset !important;
  border-bottom: 1px solid $gray-400;
  padding: 0;

  div {
    background-color: unset;
    border: unset;
    padding: 0.5rem;
    cursor: pointer;
    margin-right: -1px;
    min-width: 8rem;
    text-align: center;

    &:hover {
      color: $primary-color;
      background-color: unset !important;
    }

    &.Selected {
      background-color: unset !important;
      color: $primary-color;
      border-bottom: 3px solid $primary-color;
    }

    &.Disabled {
      background: $gray-100;
      color: #adb5bd;
      cursor: not-allowed;
    }
  }

  button {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
  }
}


.Popover-Submit {
  padding: 0.5rem;

  .FormError {
    color: $error;
  }

  .FormOk {
    color: $ok;
  }
}

.FlexScrollableSection {
  flex-grow: 1;
  min-height: 0;
  overflow: auto;
}

.Hidden {
  display: none !important;
}

.LoadingElement {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .Throbber {
    color: $primary-color;
    text-align: center;

    .MuiCircularProgress-root {
      margin-bottom: 1rem;
    }
  }
}


.ListAdminFilters {
  padding: 0.5rem !important;
  display: flex;
  flex-flow: row wrap;
  margin: 0 1rem !important;
  background-color: unset !important;

  &::before {
    display: block;
    flex-grow: 1;
    content: "";
  }


  & > div {
    margin-right: 0.5rem;
  }

  .MuiFormControl-root {
    background-color: white;

    .MuiFormLabel-root {
      top: -6px;
      background-color: unset;
    }
  }

  .MuiInputBase-root {
    width: 200px;

    input, .MuiSelect-select {
      padding: 10px;
      padding-right: 0 !important;
    }
  }

  .MuiSelect-icon {
    transform: rotate(0deg) !important;
  }

  .ModalDataSelectorSelected {
    display: none;
  }
}
