/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
    Materialize
   ========================================================================== */
@import './variables.scss';


.MuiList-root {
  padding: 0 !important;
}

.MuiButton-root {
  text-transform: unset !important;
  padding: 0.5rem 1rem !important;

  &:disabled {
    pointer-events: auto !important;
    cursor: not-allowed !important;
    opacity: 0.5;

    &:hover {
      opacity: 0.5
    }
  }

  &:hover {
    opacity: $base-hovered-opacity;
  }

  .MuiTouchRipple-root {
    display: none;
  }

  &.Basic {
    padding: 0.5rem !important;
    min-width: 0;
  }

  &.Reverse {
    &:hover {
      background-color: unset !important;
    }
  }
}

.MuiButton-primary {
  background-color: $primary-color !important;
  border: 1px solid $primary-color !important;
  color: $anti-primary-color !important;

  &.Reverse {
    background-color: white !important;
    border: 1px solid $primary-color !important;
    color: $primary-color !important;
  }

  &.JustIcon {
    background-color: unset !important;
    border: unset !important;

    &.Mui-disabled {
      color: $gray-500 !important;
    }
  }

  .MuiCircularProgress-root {
    color: $anti-primary-color !important;

    svg {
      height: 10px !important;
      width: 10px !important;
    }
  }
}

.MuiButton-Error {
  background-color: $error !important;
  border: 1px solid $error !important;
  color: white !important;

  &.Reverse {
    background-color: white !important;
    border: 1px solid $error !important;
    color: $error !important;
  }

  &.Basic {
    padding: 0.5rem !important;
    min-width: 0;

    svg {
      margin-right: 0;
    }
  }
}

.MuiButton-secondary {
  background-color: $secondary-color !important;
  border: 1px solid $secondary-color !important;
  color: $anti-secondary-color !important;

  a {
    color: $anti-primary-color !important;
  }

  &.Basic {
    padding: 0.5rem !important;
    min-width: 0;

    svg {
      margin-right: 0;
      fill: $anti-secondary-color !important;
    }
  }

  &.Reverse {
    background-color: $anti-secondary-color !important;
    border: 1px solid $secondary-color !important;
    color: $secondary-color !important;

    svg {
      fill: $secondary-color !important;
    }

    &:hover {
      background-color: $secondary-color !important;
      color: $anti-secondary-color !important;

      svg {
        fill: $anti-secondary-color !important;
      }
    }

    &.Mui-disabled {
      background-color: $anti-secondary-color !important;
      border: 1px solid $secondary-color !important;
      color: $secondary-color !important;

      svg {
        display: block !important;
        fill: $secondary-color !important;
      }
    }
  }
}

.MuiButton-white {
  border: 1px solid white !important;
}

.MuiButton-basic {
  background-color: white !important;
  border: 1px solid $border-gray !important;
  color: black !important;

  &.Mui-disabled {
    background-color: white !important;
    border: 1px solid $disabled-color !important;
    color: $disabled-color !important;
    opacity: 1;

    &:hover {
      opacity: 1;
    }
  }
}

.MuiButton-primary-text {
  color: $primary-color !important;
}

.MuiListSubheader-root {
  color: $primary-color !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.MuiAccordionSummary-title {
  flex-grow: 1;
}

.MuiButtonLike {
  cursor: pointer;

  &:hover {
    opacity: $base-hovered-opacity;
  }
}

.MuiMenuItem-root {
  a {
    display: block;
    padding: 3px 1rem;
    width: 100%;
  }
}

/* ==========================================================================
    MUI Data Grid
   ========================================================================== */
.AdminContentHeader-Right {
  display: flex;
  align-items: center;

  .MuiIconButton-root {
    margin-left: 0 !important;

    .MuiTouchRipple-root {
      display: none;
    }
  }

  .MuiIconButton-root {
    height: 100% !important;

    a {
      height: 36px !important;
      width: 36px !important;

      svg {
        height: 14px;
        width: 14px;
      }

      .ButtonIcon {
        padding: 10px;
      }
    }
  }
}

.MuiDataGrid-cell,
.AdminContentHeader-Right {
  .ButtonIcon {
    height: 100%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    color: $primary-color;
    border: 1px solid $primary-color;
    background-color: white;
  }

  a {
    color: inherit;
    display: block;

    svg {
      height: 16px;
      width: 16px;
    }
  }

  .MoreActionIcon {
    display: flex;
    align-items: center;
  }

  .MuiIconButton-root {
    &:not(.TextButton) {
      padding-left: 0 !important;

      a {
        height: 25px;
        width: 25px;

        svg {
          height: 14px;
          width: 14px;
        }
      }
    }

    &:hover {
      background-color: unset;
      opacity: 0.8;
    }
  }

  .TextButton {
    height: 100%;
    line-height: 1 !important;

    a {
      height: 25px !important;
    }

    .MuiButtonBase-root {
      height: 24px !important;
      font-size: 11px;
      padding: 0 0.5rem !important;
      margin-top: 2px;

      svg {
        height: 16px !important;
      }
    }

    &:hover {
      background-color: unset;
    }

    &.Mui-disabled {
      opacity: 0.4;
    }

    .ThemeButton {
      svg {
        margin-right: 0 !important;
      }
    }
  }
}

.MuiDataGrid-root {
  border: none !important;

  .MuiCheckbox-root {
    color: $gray-600 !important;
    padding: 0 !important;

    &.Mui-checked {
      color: var(--primary-color) !important;
    }
  }

  .MuiButtonBase-root {
    padding: 0 5px;

    .MuiTouchRipple-root {
      display: none;
    }
  }

  div {
    &:focus,
    &:focus-visible,
    &:focus-within {
      outline: none !important;
    }
  }

  .MuiDataGrid-columnHeaders {
    background-color: #EAEAEA;

    .MuiDataGrid-columnHeader {
      color: #1212127D;
      font-size: 11px !important;

      .MuiButtonBase-root {
        color: $primary-color;
      }
    }

  }

  .MuiDataGrid-columnSeparator {
    display: none !important;
  }

  .MuiDataGrid-columnHeader,
  .MuiDataGrid-cell {
    padding: 10px 1rem !important;
    font-size: 1rem !important;

    &.MuiDataGrid-columnHeaderCheckbox {
      padding: 0 !important;
    }
  }

  .ActionHeader {
    height: $base-height;
    box-sizing: border-box;
    padding: 0 !important;

    a,
    button {
      margin-left: 0.5rem;
    }

    .MuiDataGrid-columnHeaderTitleContainerContent,
    .MuiDataGrid-columnHeaderTitle,
    a,
    button {
      height: 100%;
      font-size: 10px !important;
    }

    a {
      display: flex;
    }

    button {
      padding: 0.5rem !important;
    }

    svg {
      height: 8px !important;
      width: 8px !important;
    }

    .ActionsColumnHeader {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem !important;
      box-sizing: border-box;
      height: 100%;
    }
  }
}


.MuiButton-Div {
  align-items: center;
  display: inline-flex !important;
  line-height: 1.5;
}

.MuiDataGridTable {
  height: 500px;
}

.MuiDataGrid-main {
  .MuiSelect-select {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    background: inherit;
    min-width: 50px;
  }
}

.MuiDataGrid-ActionsColumn {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  -webkit-justify-content: flex-end !important;
  justify-content: end !important;
}

.MuiCircularProgress-root {
  color: $primary-color !important;
}

.MuiOutlinedInput-input {
  &.Mui-disabled {
    background-color: $base-almost-white-color;
  }
}

.Mui-disabled {
  cursor: not-allowed !important;
}

// -----------------------------------------------
// SWITCH THEME
// -----------------------------------------------
.MuiSwitch-root {
  &.Secondary {
    .Mui-checked {
      .MuiSwitch-thumb {
        color: $secondary-color;
      }
    }

    .Mui-disabled {
      .MuiSwitch-thumb {
        color: $gray-500;
      }
    }

    .Mui-checked + .MuiSwitch-track {
      background-color: $secondary-color !important;
    }
  }
}

// -----------------------------------------------
// DATA GRID
// -----------------------------------------------
.MuiDataGrid-panelContent {
  overflow: visible !important;
}

.MuiDataGrid-row {
  max-height: unset !important;

  .MuiDataGrid-cell {
    border-bottom: 1px solid $border-gray !important;
    max-height: $base-height !important;
    min-height: $base-height !important;
    white-space: nowrap;


    .Mui-disabled {
      .MuiOutlinedInput-notchedOutline {
        border-width: 1px !important;
      }
    }

    .Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border-color: rgba(0, 0, 0, 0.23) !important;
        border-width: 1px !important;

        &:hover {
          border-color: rgba(0, 0, 0, 1) !important;
        }
      }
    }

    .MuiDataGrid-cellContent, .CellLink {
      max-height: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.MuiDataGrid-ActionsColumn {
      padding: 0 1rem !important;
    }
  }

  .Mui-selected {
    background-color: $primary-color-transparency;
  }
}

.MuiDataGrid-footerContainer,
.MuiTablePagination-toolbar {
  min-height: $base-height !important;
  height: $base-height !important;
  font-size: 12px !important;
}

.MuiDataGrid-footerContainer {
  div, p {
    font-size: 12px !important;
  }

  .MuiDataGrid-selectedRowCount {
    opacity: 0 !important;
  }

  .MuiInputBase-root {
    margin-right: 5px !important;
    margin-top: 1px;
  }
}

.MuiDataGrid-columnHeaders {
  border-radius: 0 !important;
  min-height: $base-height !important;
  max-height: $base-height !important;
}

.MuiTextField-root {
  background-color: white;

  textarea {
    border: none !important;
    padding: 0 !important;

    &:focus-visible,
    &:focus-within,
    &:focus {
      border: none !important;
      outline: none !important;
    }
  }
}

.MuiInputAdornment-root {
  color: $gray-500 !important;

  .MuiCircularProgress-root {
    width: 16px !important;
    height: 16px !important;
  }
}

.MuiFormControl-root {
  .MuiFormLabel-root {
    z-index: 1;
  }
}

.MuiSnackbar-root {
  background-color: unset !important;
  padding: 0 !important;
  height: fit-content !important;
  margin-top: 2rem;

  svg {
    height: 18px !important;
    width: 18px !important;
  }

  .MuiAlert-action {
    padding: 0;

    .MuiButtonBase-root {
      padding-top: 0;
      padding-bottom: 0;
      height: 32px !important;
    }
  }
}

.MuiDataGrid-cellCheckbox,
.MuiDataGrid-columnHeaderCheckbox {
  input {
    width: 100% !important;
  }

  svg {
    height: 1rem;
    width: 1rem;
  }
}

.MuiDataGrid-overlay {
  background-color: unset !important;
}

.MuiAutocomplete-root {
  cursor: pointer;

  input {
    cursor: pointer;
  }

  .MuiInputBase-root {
    border-radius: 0;
    display: flex;
  }

  .MuiAutocomplete-endAdornment {
    position: absolute;
    height: 100%;
    right: 0 !important;
    top: 0;
    width: 25px;
    display: flex;
    align-items: center;
    max-height: unset !important;

    button {
      color: $svg-gray !important;
    }
  }
}

.MuiPopover-root {
  .MuiPaper-root {
    border-radius: 0;
  }

  .MuiMenuItem-root {
    font-size: 12px !important;

    svg {
      height: 14px;
      width: 14px;
    }
  }
}

.MuiOutlinedInput-root,
.MuiButton-root {
  border-radius: 0 !important;
}

.MuiOutlinedInput-icon {
  .MuiOutlinedInput-root {
    padding-right: 1rem !important;

    svg {
      color: $svg-gray;
    }
  }
}

.MuiAutocomplete-popper {
  margin: 5px 0 !important;

  .MuiPaper-root {
    box-shadow: $box-shadow-sm;
  }

  .MuiAutocomplete-listbox {
    padding: 0;
  }
}

.ReactSelect {
  & > div {
    min-height: $base-height;
    border-radius: 0;
  }

  .DropdownIndicator {
    width: $base-height;
    color: $svg-gray !important;
    display: flex;
    align-items: center;

    svg {
      margin-left: 17px;
    }
  }

  .ReactSelect__single-value {
    font-size: 1rem !important;
  }
}

.MuiAutocomplete-option[aria-selected="true"],
.SelectWithList__option--is-selected,
.ReactSelect__option--is-selected, {
  background-color: $primary-color-transparency !important;
  color: black !important;
}

.SelectWithList__option--is-focused,
.ReactSelect__option--is-focused, {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.MuiTab-root {
  &.Mui-selected {
    color: $primary-color !important;
  }
}

.MuiTabs-indicator {
  background-color: $primary-color !important;
}