/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Variables
   ========================================================================== */

/* Settings */
$base-hovered-opacity: 0.8;
$base-height: 36px;
$base-height-minus: -36px;

/* Customized Theme */
$primary-color: var(--primary-color);
$anti-primary-color: var(--anti-primary-color);
$secondary-color: var(--secondary-color);
$anti-secondary-color: var(--anti-secondary-color);
$tertiary-color: var(--tertiary-color);
$anti-tertiary-color: var(--anti-tertiary-color);

/* Colors */
$border-gray: #E6E8E8;
$primary-color-transparency: #DCEEF8;
$svg-gray: #adb5bd;
$base-black-color: rgba(0, 0, 0, 0.87);
$base-to-white-color: #F4F4F4;
$base-almost-white-color: #FAFAFA;
$base-almost-gray-color: #DDDDDD;
$base-alpha-color: #1CABE215;
$base-shadow-box: 0 0 16px 4px rgba(#000000, 0.1);
$disabled-color: #CCCCCC;
$base-gray: rgba(217, 217, 217, 0.4);
$base-gray-to-white: rgba(217, 217, 217, 0.2);


$white: #fff !default;
$white-transparent: #ffffffBB !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;


$navbar-background-color: $primary-color;
$navbar-font-color: $anti-primary-color;
$black: #000 !default;
$error: #d32f2f !default;
$ok: #00a51b !default;

/* Fonts */
$root-font-size: 14px;

$base-font-color: $primary-color;
$base-font-family: 'Inter';
$base-font-style: normal;
$base-font-light: 300;
$base-font-regular: 400;
$base-font-medium: 500;
$base-font-bold: 500;
$base-font-weight: $base-font-light;
$base-font-size: 1rem;
$base-line-height: 1.5;

/* Spacing */
$global-spacing: 1rem;
$border: 1px solid rgba(0, 0, 0, 0.23);
$border-radius: 0rem;
$width-90: 90%;

/* Media queries */
$xsmall-range: (0, 543px);
$small-range: (544px, 767px);
$medium-range: (768px, 991px);
$large-range: (992px, 1199px);
$xlarge-range: (1200px);
$screen: "only screen";

/* Box shadow */
$box-shadow: 0 .1rem 1rem rgba($black, .15) !default;
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075) !default;
$box-shadow-sm-strong: 0 .125rem .25rem rgba($black, .15) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, .175) !default;
$box-shadow-inset: inset 0 1px 2px rgba($black, .075) !default;

/* ==========================================================================
   MIXIN
   ========================================================================== */

@mixin media($arg) {
  @if $arg == screen {
    @media #{$screen} {
      @content;
    }
  }
  @if $arg == landscape {
    @media #{$screen} and (orientation: landscape) {
      @content;
    }
  }
  @if $arg == portrait {
    @media #{$screen} and (orientation: portrait) {
      @content;
    }
  }
  @if $arg == xsmall-up {
    @media #{$screen} and (min-width: lower-bound($xsmall-range)) {
      @content;
    }
  }
  @if $arg == xsmall-only {
    @media #{$screen} and (max-width: upper-bound($xsmall-range)) {
      @content;
    }
  }
  @if $arg == small-up {
    @media #{$screen} and (min-width: lower-bound($small-range)) {
      @content;
    }
  }
  @if $arg == small-down {
    @media #{$screen} and (max-width: upper-bound($small-range)) {
      @content;
    }
  }
  @if $arg == small-only {
    @media #{$screen} and (min-width: lower-bound($small-range)) and (max-width: upper-bound($small-range)) {
      @content;
    }
  }
  @if $arg == medium-up {
    @media #{$screen} and (min-width: lower-bound($medium-range)) {
      @content;
    }
  }
  @if $arg == medium-down {
    @media #{$screen} and (max-width: lower-bound($medium-range)) {
      @content;
    }
  }
  @if $arg == medium-only {
    @media #{$screen} and (min-width: lower-bound($medium-range)) and (max-width: upper-bound($medium-range)) {
      @content;
    }
  }
  @if $arg == large-up {
    @media #{$screen} and (min-width: lower-bound($large-range)) {
      @content;
    }
  }
  @if $arg == large-down {
    @media #{$screen} and (max-width: lower-bound($large-range)) {
      @content;
    }
  }
  @if $arg == large-only {
    @media #{$screen} and (min-width: lower-bound($large-range)) and (max-width: upper-bound($large-range)) {
      @content;
    }
  }
  @if $arg == xlarge-up {
    @media #{$screen} and (min-width: lower-bound($xlarge-range)) {
      @content;
    }
  }
  @if $arg == xlarge-only {
    @media #{$screen} and (min-width: lower-bound($xlarge-range)) and (max-width: upper-bound($xlarge-range)) {
      @content;
    }
  }
}

/* ==========================================================================
   Functions
   ========================================================================== */

/**
 * Define ranges for various things, like media queries.
 */
@function lower-bound($range) {
  @if length($range) <= 0 {
    @return 0;
  }
  @return nth($range, 1);
}

@function upper-bound($range) {
  @if length($range) < 2 {
    @return 999999999999;
  }
  @return nth($range, 2);
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

/* ==========================================================================
   Animations
   ========================================================================== */
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* ==========================================================================
   ICONS
   ========================================================================== */
@mixin home-icon($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48px' viewBox='0 0 24 24' width='48px' fill='#{$color}'%3E%3Cpath d='M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z'%3E%3C/path%3E%3C/svg%3E");
}

@mixin forward-icon($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48px' viewBox='0 0 24 24' width='48px' fill='#{$color}'%3E%3Cpath d='M18.4 10.6C16.55 8.99 14.15 8 11.5 8c-4.65 0-8.58 3.03-9.96 7.22L3.9 16c1.05-3.19 4.05-5.5 7.6-5.5 1.95 0 3.73.72 5.12 1.88L13 16h9V7l-3.6 3.6z'%3E%3C/path%3E%3C/svg%3E");
}

@mixin backward-icon($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48px' viewBox='0 0 24 24' width='48px' fill='#{$color}'%3E%3Cpath d='M12.5 8c-2.65 0-5.05.99-6.9 2.6L2 7v9h9l-3.62-3.62c1.39-1.16 3.16-1.88 5.12-1.88 3.54 0 6.55 2.31 7.6 5.5l2.37-.78C21.08 11.03 17.15 8 12.5 8z'%3E%3C/path%3E%3C/svg%3E");
}

@mixin measurement-icon($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48px' viewBox='0 0 24 24' width='48px' fill='#{$color}'%3E%3Cpath d='m17.66 17.66-1.06 1.06-.71-.71 1.06-1.06-1.94-1.94-1.06 1.06-.71-.71 1.06-1.06-1.94-1.94-1.06 1.06-.71-.71 1.06-1.06L9.7 9.7l-1.06 1.06-.71-.71 1.06-1.06-1.94-1.94-1.06 1.06-.71-.71 1.06-1.06L4 4v14c0 1.1.9 2 2 2h14l-2.34-2.34zM7 17v-5.76L12.76 17H7z'%3E%3C/path%3E%3C/svg%3E") !important;
}

@mixin plus-icon($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48px' viewBox='0 0 24 24' width='48px' fill='#{$color}'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z'%3E%3C/path%3E%3C/svg%3E") !important;
}

@mixin minus-icon($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48px' viewBox='0 0 24 24' width='48px' fill='#{$color}'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11H7v-2h10v2z'%3E%3C/path%3E%3C/svg%3E") !important;
}

@mixin compass-icon($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48px' viewBox='0 0 29 29' width='48px' fill='#{$color}'%3E%3Cpath d='m10.5 14 4-8 4 8h-8z'/%3E%3Cpath d='m10.5 16 4 8 4-8h-8z' fill='%2523ccc'/%3E%3C/svg%3E") !important;
}
