/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Variables
   ========================================================================== */

/* Settings */
$base-hovered-opacity: 0.8;
$nav-header-height: 45px;
$base-height: 36px;
$base-height-minus: -36px;

/* Customized Theme */
$primary-color: var(--primary-color);
$anti-primary-color: var(--anti-primary-color);
$secondary-color: var(--secondary-color);
$anti-secondary-color: var(--anti-secondary-color);
$tertiary-color: var(--tertiary-color);
$anti-tertiary-color: var(--anti-tertiary-color);

/* Colors */
$disabled-color: #C0C0C0;
$border-gray: #E6E8E8;
$primary-color-transparency: #DCEEF8;
$svg-gray: #adb5bd;
$base-black-color: rgba(0, 0, 0, 0.87);
$base-to-white-color: #F4F4F4;
$base-almost-white-color: #FAFAFA;
$base-almost-gray-color: #DDDDDD;
$base-alpha-color: #1CABE215;
$base-shadow-box: 0 0 16px 4px rgba(#000000, 0.1);
$disabled-color: #CCCCCC;
$base-gray: rgba(217, 217, 217, 0.4);
$base-gray-to-white: rgba(217, 217, 217, 0.2);


$white: #fff !default;
$white-transparent: #ffffffBB !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;


$navbar-background-color: $primary-color;
$navbar-font-color: $anti-primary-color;
$tab-inactive-color: #CDCDCD;
$black: #000 !default;
$error: #d32f2f !default;
$ok: #00a51b !default;

/* Fonts */
$root-font-size: 12px;

$base-font-color: $primary-color;
$base-font-family: 'Inter';
$base-font-style: normal;
$base-font-light: 300;
$base-font-regular: 400;
$base-font-medium: 500;
$base-font-bold: 500;
$base-font-weight: $base-font-light;
$base-font-size: 1rem;
$base-line-height: 1.5;

/* Spacing */
$global-spacing: 1rem;
$border: 1px solid rgba(0, 0, 0, 0.23);
$border-radius: 0rem;
$width-90: 90%;

/* Media queries */
$xsmall-range: (0, 543px);
$small-range: (544px, 767px);
$medium-range: (768px, 991px);
$large-range: (992px, 1199px);
$xlarge-range: (1200px);
$screen: "only screen";

/* Box shadow */
$box-shadow: 0 .1rem 1rem rgba($black, .15) !default;
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075) !default;
$box-shadow-sm-strong: 0 .125rem .25rem rgba($black, .15) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, .175) !default;
$box-shadow-inset: inset 0 1px 2px rgba($black, .075) !default;

/* ==========================================================================
   MIXIN
   ========================================================================== */

@mixin media($arg) {
  @if $arg == screen {
    @media #{$screen} {
      @content;
    }
  }
  @if $arg == landscape {
    @media #{$screen} and (orientation: landscape) {
      @content;
    }
  }
  @if $arg == portrait {
    @media #{$screen} and (orientation: portrait) {
      @content;
    }
  }
  @if $arg == xsmall-up {
    @media #{$screen} and (min-width: lower-bound($xsmall-range)) {
      @content;
    }
  }
  @if $arg == xsmall-only {
    @media #{$screen} and (max-width: upper-bound($xsmall-range)) {
      @content;
    }
  }
  @if $arg == small-up {
    @media #{$screen} and (min-width: lower-bound($small-range)) {
      @content;
    }
  }
  @if $arg == small-down {
    @media #{$screen} and (max-width: upper-bound($small-range)) {
      @content;
    }
  }
  @if $arg == small-only {
    @media #{$screen} and (min-width: lower-bound($small-range)) and (max-width: upper-bound($small-range)) {
      @content;
    }
  }
  @if $arg == medium-up {
    @media #{$screen} and (min-width: lower-bound($medium-range)) {
      @content;
    }
  }
  @if $arg == medium-down {
    @media #{$screen} and (max-width: lower-bound($medium-range)) {
      @content;
    }
  }
  @if $arg == medium-only {
    @media #{$screen} and (min-width: lower-bound($medium-range)) and (max-width: upper-bound($medium-range)) {
      @content;
    }
  }
  @if $arg == large-up {
    @media #{$screen} and (min-width: lower-bound($large-range)) {
      @content;
    }
  }
  @if $arg == large-down {
    @media #{$screen} and (max-width: lower-bound($large-range)) {
      @content;
    }
  }
  @if $arg == large-only {
    @media #{$screen} and (min-width: lower-bound($large-range)) and (max-width: upper-bound($large-range)) {
      @content;
    }
  }
  @if $arg == xlarge-up {
    @media #{$screen} and (min-width: lower-bound($xlarge-range)) {
      @content;
    }
  }
  @if $arg == xlarge-only {
    @media #{$screen} and (min-width: lower-bound($xlarge-range)) and (max-width: upper-bound($xlarge-range)) {
      @content;
    }
  }
}

/* ==========================================================================
   Functions
   ========================================================================== */

/**
 * Define ranges for various things, like media queries.
 */
@function lower-bound($range) {
  @if length($range) <= 0 {
    @return 0;
  }
  @return nth($range, 1);
}

@function upper-bound($range) {
  @if length($range) < 2 {
    @return 999999999999;
  }
  @return nth($range, 2);
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

/* ==========================================================================
   Animations
   ========================================================================== */
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* ==========================================================================
   ICONS
   ========================================================================== */
@mixin home-icon($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48px' viewBox='0 0 24 24' width='48px' fill='#{$color}'%3E%3Cpath d='M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z'%3E%3C/path%3E%3C/svg%3E");
}

@mixin forward-icon($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48px' viewBox='0 0 24 24' width='48px' fill='#{$color}'%3E%3Cpath d='M18.4 10.6C16.55 8.99 14.15 8 11.5 8c-4.65 0-8.58 3.03-9.96 7.22L3.9 16c1.05-3.19 4.05-5.5 7.6-5.5 1.95 0 3.73.72 5.12 1.88L13 16h9V7l-3.6 3.6z'%3E%3C/path%3E%3C/svg%3E");
}

@mixin backward-icon($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48px' viewBox='0 0 24 24' width='48px' fill='#{$color}'%3E%3Cpath d='M12.5 8c-2.65 0-5.05.99-6.9 2.6L2 7v9h9l-3.62-3.62c1.39-1.16 3.16-1.88 5.12-1.88 3.54 0 6.55 2.31 7.6 5.5l2.37-.78C21.08 11.03 17.15 8 12.5 8z'%3E%3C/path%3E%3C/svg%3E");
}

@mixin measurement-icon($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48px' viewBox='0 0 24 24' width='48px' fill='#{$color}'%3E%3Cpath d='m17.66 17.66-1.06 1.06-.71-.71 1.06-1.06-1.94-1.94-1.06 1.06-.71-.71 1.06-1.06-1.94-1.94-1.06 1.06-.71-.71 1.06-1.06L9.7 9.7l-1.06 1.06-.71-.71 1.06-1.06-1.94-1.94-1.06 1.06-.71-.71 1.06-1.06L4 4v14c0 1.1.9 2 2 2h14l-2.34-2.34zM7 17v-5.76L12.76 17H7z'%3E%3C/path%3E%3C/svg%3E") !important;
}

@mixin plus-icon($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 8C16 8.13543 15.9462 8.26531 15.8504 8.36108C15.7547 8.45684 15.6248 8.51064 15.4894 8.51064H8.51064V15.4894C8.51064 15.6248 8.45684 15.7547 8.36108 15.8504C8.26531 15.9462 8.13543 16 8 16C7.86457 16 7.73469 15.9462 7.63892 15.8504C7.54316 15.7547 7.48936 15.6248 7.48936 15.4894V8.51064H0.510638C0.375209 8.51064 0.245326 8.45684 0.149562 8.36108C0.0537992 8.26531 0 8.13543 0 8C0 7.86457 0.0537992 7.73469 0.149562 7.63892C0.245326 7.54316 0.375209 7.48936 0.510638 7.48936H7.48936V0.510638C7.48936 0.375209 7.54316 0.245326 7.63892 0.149562C7.73469 0.0537992 7.86457 0 8 0C8.13543 0 8.26531 0.0537992 8.36108 0.149562C8.45684 0.245326 8.51064 0.375209 8.51064 0.510638V7.48936H15.4894C15.6248 7.48936 15.7547 7.54316 15.8504 7.63892C15.9462 7.73469 16 7.86457 16 8Z' fill='currentColor'/%3E%3C/svg%3E") !important;
}

@mixin minus-icon($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='1' viewBox='0 0 16 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 0.5C16 0.632608 15.9462 0.759786 15.8504 0.853554C15.7547 0.947322 15.6248 1 15.4894 1H0.510638C0.375209 1 0.245326 0.947322 0.149562 0.853554C0.0537992 0.759786 0 0.632608 0 0.5C0 0.367392 0.0537992 0.240215 0.149562 0.146447C0.245326 0.0526787 0.375209 0 0.510638 0H15.4894C15.6248 0 15.7547 0.0526787 15.8504 0.146447C15.9462 0.240215 16 0.367392 16 0.5Z' fill='currentColor'/%3E%3C/svg%3E") !important;
}

@mixin compass-icon($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C6.41775 0 4.87103 0.469192 3.55544 1.34824C2.23985 2.22729 1.21447 3.47672 0.608967 4.93853C0.00346614 6.40034 -0.15496 8.00887 0.153721 9.56072C0.462403 11.1126 1.22433 12.538 2.34315 13.6569C3.46197 14.7757 4.88743 15.5376 6.43928 15.8463C7.99113 16.155 9.59966 15.9965 11.0615 15.391C12.5233 14.7855 13.7727 13.7602 14.6518 12.4446C15.5308 11.129 16 9.58225 16 8C15.9975 5.87903 15.1539 3.84565 13.6541 2.3459C12.1544 0.846145 10.121 0.00249086 8 0ZM8 15.0588C6.6039 15.0588 5.23915 14.6448 4.07833 13.8692C2.91751 13.0936 2.01277 11.9911 1.4785 10.7013C0.944235 9.41146 0.804447 7.99217 1.07681 6.62289C1.34918 5.25361 2.02147 3.99585 3.00866 3.00866C3.99585 2.02146 5.25362 1.34918 6.62289 1.07681C7.99217 0.804443 9.41146 0.944232 10.7013 1.4785C11.9911 2.01276 13.0936 2.91751 13.8692 4.07833C14.6448 5.23914 15.0588 6.6039 15.0588 8C15.0567 9.87148 14.3124 11.6657 12.989 12.989C11.6657 14.3124 9.87148 15.0567 8 15.0588ZM11.5545 3.81412L6.5349 6.32392C6.44355 6.3695 6.3695 6.44355 6.32392 6.5349L3.81412 11.5545C3.7783 11.6263 3.76141 11.706 3.76505 11.7861C3.7687 11.8662 3.79277 11.9441 3.83496 12.0123C3.87716 12.0805 3.93609 12.1368 4.00615 12.1758C4.07622 12.2148 4.15509 12.2353 4.2353 12.2353C4.30823 12.2352 4.38015 12.2183 4.44549 12.1859L9.4651 9.67608C9.55645 9.6305 9.6305 9.55645 9.67608 9.4651L12.1859 4.44549C12.2301 4.35715 12.2453 4.25714 12.2295 4.15964C12.2137 4.06215 12.1676 3.9721 12.0977 3.90226C12.0279 3.83241 11.9379 3.78632 11.8404 3.7705C11.7429 3.75468 11.6429 3.76994 11.5545 3.81412ZM8.90431 8.90431L5.28785 10.7122L7.09177 7.09568L10.7082 5.29176L8.90431 8.90431Z' fill='currentColor'/%3E%3C/svg%3E") !important;
}
