{% extends 'frontend/admin/base_form.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load frontend %}

{% block render_bundle %}
    {% render_bundle 'AdminBasemapForm' %}
{% endblock %}
{% block scripts %}
    <script>
      const initialData = {{ form|get_data|safe }};
      const permission = {{ permission|safe }};
      const permissionFormData = {% if form.permission_data %}{{ form.permission_data|safe }}{% else %}null{% endif %};

      // Urls api
      urls.api = {
        'styles': '{% url 'style-list-api'%}',
        'detail': '{% url 'basemap-detail-api' 0 %}',
      }

      if (permission.share) {
        {% if id %}
          urls.api.permission = '{% url 'basemap-permission-api' id %}'
        {% else %}
          urls.api.permission = '{% url 'basemap-permission-api' 0 %}'
        {% endif %}
      }
    </script>
{% endblock %}