/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Measurement
   ========================================================================== */

@import '../../../../app/variables';

.mapbox-gl-draw_polygon {
  display: none !important;
}


.PopupToolbarIcon {
  position: relative;

  a {
    cursor: pointer !important;
  }

  .PopupToolbarComponent {
    background: white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    box-sizing: border-box;
    left: 50%;
    margin-left: -250px;
    position: absolute;
    top: 42px;
    width: 500px;

    transform: none;
    transition: opacity 273ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 182ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform-origin: 118.5px 0;

    &::after {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      height: 0;
      border-bottom: solid 10px white;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
    }

    & > div {
      padding: $base-input-padding;
    }

    .Title {
      color: $primary-color;
      border-bottom: 1px solid $primary-color;
    }
  }

  .MeasurementComponentText {
    line-height: 2;
  }

  button {
    width: auto !important;
    padding: 0.5rem 0 !important;

    &:hover {
      background-color: unset !important;
      opacity: $base-hovered-opacity;
    }
  }
}

.PopupToolbarComponentFooter {
  border-top: 1px solid $primary-color;
  display: flex;
  align-items: center;
}

.crosshairCursor {
  cursor: crosshair !important;
}

.grabCursor {
  cursor: grab !important;
}