/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '31/01/2024'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Related Table Form style
   ========================================================================== */

.FieldConfig {
  width: 100%;

  th, td {
    border: 1px solid var(--primary-color);
    padding: 0.2rem 0.5rem;
  }

  thead {
    td {
      background: var(--primary-color);
      color: var(--anti-primary-color);

      .form-helptext {
        color: var(--anti-primary-color);
      }
    }

    .AsField {
      width: 10rem;
    }
  }

  input {
    width: fit-content;

    &:focus {
      border: 1px solid var(--primary-color);
      outline: none;
    }
  }

  input[type=checkbox] {
    cursor: pointer;
  }
}