/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

main {
  flex-grow: 1;
  min-height: 0;
  width: 100%;
  display: flex;

  .Background {
    flex-grow: 1;
  }

  .Login {
    background-color: white;
    height: 100%;
    width: 400px;
    box-sizing: border-box;
    padding: 3rem 2rem 0 2rem;

    .Errorlist {
      color: var(--error);
      margin: 0;
      padding: 0;
    }

    .LoginHeader {
      color: var(--primary-color);
      font-size: 1.5rem;
      font-weight: var(--base-font-medium);
      margin-bottom: 2rem;
    }

    .AdminForm {
      margin-top: 1rem;
    }

    .Mui-focused {
      fieldset {
        border: 2px solid var(--secondary-color);
      }
    }

    fieldset {
      border-radius: 0;
      border: 1px solid var(--secondary-color);

      &:hover {
        border: 1px solid var(--secondary-color);
      }
    }

    .MuiButton-root {
      border-radius: 0;
      width: 100%;
    }

    .BasicForm {
      padding: 0;
      color: var(--secondary-color);

      input {
        outline: none;
      }
    }

    .HelpText {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}