/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Select with Place holder style
   ========================================================================== */

@import '../../../app/variables';

.MuiSelectValue {
  height: 24px;
  margin-top: -13px;

  .MuiSelectValueGroup {
    color: $secondary-color;
    font-weight: $base-font-medium;
    font-size: 0.7rem;
    height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}