# GeoSight is UNICEF's geospatial web-based business intelligence platform.
#
# Contact : geosight-no-reply@unicef.org
#
# .. note:: This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as published by
#    the Free Software Foundation; either version 3 of the License, or
#    (at your option) any later version.
#
# __author__ = 'irwan@kartoza.com'
# __date__ = '13/06/2023'
# __copyright__ = ('Copyright 2023, Unicef')

Django==3.2.16
django-braces==1.15.0
django-celery-beat==2.4.0
django-celery-results==2.4.0
django-simple-captcha==0.5.17
django-tinymce==3.4.0
djangorestframework==3.14.0
djangorestframework-gis==1.0
django-rest-knox==4.2.0
drf-nested-routers==0.93.5

# TODO: Upgrade django 4
#  Remove this after migrate to Django 4
django-redis==5.4.0

drf-yasg==1.21.7

requests==2.31.0
celery==5.3.1
fiona==1.9.5
Pillow==9.5.0
psycopg2-binary==2.9.6
pyexcel-xls==0.7.0
pyexcel-xlsx==0.6.0
openpyxl==3.0.10
python-dateutil==2.8.2
redis==4.6.0
sentry-sdk==0.10.2
uwsgi==2.0.21
django-webpack-loader==1.8.1

Office365-REST-Python-Client==2.4.2
pyjwt==2.6.0
msal==1.21.0
selenium==4.13.0
webdriver-manager==4.0.1

git+https://github.com/kartoza/CloudNativeGIS.git@fix-0.0.3

# FEATURE: Multi tenant
# Comment below for excluding the multi tenants feature
# -----------------------------------------------------
django-tenants==3.6.1
tenant-schemas-celery==3.0.0
django-tenants-celery-beat==0.2.1
# ----------------------------------------------------

# FEATURE: Machine info feature
uwsgi-tools==1.1.1

# Raster Analysis
rasterio==1.3.11