/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

.ModalDataSelector {
  .modal--box {
    width: 90%;
    max-width: 90%;

    .AdminContent {
      padding-top: 1rem;

      .AdminBaseInput {
        padding: 1rem;
        padding-top: 0;
      }
    }

    .AdminList {
      height: 500px;
      padding: 0;
    }
  }

  .ReferenceLayerSelector {
    &.localReferenceDatasetEnabled .DatasetSelector {
      margin-top: 1rem !important;
    }

    .RadioButtonControl {
      background-color: unset !important;

      .MuiRadioGroup-root {
        flex-direction: row;

        label {
          margin-left: 0;
        }
      }
    }
  }
}

.ModalDataSelectorSelected {
  display: flex;
  flex-wrap: wrap;

  .ModalDataSelectorSelectedObject {
    border: 1px solid var(--gray-400);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    margin: 2px 2px 0 0;
    width: fit-content;
    display: flex;

    div {
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
      max-width: 12rem;
    }
  }
}

.PopoverFilterControl {
  .ReactSelect__control,
  .ReactSelect__value-container,
  .ReactSelect__input-container {
    height: unset !important;
  }
}

.ModalSelector {
  .MuiDataGrid-row {
    cursor: pointer;
  }
}