/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Right-side panel
   ========================================================================== */

.widget {
  background-color: var(--white);
  position: relative;
  padding: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .1882352941);

  .widget__title {
    color: var(--widget-title);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .widget__description {
    color: grey;
    font-size: 0.9rem;
    font-style: italic;
  }

  .widget__content {
    margin-top: 1rem;
  }

  .MuiLinearProgress-root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .WidgetError {
    color: red;
    padding: 0 2rem;
  }

  // SUMMARY WIDGET
  .widget__sw {
    color: var(--base-font-color);
    font-size: 1.2rem;
    font-weight: 300;
  }

  table {
    width: 100%;

    th, td {
      text-align: left;
      padding: 3px 0.5rem;
    }

    th {
      background-color: var(--primary-color);
      color: var(--anti-primary-color);
    }

    td {
      border: 1px solid var(--gray-300);
    }
  }
}

.WidgetEditor {
  .MuiInput-root,
  .MuiOutlinedInput-root {
    width: 100%;
  }

  .MuiForm-SubGroup {
    padding: 1rem 1rem 0 1rem;

    .MuiFormControl-root {
      margin-top: 0 !important;
      width: 100%;
    }
  }

  .MuiFormLabel-root {
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
    transform-origin: top left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(133% - 32px);
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(14px, -7px) scale(0.75);
    background-color: white;
  }

  .CustomDateFilterValues {
    .react-datepicker__aria-live {
      display: none !important;
    }
  }

  .WidgetEditor-apply {
    margin-top: 1rem;
    width: 100%;
  }

  .MuiForm-RadioGroup {
    padding-top: 1rem !important;
  }
}

// --------------------------------------------
// MODAL SELECTOR
// --------------------------------------------
.modal__widget__selection {
  .modal--content {
    background-color: #eee;
  }
}

.widget__selection__member {
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 5px;

  &:hover {
    opacity: 0.7;
  }
}