/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '05/09/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Notification Badge
   ========================================================================== */
@import '../../app/variables';

.NotificationBadge {
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 0.7rem;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  white-space: nowrap;


  &:hover {
    opacity: $base-hovered-opacity;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -5px;
    margin-right: -7px;
    width: 0;
    height: 0;
    border-left: solid 7px $white;
    border-top: solid 5px transparent;
    border-bottom: solid 5px transparent;
  }
}