/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '22/08/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Help Center
   ========================================================================== */


.HelpCenter {
  background-color: unset;
  box-sizing: border-box;
  height: 100%;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: background-color linear 0.2s;
  width: 100%;
  z-index: 1;

  &.Open {
    background-color: rgba(0, 0, 0, .38);
    pointer-events: auto;

    .HelpCenter-Content {
      margin-right: 0;
    }
  }

  .Throbber {
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: center;

    .MuiCircularProgress-root {
      height: 20px !important;
      margin-right: 1rem;
      width: 20px !important;
    }
  }

  .HelpCenter-Content {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: auto;
    margin-right: -430px;
    transition: margin-right linear 0.1s;
    width: 430px;

    .NotFound {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      text-align: center;
      width: 100%;
    }

    .HelpCenter-Close {
      cursor: pointer;
      margin-left: auto;
      padding: 1rem;
    }

    .HelpCenter-InnerContent {
      flex-grow: 1;
      position: relative;

      .HelpCenter-Block {
        background-color: white;
        box-sizing: border-box;
        height: 100%;
        right: -430px;
        padding-top: 0 !important;
        padding: 2rem;
        position: absolute;
        overflow-x: hidden;
        overflow-y: auto;
        top: 0;
        width: 100%;
        transition: right linear 0.1s;

        img {
          width: 100%;
        }

        table {
          border-left: 0.05rem solid #E6E8E8;
          border-right: 0.05rem solid #E6E8E8;
          border-bottom: 0.05rem solid #E6E8E8;

          th, td {
            border-top: 0.05rem solid #E6E8E8;
            padding: 1rem 0.5rem;
            text-align: left;
          }
        }


        > .title {
          font-size: 18px;
          margin-bottom: 1rem;

          svg {
            cursor: pointer;
            transform: rotate(180deg);
            margin-right: 20px;

            &:hover {
              opacity: 0.8;
            }
          }
        }

        &.Open {
          right: 0;
        }


        > .link {
          align-items: center;
          color: var(--primary-color);
          display: flex;
          font-size: 1rem;
          margin-top: 2rem;

          svg {
            margin-left: 0.5rem;
          }
        }
      }

      .section {
        background-color: #F4F4F4;
        color: black;
        cursor: pointer;
        display: flex;
        margin-top: 1rem;
        padding: 1rem;

        > .left {
          height: 35px;
          margin-right: 1rem;
          min-width: 60px;

          img {
            width: 60px;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }

        > .right {
          flex-grow: 1;
          min-height: 35px;

          > .title {
            font-weight: 500;
            font-size: 1rem;
          }

          > .content {
            font-size: 12px;
            color: #12121299;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
          }
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .HelpCenter-Footer {
      padding: 2rem;

      a {
        margin-right: 1rem;
      }
    }
  }
}