/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Label Style
   ========================================================================== */

@import '../../../app/variables';

.LabelStyle {
  .LabelStyleTitle {
    margin-bottom: 0.5rem;
  }

  .BasicFormSection {
    .form-label {
      display: block;
      padding-top: 0.3rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      &:after {
        content: ":";
      }
    }
  }

  .LabelStylePreview {
    border-radius: $border-radius;
    padding: 1rem;
    background-color: $primary-color;
  }

  .ColorConfig {
    padding: 0 !important;

    .ColorConfigPreview {
      height: 2.5rem;
      min-height: 2.5rem;
      width: 2.5rem;
      min-width: 2.5rem;
    }
  }


  .FlexConfig {
    display: flex;
    padding: 0.2rem 0;

    input {
      flex-grow: 1;
    }

    span {
      padding: $base-input-padding;
    }
  }
}