/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* Sass property declarations */
$document-title: 'The Geosight Handbook';
$document-title-color: #ffffff;
$show-top-left-corner-logo: false;
$primary-color: #0099FF;
$secondary-color: #FF0099;
$tertiary-color: #8a8b8b;
$primary-color-light: #cdedff;
$secondary-color-light: #f4ebdb;
$tertiary-color-light: #eaeaea;
$primary-color-dark: #0082c7;
$secondary-color-dark: #e79709;
$tertiary-color-dark: #3f3f3f;

$font-size: 10pt;
$font-color: #000;

$code-font-size: 8pt;
$code-font-family: 'Noto Sans Mono', monospace;

$inline-code-background: #bfe9ff;

$codeblock-label-font-color: white;
$codeblock-label-background: $primary-color;
$codeblock-label-border: $primary-color-dark;
$codeblock-background: $inline-code-background;
$codeblock-border: $primary-color;

$blockquote-label-font-color: white;
$blockquote-label-background: $secondary-color;
$blockquote-label-border: $secondary-color-dark;
$blockquote-background: $secondary-color-light;
$blockquote-border: $secondary-color;