{% extends 'frontend/admin/base_form.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load frontend %}

{% block render_bundle %}
    {% render_bundle 'AdminReferenceLayerImporterForm' %}
{% endblock %}
{% block scripts %}
    <script>
      const dataLevels = {{ levels|safe }};
      const createdAt = "{{ created_at }}";
      var csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;
      // Urls api
      urls.api = {
        'uploadFile': '{% url 'reference-datasets-upload-file-api' identifier %}',
        'rearrange': '{% url 'reference-datasets-rearrange-api' identifier %}',
        'updateLevelvalue': '{% url 'reference-datasets-update-level-value-api' identifier %}',
      }
    </script>
{% endblock %}