{% extends 'frontend/admin/base.html' %}
{% load render_bundle from webpack_loader %}

{% block extrastyle %}
{% endblock %}

{% block render_bundle %}
    {% render_bundle 'AdminReferenceLayerViewList' %}
{% endblock %}

{% block scripts %}
    <script>
      urls.api = {
        'list': '{% url 'boundary-api-list' %}',
        'create': '{% url 'admin-reference-layer-view-create-view' %}',
        'entityBrowser': '{% url 'admin-reference-layer-view-entity-list-view' 0 %}',

        {# resource specified url #}
        'permission': '{% url 'boundary-permission-api' 'identifier' %}',
      }
    </script>
{% endblock %}