{% extends 'frontend/admin/base.html' %}
{% load render_bundle from webpack_loader %}

{% block extrastyle %}
{% endblock %}

{% block render_bundle %}
    {% render_bundle 'AdminReferenceLayerViewList' %}
{% endblock %}

{% block scripts %}
    <script>
      urls.api = {
        'list': '{% url 'reference-layer-view-list-api' %}',
        'create': '{% url 'admin-reference-layer-view-create-view' %}',
        'entityBrowser': '{% url 'admin-reference-layer-view-entity-list-view' 0 %}',
      }
    </script>
{% endblock %}