{% extends 'frontend/admin/base.html' %}
{% load render_bundle from webpack_loader %}

{% block extrastyle %}
{% endblock %}

{% block render_bundle %}
    {% render_bundle 'AdminReferenceLayerViewList' %}
{% endblock %}

{% block scripts %}
    <script>
      const DEFAULT_UUID = '10000000-0000-0000-0000-000000000000'
      urls.api = {
        'list': '{% url 'reference-dataset-api-list' %}',
        'create': '{% url 'admin-reference-layer-view-create-view' %}',
        'detail': '{% url 'reference-dataset-api-detail' '10000000-0000-0000-0000-000000000000' %}',
        'entityBrowser': '{% url 'admin-reference-layer-view-entity-list-view' 0 %}',
        'users': '{% url 'user-list-api'%}',
        'groups': '{% url 'group-list-api'%}',

        {# resource specified url #}
        'permission': '{% url 'reference-dataset-permission-api' 'identifier' %}',
      }
    </script>
{% endblock %}