{% extends 'frontend/admin/base.html' %}
{% load render_bundle from webpack_loader %}

{% block extrastyle %}
{% endblock %}

{% block render_bundle %}
    {% render_bundle 'AdminUserGroupList' %}
{% endblock %}

{% block scripts %}
    <script>
      urls.api = {
        user: {
          'list': '{% url 'user-list-api' %}',
          'edit': '{% url 'admin-user-edit-view' 0 %}',
          'detail': '{% url 'user-detail-api' 0 %}',
          'create': '{% url 'admin-user-create-view' %}'
        },
        'permissionAdmin': '{% url 'admin-data-access-view' %}',
      }
    </script>
{% endblock %}