/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Date selection
   ========================================================================== */

@import '../../../app/variables';

.DashboardMiddlePanel {
  flex-grow: 1;
  position: relative;
  pointer-events: none;
  height: 100%;
  padding-top: 49px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &.HiddenMap {
    .BottomContent,
    .LeftContent,
    .MiddleContent {
      display: none !important;
    }

    .TopContent {
      width: 100%;
      justify-content: end;
    }

    .RightContent {

    }
  }

  &.RightExpanded {
    .RightContent {
      margin-right: 0 !important;
    }
  }

  .RightContent {
    margin-right: -300px;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    transition: margin-right linear 0.2s;

    .dashboard__content {
      background: unset !important;
    }
  }

  .TopContent {
    flex-grow: 1;
    width: 100%;
    pointer-events: none;
    z-index: 2;
    display: flex;
    min-height: 0;

    .MiddleContent {
      pointer-events: none;
      padding-top: 1rem;

      .IndicatorLayerMiddleConfig {
        box-shadow: $box-shadow;
      }
    }

    .LeftContent {
      pointer-events: none;
      flex-grow: 1;
      flex-direction: column;
      display: flex;
      padding-bottom: 170px;
    }

    & > div {
      pointer-events: auto;
    }

    .MapNavbar {
      display: flex;
      height: 49px;
      box-sizing: border-box;
      position: relative;
      z-index: 3;
      pointer-events: none !important;

      .LeftMapNavbar {
        flex-grow: 1;
        padding: 0.5rem;
        pointer-events: none !important;
      }

      .RightMapNavbar {
        pointer-events: auto !important;
        padding: 0.5rem;
      }
    }
  }

  .ButtonSection {
    background-color: unset !important;
    padding: 1rem;
    pointer-events: none !important;

    .ProjectOverview-Toolbar {
      width: fit-content;
      pointer-events: auto !important;
      cursor: pointer;

      a {
        padding: 6px;
      }

      & > div {
        box-shadow: $box-shadow;
        width: 29px !important;
        height: 29px !important;
        background-color: $white !important;

        svg {
          margin-top: 6px;
          height: 18px !important;
          width: 18px !important;
        }
      }
    }
  }

  .BottomContent {
    height: 50px;
    width: 100%;
    transition: height linear 0.2s;

    &.DateOpen {
      height: 210px;
    }

    .Disclaimer {
      margin-top: 0.5rem;
      margin-left: 20px;
      box-shadow: $box-shadow;
      background-color: $white;
      opacity: 0.94;
      width: 637px;
      font-family: $base-font-family;
      font-size: 9px;
      font-weight: $base-font-regular;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: center;
    }

    .ContentLine {
      width: 100%;
      display: flex;
      position: relative;

      & > div {
        margin-top: auto;
        padding: 1rem;
      }

      &.Inner {
        & > div {
          margin-top: auto;
          padding: 0;
          pointer-events: auto;
        }
      }

      .LeftSection {
        position: absolute;
        bottom: 0;
        left: 0;

        .maplibregl-ctrl-group {
          position: relative;
          margin-left: 0;
          height: 58px;
          margin-bottom: 10px;
        }


        .TiltControl {
          position: relative;
          box-shadow: $box-shadow;
          width: 29px !important;
          height: 29px !important;
          background-color: $white !important;
          margin-bottom: 44px;

          .ToolbarChild {
            width: inherit !important;

            .TiltDegree {
              width: inherit !important;
              margin-left: 5px;
              margin-top: -12px;
            }
          }

          svg {
            margin-top: 20%;
          }
        }
      }

      .RightSection {
        .FullScreen {
          z-index: 999;

          svg {
            margin-top: 6px;
            margin-left: 6px;
          }
        }
      }
    }
  }
}