{% extends 'frontend/admin/base_form.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load frontend %}

{% block render_bundle %}
    <script>
      const initialData = {
        id: {% if form.initial.id %}{{ form.initial.id }}{% else %}null{% endif %},
        username: "{{ form.initial.username }}",
      };
      const ownForm = '{{ own_form }}' === 'True';
      urls.api = {
        'permissionAdmin': '{% url 'admin-data-access-view' %}',
      }
    </script>
    {% render_bundle 'AdminUserForm' %}
{% endblock %}