{% extends 'frontend/admin/base_form.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load frontend %}

{% block render_bundle %}
    <script>
      const initialData = {
        id: {% if form.initial.id %}{{ form.initial.id }}{% else %}null{% endif %},
        username: "{{ form.initial.username }}",
      };
      const ownForm = '{{ own_form }}' === 'True';
      urls.api = {
        user: {
          'list': '{% url 'user-list-api' %}',
          'edit': '{% url 'admin-user-edit-view' 0 %}',
          'detail': '{% url 'user-detail-api' 0 %}',
          'create': '{% url 'admin-user-create-view' %}',
          'apiKey': '{% url 'user-api-key' request.user.id %}',
        },
        'permissionAdmin': '{% url 'admin-data-access-view' %}',
      }
    </script>
    {% render_bundle 'AdminUserForm' %}
{% endblock %}