/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   VectorContextLayerHarvester Content
   ========================================================================== */

.RetrievedData {
  border: 1px solid var(--primary-color);
  padding: 1rem;
}

.DsdForm {
  padding: 20px;
  border: 1px solid $primary-color;
  z-index: 10;
  right: 0;
  margin: 10px 0px;
}

.SelectWrapper {
  display: flex;
  justify-content: start;
}

.DimensionGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

}

.DimensionContainer {
  flex: 1 1 calc(20% - 20px);
  min-width: 250px;
}

.LoadingText {
  text-align: center;
  color: #e67e22;
}

.Error {
  color: #e74c3c;
  text-align: center;
  font-weight: bold;
}

.InfoText {
  text-align: center;
  color: #7f8c8d;
}