/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   VectorContextLayerHarvester Content
   ========================================================================== */

@import '../../../../../../app/variables';

.RetrievedData {
  border: 1px solid $primary-color;
  padding: 1rem;
}

.DsdForm {
  padding: 20px;
  border: 1px solid $primary-color;
  z-index: 10;
  right: 0;
  margin: 10px 0px;
}

.SelectWrapper {
  display: flex;
  justify-content: start;
}

.DimensionGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

}

.DimensionContainer {
  flex: 1 1 calc(20% - 20px);
  min-width: 250px;
}

.LoadingText {
  text-align: center;
  color: #e67e22;
}

.Error {
  color: #e74c3c;
  text-align: center;
  font-weight: bold;
}

.InfoText {
  text-align: center;
  color: #7f8c8d;
}


.DimensionDropdown {
  position: relative;
  min-height: $base-input-height;

  .DimensionDropdown__control,
  .DimensionDropdown__value-container,
  .DimensionDropdown__input-container {
    min-height: $base-input-height;
  }

  &.Dynamic {
    // height: unset !important;
    min-height: $base-input-height !important;

    .DimensionDropdown__control,
    .DimensionDropdown__value-container,
    .DimensionDropdown__input-container {
      // height: unset !important;
      min-height: $base-input-height !important;
    }

    .DimensionDropdown__multi-value {
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }

  .DimensionDropdown__value-container {
    padding: 0 8px;
  }

  .DimensionDropdown__input-container {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
}


.DimensionDropdown {
  &>div {
    min-height: $base-height;
    border-radius: 0;
  }

  .DropdownIndicator {
    width: $base-height;
    color: $svg-gray !important;
    display: flex;
    align-items: center;

    svg {
      margin-left: 17px;
    }
  }

  .DimensionDropdown__single-value {
    font-size: 1rem !important;
  }
}

.DimensionDropdown__option--is-selected {
  background-color: $primary-color-transparency !important;
  color: black !important;
}

.DimensionDropdown__option--is-focused {
  background-color: rgba(0, 0, 0, 0.04) !important;
}


.LoadDataButton {
  margin: 10px auto !important;
}

.LoadDataError {
  color: red;
}