/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Indicator Layers List style
   ========================================================================== */

@import '../../../../../app/variables';

.IndicatorLayers {
  .OtherActionFunctions {
    width: 220px;
  }

  .OtherActionFunctionsWrapper {
    display: flex;
  }

  .LayerCountIndicatorWrapper {
    display: flex;
    width: 122px;

    div:first-child {
      flex-grow: 1;
    }

    .LayerCountIndicator {
      width: fit-content;
      height: 22px;
      margin-top: 7px;
      display: block;
      margin-left: 0.5rem;
      background: white;
      border-radius: $border-radius;
      text-align: center;
      padding: 2px 10px 0 10px;
      border: 1px solid $primary-color;
      font-size: 0.8rem;
      white-space: nowrap;
    }
  }
}

.IndicatorLayerCreateTypeSelection {
  .ModalSelection-Option {
    opacity: 0.3;
    cursor: not-allowed;

    &:hover {
      opacity: 0.3;
    }

    &.Enabled {
      opacity: 1;
      cursor: pointer;

      &:hover {
        opacity: $base-hovered-opacity;
      }
    }
  }
}


.IndicatorLayerConfig {
  .AdminForm {
    overflow: visible;
  }

  .Section {
    background-color: unset !important;
    position: relative;

    .SaveButton {
      position: absolute;
      top: -0.5rem;
      right: 1rem
    }
  }

  .OverrideAdminLevel {
    margin-bottom: 0.5rem;
  }
}