/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Resource Modal Selctor style
   ========================================================================== */
@import '../../../app/variables';

.ModalResourceSelector {
  .modal--wrapper--box {
    box-sizing: border-box;
    height: 100%;
  }


  .modal--box {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    height: 100%;
    width: 90%;
    background-color: #F4F4F4;

    .ResourceList {
      flex-grow: 1;
      padding: 0;
      padding-top: 1rem;
    }

    .Save-Button {
      margin: 0 1rem 1rem 1rem;
      margin-left: auto;
      padding: 0;
    }
  }
}

.ModalResourceSelectorSelected {
  display: flex;
  flex-wrap: wrap;

  .ModalResourceSelectorSelectedObject {
    border: 1px solid $primary-color;
    border-radius: $border-radius;
    padding: 0.5rem;
    width: fit-content;
    display: flex;

    div {
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
      max-width: 12rem;
    }
  }
}