/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Admin Form specific style
   ========================================================================== */

@import '../../../../app/variables';

.AdminForm {
  flex-grow: 1;
  padding: 0 !important;
  display: flex;
  overflow: hidden;
  background-color: unset !important;
  position: relative;

  form {
    background-color: white;
    flex-grow: 1;
    padding: 1rem 1rem 0 1rem !important;
    min-height: 0;
    overflow: auto;
  }

  .AdminFormLoading {
    display: block;
    flex-grow: 1;

    .AdminFormLoadingSection {
      height: fit-content;
      width: fit-content;
      margin: auto;
      display: flex;
      margin-top: 200px;

      div {
        margin-left: 1rem;
        padding-top: 0.5rem;
      }
    }
  }


  & > .TabPrimary {
    background-color: white !important;
    border-right: 1px solid $border-gray;
    display: block;
    min-width: 200px;
    border-bottom: unset;

    & > div {
      cursor: pointer;
      padding: 9px 1rem;
      text-align: left;
      border: unset !important;

      &:hover {
        color: $primary-color;
      }

      &.Selected {
        background: $primary-color-transparency !important;
        border: unset !important;
      }
    }
  }
}