/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Map Container
   ========================================================================== */

@import '../../../app/variables';


.DashboardMap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  &.HideMap {
    .GlobalDateSelector,
    .ReferenceLayerToolbar,
    .Toolbar-Middle,
    .SearchGeometryInput,
    .BookmarkControl,
    .DownloadControl {
      display: none !important;
    }

    #map {
      display: none;
    }

    .Toolbar-Right {
      width: 100%;
      justify-content: end;
    }
  }

  #map {
    height: 100%;
    width: 100%;

    &:focus-visible {
      outline: none;
    }

    .maplibregl-canvas-container, canvas {
      height: 100% !important;
      width: 100% !important;
    }
  }

  .Toolbar {
    border-bottom: 1px solid $border-gray;
  }

  .Toolbar {
    display: flex;
    height: 50px;
    min-height: 50px;
    transition: padding-left 0.3s;
    box-sizing: border-box;
    width: 100%;

    & > div {
      background-color: $white !important;
    }

    .EmbedControl,
    .BookmarkControl,
    .DownloadControl {
      padding: 2px;

      a {
        margin: 0 !important;
        height: 28px !important;
        width: 28px !important;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }

    .EmbedControl {
      margin-right: 10px;

      svg {
        width: 28px !important;
      }
    }

    .RightButton {
      margin-right: 1rem;
    }

    .Toolbar-Left {
      padding-left: 0.5rem;
      flex-grow: 1;
    }

    .Toolbar-Left,
    .Toolbar-Middle,
    .Toolbar-Right {
      display: flex;
      align-items: center;
    }

    .Toolbar-Right {
      .ToolbarChild {
        a {
          display: flex;
          text-align: center;
          align-items: center;
        }
      }
    }

    .Toolbar-Middle {
      flex-grow: 1;
      position: absolute;
      left: 50%;
      margin-left: -75px;
      top: 9px;

      .CompareLayerComponent svg {
        margin-top: -1px;
        height: 18px;
        width: 18px;
      }

      .MovementHistory svg {
        height: 16px;
        width: 16px;
      }

      .ExtrudedIcon svg {
        margin-top: -2px;
        height: 20px;
        width: 20px;
      }

      a {
        margin: 0 !important;
        padding: 6px !important;
        line-height: unset !important;

        svg {
          height: 16px;
          width: 16px;
        }
      }
    }

    .Disabled {
      a, span {
        color: $disabled-color !important;
        cursor: not-allowed !important;

        &:hover {
          background-color: unset !important;
          opacity: 1 !important;
        }
      }
    }

    &.Disabled {
      a, span {
        color: $disabled-color !important;
        cursor: default;

        &:hover {
          background-color: unset !important;
          opacity: 1 !important;
        }
      }
    }

    .ToolbarControl {
      border: none;
      display: flex;
      margin-left: 0;
      z-index: 1000;
      box-shadow: none;
      float: unset;
      background: none;
      border-radius: 0;
      height: 30px;

      .Active {
        a, span {
          color: $primary-color !important;
          background-color: rgba(0, 0, 0, 0) !important;
        }
      }

      a, span {
        color: $tab-inactive-color !important;
        background-color: rgba(0, 0, 0, 0) !important;
      }

      a {
        margin: 0 2px;
        line-height: 30px;
        width: 30px;
        height: 30px;


        &:hover {
          background-color: #ddd;
        }
      }

      a, span {
        border: none;
        border-radius: $border-radius;
        box-sizing: border-box;
        color: $primary-color;
        cursor: pointer;
        display: block;
      }

      &.LeftButton, &.GlobalDateSelector {
        .Active {
          a, span {
            color: $primary-color !important;
            background-color: rgba(0, 0, 0, 0) !important;
          }
        }

        a, span {
          color: $tab-inactive-color !important;
        }

        svg {
          height: 28px;
          width: 28px;
        }
      }

      &.ReferenceLayerToolbar {
        width: 120px;

        a {
          opacity: 1;
        }
      }


      button {
        background-color: unset;
        border: none;
        height: 30px;
        width: 30px;
        margin: 0 5px;
        padding: 3px;

        &:hover {
          background-color: #ddd;
        }

        span {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.LeftExpanded {
  .Toolbar {
    padding-left: 20%;
  }

  .maplibregl-ctrl-bottom-left {
    left: 20%;
  }
}

// TODO:
//  We need to fix the color using variable
$nav-enabled-color: '%231CABE2';
$nav-disabled-color: '%23CCCCCC';

.IconMarker {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 35px;
  width: 30px;
}

// This is for embed mode
.Embed {
  .EmbedControl,
  .EditControl, {
    display: none !important;
  }
}

.mapboxgl-ctrl-group:not(:empty),
.maplibregl-ctrl-group:not(:empty) {
  box-shadow: none;
}

// NAVBAR
.maplibregl-ctrl-group,
.mapboxgl-ctrl-group {
  border: none !important;
  box-shadow: none;
  position: fixed;
  bottom: 15%;
  background-color: rgba(0, 0, 0, 0);

  span {
    background-size: 24px !important;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  button {
    background-color: $white;
  }
}


.mapbox-gl-draw_polygon {
  @include measurement-icon($nav-enabled-color);
  background-size: 24px !important;
}

.mapbox-gl-draw_trash {
  display: none !important;
}

.maplibregl-ctrl-zoom-in {
  .maplibregl-ctrl-icon {
    @include plus-icon($nav-enabled-color);
    background-size: 10px !important;
  }
}

.maplibregl-ctrl-group {
  box-shadow: $box-shadow !important;
}

.maplibregl-ctrl-zoom-out {
  border: 1px !important;
  color: $tab-inactive-color;

  .maplibregl-ctrl-icon {
    @include minus-icon($nav-enabled-color);
    background-size: 10px !important;
  }
}


.maplibregl-ctrl-compass {
  box-shadow: $box-shadow;
  position: relative;
  bottom: 95px;

  .maplibregl-ctrl-icon {
    position: relative;
    background-image: unset !important;
    border: none !important;

    &::after {
      display: block;
      position: absolute;
      top: 5px;
      left: 5px;
      content: "";
      color: $primary-color !important;
      @include compass-icon($primary-color);
      background-size: 18px !important;
      height: 18px;
      width: 18px;
      transform: rotate(-45deg);
    }
  }
}


.maplibregl-ctrl {
  &.maplibregl-ctrl-group {
    &.mapboxgl-ctrl {
      &.mapboxgl-ctrl-group {
        margin-left: 15px;
      }
    }
  }

  button {
    &:hover {
      background: white !important;
      opacity: $base-hovered-opacity;
    }
  }
}

.maplibregl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-left {

  .maplibregl-ctrl-group {
    border: none;

    button:hover {
      background-color: $tab-inactive-color;
    }
  }
}

.ContextPopup {
  z-index: 3;
}

.maplibregl-ctrl-bottom-right {
  right: 40px;
}