{% extends 'frontend/base.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block style %}
    <script type="text/javascript"
            src="{% static 'libs/xlsx/0.17.5/jszip.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'libs/xlsx/0.17.5/xlsx.js' %}"></script>
{% endblock %}
{% block render_bundle %}
    {% render_bundle 'Dashboard' %}
{% endblock %}
{% block scripts %}
    <script>
      {# specified url for dashboard #}
      urls.dashboardData = '{% url 'dashboard-data-api' slug=dashboard.id %}'
      urls.embedDetail = '{% url 'dashboard-embed' slug=dashboard.id %}'
      urls.drilldown = '{% url 'dashboard-entity-drilldown' slug=dashboard.id geom_id='geom_id' %}'

      const definition = {{ definition|safe }};
      let editMode = {% if edit_mode %} true {% else %} false {% endif %};
      if (editMode) {
        urls.api = {
          'basemapListAPI': '{% url 'basemap-list-api' %}?field=__all__',
          'indicatorListAPI': '{% url 'indicator-list-api' %}?field=__all__',
          'contextLayerListAPI': '{% url 'context-layer-list-api' %}?field=__all__',
          'relatedTableListAPI': '{% url 'related-table-list-api' %}?field=__all__',
        }
      } else {
        urls.dashboardEditUrl = '{% url 'admin-dashboard-edit-view' slug=dashboard.id %}'
      }

      {# Download #}
      urls.contextLayerDownload = '{% url 'context_layers_data-download' 0 %}'

      const embedConfig = {% if embed_config %}{{ embed_config|safe }}{% else %}null{% endif %};
    </script>
{% endblock %}