{% load basic_functions %}
<table>
    {% for row in table %}
        <tr>
            {% for column in row %}
                {% with column|split:":error:" as values %}
                    <td
                            style="border : 1px solid {{ color }}; padding: 2px 5px;
                                    {% if values|index:1 %}
                                        color:red;
                                        opacity: 1;
                                        cursor: pointer;
                                    {% else %}
                                        opacity: 0.6;
                                    {% endif %}
                                    "
                            {% if values|index:1 %}
                            title="{{ values|index:1 }}"
                            {% endif %}
                    >
                        {{ values|index:0 }}
                        {% if values|index:1 %}
                            <b>!</b>
                        {% endif %}
                    </td>
                {% endwith %}
            {% endfor %}
        </tr>

    {% endfor %}
</table>