{% extends 'frontend/base.html' %}
{% load render_bundle from webpack_loader %}
{% block render_bundle %}
    {% render_bundle 'SignUp' %}
{% endblock %}
{% block style %}
    <style>
        {% if preferences.background_image %}
            .Background {
                background: url("{{ preferences.background_image }}") no-repeat;
                background-size: cover;
            }
        {% endif %}
    </style>
{% endblock %}
{% block extra_html %}
    <div id='FormTemplate' style="display: none">
        {{ form.non_field_errors }}
        <p data-field-name="{{ field.name }}">
            <span class="form-input"> {% csrf_token %}</span>
        </p>
        {% for field in form %}
            <p data-field-name="{{ field.name }}">
                <label class="form-label {% if field.field.required %}required{% endif %}"
                       for="{{ field.name }}">{{ field.label }}
                </label>
                {% if field.errors %}
                    <span class="form-error">
                    {% for error in field.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </span>
                {% endif %}
                <span class="form-input">{{ field }}</span>
                {% if field.help_text %}
                    <span class="form-helptext">{{ field.help_text|safe }}</span>
                {% endif %}
            </p>
        {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
      const success = {% if success %}true{% else %}false{% endif %};
    </script>
{% endblock %}