/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Downloader data
   ========================================================================== */

.DownloaderDataComponent {
  padding: 1rem;

  .GroupSelection {
    margin-bottom: 1rem;

    .MuiFormGroup-root {
      display: flex;
      flex-direction: row;
      margin-top: 0.5rem;
      max-width: 500px;

      .MuiFormControlLabel-root {
        margin-left: 0;
      }

      .MuiRadio-root {
        margin-left: 10px;
      }
    }
  }

  .DownloaderDataForm {
    max-height: 80%;
    overflow-y: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  table {
    width: 100%;
    min-width: 300px;
    margin-bottom: 2px;

    thead {
      td {
        background-color: var(--primary-color);
        color: var(--anti-primary-color);
      }
    }

    td {
      border: 1px solid var(--primary-color);
    }

    tr {
      td:first-child {
        width: 20px;
      }

      td:last-child {
        padding: 0 0.5rem;
      }
    }
  }

  .DownloadButton {
    button {
      width: 100%;
    }
  }


  .MuiFormLabel-root {
    color: black;
    font-size: 12px;
    font-weight: 500;
  }

  .MuiFormGroup-root {
    margin-top: 0 !important;
  }

  .DownloaderDataTitle {
    padding-bottom: 0.5rem;
    border-bottom: var(--border);
    font-size: 12px;
  }

  .MuiCircularProgress-root {
    margin-right: 0.5rem;
    color: var(--primary-color) !important;
    width: 14px !important;
    height: 14px !important;

    svg {
      margin: 0 !important;
    }
  }

  .MuiGrid-container {
    width: 100%;
  }

  .SelectWithSearchInput {
    margin-top: 0.5rem;

    .MuiInputBase-root {
      min-width: unset !important;
    }
  }

  .MuiGrid-root {
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 1rem !important;
  }

  .MuiGrid-item {
    padding-right: 0.5rem !important;
  }
}