/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

/* ==========================================================================
   Downloader data
   ========================================================================== */

.CompareLayerComponent {
  position: relative;

  a {
    cursor: pointer !important;
  }

  .CompareLayerComponentPopup {
    background: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
    left: 50%;
    margin-left: -170px;
    position: absolute;
    top: 42px;
    width: 340px;

    transform: none;
    transition: opacity 273ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 182ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform-origin: 118.5px 0;

    &::after {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      height: 0;
      border-bottom: solid 10px white;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
    }

    div {
      padding: 0 1rem 0.5rem 1rem;
    }

    .Title {
      color: var(--secondary-color);
      padding-top: 0.5rem;
      margin-bottom: 0.5rem;
      border-bottom: 1px solid var(--secondary-color);
    }

    i {
      color: var(--error);
    }
  }
}