.react-datepicker-popper {
  z-index: 9999!important;
}

.MuiDataGrid-columnHeaders{
  .Popover-Btn {
    padding-top: 7px;
  }
  svg {
    fill: #808080;

    &.Active {
      fill: #1CABE2;
    }
  }
}

.DataGridFilter-Popover {

  .MuiPaper-root {
    position: sticky!important;
    width: 20%!important;
    max-height: 400px;
    overflow-y: scroll;

    .DataGridFilter-Container {
      padding: 10px;

      .Body {
        .FilterRow {
          margin-bottom: 10px;
          min-height: 35px;
          height: fit-content;

          .MuiTextField-root {
            width: 100%;
          }

          .Filter-DateStart {
            margin-bottom: 10px;
          }

          .date-text {
            display: flex;
            align-items: center;
          }

          .MuiInputBase-root {
            width: 100%;
          }
        }
      }

      .Footer {
        display: flex;
        flex-direction: row-reverse;
      }
    }
  }
}