.react-datepicker-popper {
  z-index: 9999!important;
}

.Popover-Btn {
  padding-top: 7px;
}

.react-datepicker__input-container {
  input {
    width: 50%;
  }
}

.DataGridFilter-Popover {

  .MuiPaper-root {
    position: sticky!important;
    width: 20%!important;
    max-height: 400px;
    overflow-y: scroll;

    .DataGridFilter-Container {
      padding: 10px;

      .Body {
        .FilterRow {
          margin-bottom: 10px;
          min-height: 35px;
          height: fit-content;

          .MuiTextField-root {
            width: 100%;
          }

          .Filter-DateStart {
            margin-bottom: 10px;
          }

          .date-text {
            display: flex;
            align-items: center;
          }

          .MuiInputBase-root {
            width: 100%;
          }
        }
      }

      .Footer {
        display: flex;
        flex-direction: row-reverse;
      }
    }
  }
}

//.parent:has(.DataGridFilter-Container) {
//  position: sticky!important;
//  width: 20%!important;
//}