/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

.PopupMode {
  .SideNavigation {
    display: none !important;
  }
}

.SideNavigation {
  background: white;
  width: 220px;
  min-width: 220px;
  border-right: 1px solid var(--border-gray);
  z-index: 1;
  display: flex;
  flex-direction: column;

  .NotificationBadge {
    display: inline-block;
    margin-left: 5px;
    background: white;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }

  .SideNavigationContentGroup {

    .NotificationMaintenance {
      margin: 0 0.5rem;
      border: none;

      .NotificationMaintenanceWrapper {
        height: auto;
      }

      .NotificationMaintenanceWrapperInfo {
        white-space: unset;
      }

      svg {
        display: none;
      }
    }
  }

  .NavHeader {
    .Separator,
    .LinkButton,
    .NavbarAccount,
    .MiddleSection,
    .GeorepoApiKeyBtn,
    .NotificationMaintenanceWrapper,
    .HelpButton {
      display: none !important;
    }

    img {
      filter: brightness(0) invert(1);
    }
  }

  .SideNavigationFooter {
    background-color: var(--base-gray);
    padding: 1rem;
  }

  .SideNavigationContent {
    flex-grow: 1;
    overflow-y: auto;

    .SideNavigationContentGroup {
      .SideNavigationContentGroupTitle {
        box-sizing: border-box;
        display: flex;
        height: var(--base-height);
        color: #7E7E7E;
        border-bottom: 1px solid var(--border-gray);
        font-weight: 500;
        font-size: 10px;
        align-items: center;
        padding: 0 10px;
      }
    }
  }


  .SideNavigation-Row {
    align-items: center;
    border-radius: var(--border-radius);
    cursor: pointer;
    color: var(--base-black-color);
    display: flex;
    height: var(--base-height);
    padding: 0 16px;
    border-bottom: 1px solid var(--base-gray-to-white);
    box-sizing: border-box;

    &:hover {
      opacity: 0.5;
    }

    &.active {
      background-color: var(--base-alpha-color);
      color: var(--primary-color);

      &:hover {
        opacity: 1;
      }

      path {
        fill: var(--primary-color) !important;
      }

      svg {
        opacity: 1;
      }
    }

    svg {
      opacity: 0.7;
      margin-right: 10px;
      width: 14px;
      height: 14px;
    }

    &.Button {
      background-color: var(--base-gray);
      margin: 0.5rem 16px;
    }
  }

  .SideNavigation-Row-Group {
    .SideNavigation-Row-Child {

      .SideNavigation-Row {
        padding-left: 2.5rem;

        &.active {
          background-color: var(--base-alpha-color);
          color: var(--base-black-color);

          &:hover {
            opacity: 1;
          }

          path {
            fill: var(--base-black-color) !important;
          }
        }
      }
    }
  }

  &.Minified {
    width: 56px;
    min-width: 56px;

    .SideNavigationContentGroupTitle,
    .NavbarAccountName,
    .SideNavigation-Row-Name {
      display: none !important;
    }

    .ViewAllDashboard {
      .SideNavigation-Row {
        margin: 0;
        background-color: unset;
      }
    }

    .SideNavigation-Row {
      padding: 0 21px;
    }

    svg {
      height: 18px !important;
      margin-right: 0;
    }

    .NavbarAccount {
      height: 26px;
      width: 26px;
      font-size: 18px;
      margin-right: 0;
    }

    .NavHeaderLink {
      display: none;
    }

    .NavHeaderLogo {
      padding: 0 4px;
    }
  }
}