# GeoSight is UNICEF's geospatial web-based business intelligence platform.
#
# Contact : geosight-no-reply@unicef.org
#
# .. note:: This program is free software; you can redistribute it and/or modify
#     it under the terms of the GNU Affero General Public License as published by
#     the Free Software Foundation; either version 3 of the License, or
#     (at your option) any later version.
#
# __author__ = 'irwan@kartoza.com'
# __date__ = '13/06/2023'
# __copyright__ = ('Copyright 2023, Unicef')

name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, version-2.0.0, Filter-improvement ]

jobs:
  flake8_py3:
    name: Python Lint
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8.18
          architecture: x64
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
      - name: Display branch
        run: git branch --show-current

      - name: Install flake8
        run: pip install flake8 flake8-docstrings
      - name: Run flake8
        uses: suo/flake8-github-action@releases/v1
        with:
          checkName: 'Python Lint'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build_image:
    needs: flake8_py3
    name: Build Docker Image
    runs-on: ubuntu-latest
    env:
      APP_IMAGE: kartoza/geosight:dev
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
      - name: Display branch
        run: git branch --show-current

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: deployment/docker/Dockerfile
          push: false
          load: true
          target: dev
          tags: ${{ env.APP_IMAGE }}
          cache-from: |
            type=gha,scope=test
            type=gha,scope=prod
          cache-to: type=gha,scope=test

      - name: Save Docker Image as Tar File
        run: docker save -o /tmp/my-image.tar ${{ env.APP_IMAGE }}

      - name: Upload Docker Image Cache
        uses: actions/cache@v3
        with:
          path: /tmp/my-image.tar
          key: ${{ runner.os }}-docker-image-${{ hashFiles('deployment/docker/Dockerfile') }}
          restore-keys: |
            ${{ runner.os }}-docker-image-

  django_app_tests:
    needs: build_image
    name: Django App Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test_suite: [
          { id: "backend-tests", mode: "backend" },
          { id: "e2e-project-creation", mode: "e2e", path: "tests/project_creation", workers: 2, script: "make load-test-data" },
          { id: "e2e-project-view", mode: "e2e", path: "tests/project_view", workers: 3, script: "make load-test-data" },
          { id: "e2e-admin-list", mode: "e2e", path: "tests/admin_list", workers: 3, script: "make load-test-data" },
          { id: "e2e-admin-edit", mode: "e2e", path: "tests/admin_edit", workers: 3, script: "make load-test-data" },
          { id: "e2e-admin-list-filter", mode: "e2e", path: "tests/admin_filter", workers: 3, script: "make load-test-data-for-filter" },
          { id: "e2e-importer", mode: "e2e", path: "tests/importer", workers: 3, script: "make load-test-data" },
          # TODO: We need to fix this
          # { id: "e2e-project-bookmark-embed", mode: "e2e", path: "tests/project_bookmark_embed", workers: 3, script: "make load-test-data" },
        ]
    env:
      APP_IMAGE: kartoza/geosight
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
      - name: Display branch
        run: git branch --show-current

      - name: Restore Docker Image from Cache
        uses: actions/cache@v3
        with:
          path: /tmp/my-image.tar
          key: ${{ runner.os }}-docker-image-${{ hashFiles('deployment/docker/Dockerfile') }}
          restore-keys: |
            ${{ runner.os }}-docker-image-

      - name: Load Docker Image
        run: docker load -i /tmp/my-image.tar

      - name: Run docker-compose services
        working-directory: deployment
        run: |
          echo "Override docker-compose for testing purposes"
          cp docker-compose.test.yml docker-compose.override.yml
          cp .template.env .env
          cd ../
          make devweb
          make wait-db
          docker volume ls
          echo "Deleting frontend geosight_dev"
          docker exec geosight_dev rm -rf /home/web/django_project/frontend
          echo "Deleting frontend geosight_worker"
          docker exec geosight_worker rm -rf /home/web/django_project/frontend
          docker cp ./django_project geosight_dev:/home/web
          docker cp ./django_project geosight_worker:/home/web
          docker restart geosight_dev
          docker restart geosight_worker

      - name: Install requirements
        run: |
          docker cp ./deployment/docker/requirements.txt geosight_dev:/home/web/requirements.txt
          docker cp ./deployment/docker/requirements-dev.txt geosight_dev:/home/web/requirements-dev.txt
          docker exec -i geosight_dev bash -c "pip install -r /home/web/requirements.txt && pip install -r /home/web/requirements-dev.txt"

      - name: Backend (Prepare container and test)
        if: ${{ matrix.test_suite.mode == 'backend' }}
        run: |
          make devweb-entrypoint
          make devweb-test

      - name: E2E (Prepare container)
        if: ${{ matrix.test_suite.mode == 'e2e' }}
        run: |
          make devweb-entrypoint
          make devweb-runserver
          ${{ matrix.test_suite.script }}
          make sleep

      - name: E2E (Test production ready)
        if: ${{ matrix.test_suite.mode == 'e2e' }}
        run: |
          make production-check
          curl http://localhost:2000/
          if [ $? -ne 0 ]; then
            echo "Curl command failed"
            exit 1
          fi

      - name: E2E (Test)
        if: ${{ matrix.test_suite.mode == 'e2e' }}
        working-directory: ./playwright/ci-test
        run: |
          npm install
          npm ci
          npx playwright install --with-deps
          npx playwright test ${{ matrix.test_suite.path }} --workers ${{ matrix.test_suite.workers }}

      - name: Upload Playwright Screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-screenshots-${{ matrix.test_suite.id }}
          path: playwright/ci-test/playwright-results/