/**
* GeoSight is UNICEF's geospatial web-based business intelligence platform.
*
* Contact : geosight-no-reply@unicef.org
*
* .. note:: This program is free software; you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as published by
*     the Free Software Foundation; either version 3 of the License, or
*     (at your option) any later version.
*
* __author__ = 'irwan@kartoza.com'
* __date__ = '13/06/2023'
* __copyright__ = ('Copyright 2023, Unicef')
*/

.page {
  & > header {
    display: none;
  }
}

main {
  flex-grow: 1;
  min-height: 0;
  width: 100%;
  display: flex;

  & > div {
    height: 100%;
    overflow: hidden;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }
}


.AdminContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  background-color: var(--base-to-white-color);
  position: relative;

  & > div {
    border-radius: var(--border-radius);
    background-color: white;
  }

  .AdminForm {
    padding: 0 1rem;
  }

  .AdminContentHeader {
    background: unset;
    border-radius: 0;
    display: flex;
    margin: 0;
    padding: 18px 2rem;
    align-items: center;

    .MuiInputBase-root,
    .MuiButtonBase-root {
      height: var(--base-height);
    }

    .AdminContentHeader-Left {
      flex-grow: 1;
      padding: 0.5rem 0;
      font-size: 16px;

      span, a {
        color: var(--black);
        display: inline-block;
        margin-right: 0.5rem;
        font-weight: 500;
      }

      b {
        a {
          font-weight: 600;
        }
      }
    }

    .AdminContentHeader-Right {
      button {
        margin-left: 0.5rem;
      }
    }
  }

  .AdminBaseInput {
    background-color: var(--base-to-white-color);
    padding: 1rem;

    .MuiFormControl-root {
      background-color: white;
      margin-top: 0 !important;
      width: 100%;

      .MuiOutlinedInput-root {
        width: 100%;

        input {
          padding: var(--base-input-padding);
        }
      }
    }
  }

  .MuiDataGrid-actionsCell {
    grid-gap: 0 !important;
  }

  // With loading
  .AdminContentWithLoading {
    background-color: white;
    flex-grow: 1;
    min-height: 0;
    overflow: auto;

    .AdminLoading {
      display: block;
      flex-grow: 1;

      .AdminLoadingSection {
        height: fit-content;
        width: fit-content;
        display: flex;
        margin: 200px auto auto auto;

        div {
          margin-left: 1rem;
          padding-top: 0.5rem;
        }
      }
    }
  }
}

.ListAdminFilters {
  padding: 0.5rem !important;
  display: flex;
  flex-flow: row wrap;
  margin: 0 1rem 1rem 1rem !important;

  .MultipleSelectWithSearch {
    height: 37px;
  }

  & > div {
    margin-right: 0.5rem;
  }

  .MuiFormControl-root {
    .MuiFormLabel-root {
      top: -6px;
    }
  }

  .MuiInputBase-root {
    width: 150px;

    input {
      padding: 10px;
      padding-right: 0 !important;
    }
  }

  .MuiSelect-icon {
    transform: rotate(0deg) !important;
  }

  .ModalDataSelectorSelected {
    display: none;
  }


  .FilterControl {
    cursor: pointer;
    position: relative;

    input {
      color: rgba(0, 0, 0, 0.6);
    }

    div, input, svg, fieldset {
      cursor: pointer;
    }

    .MuiFormLabel-root {
      background-color: white;
      padding: 0 0.5rem;
      color: rgba(0, 0, 0, 0.6);
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.4375em;
      letter-spacing: 0.00938em;
      display: block;
      transform-origin: top left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: calc(133% - 24px);
      position: absolute;
      left: 0;
      top: 0;
      -webkit-transform: translate(14px, -9px) scale(0.75);
      -moz-transform: translate(14px, -9px) scale(0.75);
      -ms-transform: translate(14px, -9px) scale(0.75);
      transform: translate(14px, -9px) scale(0.75);
      -webkit-transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, -webkit-transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
      transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
      z-index: 1;
      pointer-events: auto;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    input[readonly] {
      background-color: white !important;
      color: rgba(0, 0, 0, 0.6) !important;
      cursor: pointer !important;
      border: inherit !important;
    }
  }
}

.AdminSelectDataForm {
  & > .MuiBox-root {
    height: 90%;

    .MuiBox-root {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 100%;
      max-width: 90%;

      .AdminContent {
        padding-top: 1rem;
      }
    }
  }
}

.SelectAllButton {
  .MuiCircularProgress-root {
    color: var(--primary-color) !important;
    margin-left: 5px;
  }
}